{
  "openapi": "3.1.0",
  "info": {
    "title": "千问AI平台 音色设计 API — 查询音色",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dashscope.aliyuncs.com/api/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/services/audio/tts/customization": {
      "post": {
        "operationId": "queryVoice",
        "summary": "查询音色",
        "description": "返回指定音色的详细信息。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryVoiceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "音色查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryVoiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "音色不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST https://dashscope.aliyuncs.com/api/v1/services/audio/tts/customization \\\n-H \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n-H \"Content-Type: application/json\" \\\n-d '{\n  \"model\": \"qwen-voice-design\",\n  \"input\": {\n    \"action\": \"query\",\n    \"voice\": \"qwen-tts-vd-announcer-voice-20251210145409-a1b2\"\n  }\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\napi_key = os.getenv(\"DASHSCOPE_API_KEY\")\nurl = \"https://dashscope.aliyuncs.com/api/v1/services/audio/tts/customization\"\n\nvoice_to_query = \"qwen-tts-vd-announcer-voice-20251210145409-a1b2\"  # 替换为实际音色名称\n\npayload = {\n  \"model\": \"qwen-voice-design\",  # 此值固定，请勿修改\n  \"input\": {\n    \"action\": \"query\",\n    \"voice\": voice_to_query\n  }\n}\n\nheaders = {\n  \"Authorization\": f\"Bearer {api_key}\",\n  \"Content-Type\": \"application/json\"\n}\n\nresponse = requests.post(url, json=payload, headers=headers)\n\nprint(\"HTTP 状态码：\", response.status_code)\n\nif response.status_code == 200:\n  data = response.json()\n  output = data[\"output\"]\n\n  print(\"音色详情：\")\n  print(f\"- 音色名称：{output['voice']}\")\n  print(f\"- 绑定模型：{output['target_model']}\")\n  print(f\"- 语言：{output['language']}\")\n  print(f\"- 音色描述：{output['voice_prompt']}\")\n  print(f\"- 创建时间：{output['gmt_create']}\")\n  print(f\"- 最后修改时间：{output['gmt_modified']}\")\nelse:\n  print(\"请求失败：\", response.text)"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import com.google.gson.Gson;\nimport com.google.gson.JsonObject;\n\nimport java.io.BufferedReader;\nimport java.io.InputStreamReader;\nimport java.io.OutputStream;\nimport java.net.HttpURLConnection;\nimport java.net.URL;\n\npublic class Main {\n  public static void main(String[] args) {\n    String apiKey = System.getenv(\"DASHSCOPE_API_KEY\");\n    String apiUrl = \"https://dashscope.aliyuncs.com/api/v1/services/audio/tts/customization\";\n    String voiceToQuery = \"qwen-tts-vd-announcer-voice-20251210145409-a1b2\"; // 替换为实际音色名称\n\n    String jsonPayload =\n        \"{\"\n            + \"\\\"model\\\": \\\"qwen-voice-design\\\",\" // 此值固定，请勿修改\n            + \"\\\"input\\\": {\"\n            +     \"\\\"action\\\": \\\"query\\\",\"\n            +     \"\\\"voice\\\": \\\"\" + voiceToQuery + \"\\\"\"\n            + \"}\"\n            + \"}\";\n\n    try {\n      HttpURLConnection con = (HttpURLConnection) new URL(apiUrl).openConnection();\n      con.setRequestMethod(\"POST\");\n      con.setRequestProperty(\"Authorization\", \"Bearer \" + apiKey);\n      con.setRequestProperty(\"Content-Type\", \"application/json\");\n      con.setDoOutput(true);\n\n      try (OutputStream os = con.getOutputStream()) {\n        os.write(jsonPayload.getBytes(\"UTF-8\"));\n      }\n\n      int status = con.getResponseCode();\n      BufferedReader br = new BufferedReader(new InputStreamReader(\n          status >= 200 && status < 300 ? con.getInputStream() : con.getErrorStream(), \"UTF-8\"));\n\n      StringBuilder response = new StringBuilder();\n      String line;\n      while ((line = br.readLine()) != null) {\n        response.append(line);\n      }\n      br.close();\n\n      System.out.println(\"HTTP 状态码：\" + status);\n      System.out.println(\"响应内容：\" + response.toString());\n\n      if (status == 200) {\n        Gson gson = new Gson();\n        JsonObject jsonObj = gson.fromJson(response.toString(), JsonObject.class);\n        JsonObject output = jsonObj.getAsJsonObject(\"output\");\n\n        System.out.println(\"音色详情：\");\n        System.out.println(\"- 音色名称：\" + output.get(\"voice\").getAsString());\n        System.out.println(\"- 绑定模型：\" + output.get(\"target_model\").getAsString());\n        System.out.println(\"- 语言：\" + output.get(\"language\").getAsString());\n        System.out.println(\"- 音色描述：\" + output.get(\"voice_prompt\").getAsString());\n        System.out.println(\"- 创建时间：\" + output.get(\"gmt_create\").getAsString());\n        System.out.println(\"- 最后修改时间：\" + output.get(\"gmt_modified\").getAsString());\n      }\n\n    } catch (Exception e) {\n      e.printStackTrace();\n    }\n  }\n}"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "QueryVoiceRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "音色定制模型。固定为 `qwen-voice-design`。",
            "enum": [
              "qwen-voice-design"
            ],
            "example": "qwen-voice-design"
          },
          "input": {
            "type": "object",
            "required": [
              "action",
              "voice"
            ],
            "properties": {
              "action": {
                "type": "string",
                "description": "操作类型。固定为 `query`。",
                "enum": [
                  "query"
                ],
                "example": "query"
              },
              "voice": {
                "type": "string",
                "description": "待查询的音色名称。可从[查询音色列表](/api-reference/speech-synthesis/voice-design/list-voices)接口的返回结果中获取。",
                "example": "qwen-tts-vd-announcer-voice-20251210145409-a1b2"
              }
            }
          }
        }
      },
      "QueryVoiceResponse": {
        "type": "object",
        "properties": {
          "output": {
            "type": "object",
            "properties": {
              "voice": {
                "type": "string",
                "description": "音色名称。",
                "example": "qwen-tts-vd-announcer-voice-20251210145409-a1b2"
              },
              "target_model": {
                "type": "string",
                "description": "与该音色绑定的语音合成模型。",
                "example": "qwen3-tts-vd-realtime-2026-01-15"
              },
              "language": {
                "type": "string",
                "description": "语言代码。",
                "example": "en"
              },
              "voice_prompt": {
                "type": "string",
                "description": "音色描述。",
                "example": "A composed middle-aged male announcer with a deep, rich and magnetic voice."
              },
              "preview_text": {
                "type": "string",
                "description": "预览文本。",
                "example": "Dear listeners, hello everyone."
              },
              "gmt_create": {
                "type": "string",
                "description": "创建时间。",
                "example": "2025-12-10 14:54:09"
              },
              "gmt_modified": {
                "type": "string",
                "description": "最后修改时间。",
                "example": "2025-12-10 17:47:48"
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer",
                "description": "固定为 `0`，查询操作不计费。",
                "example": 0
              }
            }
          },
          "request_id": {
            "type": "string",
            "description": "请求 ID，可用于问题排查。",
            "example": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "example": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
          },
          "code": {
            "type": "string",
            "description": "错误码。",
            "example": "VoiceNotFound"
          },
          "message": {
            "type": "string",
            "description": "错误信息。",
            "example": "Voice not found: qwen-tts-vd-announcer-voice-xxxx"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "千问AI平台 API Key。详见[获取 API Key](/api-reference/preparation/api-key)。"
      }
    }
  }
}
