{
  "openapi": "3.1.0",
  "info": {
    "title": "Wan 文生图 V1 API",
    "description": "使用 wanx-v1 模型根据文本描述生成图像。本 API 采用异步任务模式：先通过 POST 请求提交任务，再通过 GET 请求轮询结果。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dashscope.aliyuncs.com/api/v1",
      "description": "阿里云 DashScope API"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/services/aigc/text2image/image-synthesis": {
      "post": {
        "operationId": "createWanxV1TextToImageTask",
        "summary": "创建文生图任务",
        "description": "提交 wanx-v1 文生图异步任务。提交后通过 GET /tasks/{task_id} 轮询获取结果。",
        "parameters": [
          {
            "name": "X-DashScope-Async",
            "in": "header",
            "required": true,
            "description": "必须设置为 `enable` 以创建异步任务。如未设置，将返回错误：\"current user api does not support synchronous calls\"。",
            "schema": {
              "type": "string",
              "enum": [
                "enable"
              ]
            }
          },
          {
            "name": "X-DashScope-WorkSpace",
            "in": "header",
            "required": false,
            "description": "指定工作空间，格式为 `ws_{workspaceId}`。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WanxV1TextToImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WanxV1CreateTaskResponse"
                },
                "examples": {
                  "success": {
                    "summary": "任务创建成功",
                    "value": {
                      "output": {
                        "task_status": "PENDING",
                        "task_id": "0385dc79-5ff8-4d82-bcb6-xxxxxx"
                      },
                      "request_id": "4909100c-7b5a-9f92-bfe5-xxxxxx"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashScopeErrorResponse"
                },
                "examples": {
                  "error": {
                    "summary": "请求失败示例",
                    "value": {
                      "code": "InvalidApiKey",
                      "message": "No API-key provided.",
                      "request_id": "7438d53d-6eb8-4596-8835-xxxxxx"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL - 文字作画（正向提示词）",
            "source": "curl -X POST https://dashscope.aliyuncs.com/api/v1/services/aigc/text2image/image-synthesis \\\n    -H 'X-DashScope-Async: enable' \\\n    -H \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n    -H 'Content-Type: application/json' \\\n    -d '{\n    \"model\": \"wanx-v1\",\n    \"input\": {\n        \"prompt\": \"近景镜头，18岁的中国女孩，古代服饰，圆脸，正面看着镜头，民族优雅的服装，商业摄影，室外，电影级光照，半身特写，精致的淡妆，锐利的边缘。\"\n    },\n    \"parameters\": {\n        \"style\": \"<auto>\",\n        \"size\": \"1024*1024\",\n        \"n\": 1\n    }\n}'"
          },
          {
            "lang": "curl",
            "label": "cURL - 文字作画（正向+反向提示词）",
            "source": "curl -X POST https://dashscope.aliyuncs.com/api/v1/services/aigc/text2image/image-synthesis \\\n    -H 'X-DashScope-Async: enable' \\\n    -H \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n    -H 'Content-Type: application/json' \\\n    -d '{\n    \"model\": \"wanx-v1\",\n    \"input\": {\n        \"prompt\": \"近景镜头，18岁的中国女孩，古代服饰，圆脸，正面看着镜头，民族优雅的服装，商业摄影，室外，电影级光照，半身特写，精致的淡妆，锐利的边缘。\",\n        \"negative_prompt\": \"不要使用红色元素\"\n    },\n    \"parameters\": {\n        \"style\": \"<auto>\",\n        \"size\": \"1024*1024\",\n        \"n\": 1\n    }\n}'"
          },
          {
            "lang": "curl",
            "label": "cURL - 参考图生成（基于参考图内容）",
            "source": "curl -X POST https://dashscope.aliyuncs.com/api/v1/services/aigc/text2image/image-synthesis \\\n    -H 'X-DashScope-Async: enable' \\\n    -H \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n    -H 'Content-Type: application/json' \\\n    -d '{\n    \"model\": \"wanx-v1\",\n    \"input\": {\n        \"prompt\": \"一个英气的黑发女人，飞舞着金色的蝴蝶，背景中有若隐若现的水墨竹林，高细节，高质量。\",\n        \"ref_img\": \"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20241031/rguyzt/girl.png\"\n    },\n    \"parameters\": {\n        \"style\": \"<auto>\",\n        \"size\": \"1024*1024\",\n        \"n\": 1,\n        \"ref_strength\": 1.0,\n        \"ref_mode\": \"repaint\"\n    }\n}'"
          },
          {
            "lang": "curl",
            "label": "cURL - 参考图生成（基于参考图风格）",
            "source": "curl -X POST https://dashscope.aliyuncs.com/api/v1/services/aigc/text2image/image-synthesis \\\n    -H 'X-DashScope-Async: enable' \\\n    -H \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n    -H 'Content-Type: application/json' \\\n    -d '{\n    \"model\": \"wanx-v1\",\n    \"input\": {\n        \"prompt\": \"有一只黑色的小猫\",\n        \"ref_img\": \"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20241031/gpqnqy/house.png\"\n    },\n    \"parameters\": {\n        \"style\": \"<auto>\",\n        \"size\": \"1024*1024\",\n        \"n\": 1,\n        \"ref_strength\": 0.7,\n        \"ref_mode\": \"refonly\"\n    }\n}'"
          },
          {
            "lang": "python",
            "label": "Python - 同步调用 - 文字作画",
            "source": "from http import HTTPStatus\nfrom urllib.parse import urlparse, unquote\nfrom pathlib import PurePosixPath\nimport requests\nfrom dashscope import ImageSynthesis\nimport os\n\nprompt = \"近景镜头，18岁的中国女孩，古代服饰，圆脸，正面看着镜头，民族优雅的服装，商业摄影，室外，电影级光照，半身特写，精致的淡妆，锐利的边缘。\"\n\nprint('----sync call, please wait a moment----')\nrsp = ImageSynthesis.call(\n  api_key=os.getenv(\"DASHSCOPE_API_KEY\"),\n  model=ImageSynthesis.Models.wanx_v1,\n  prompt=prompt,\n  n=1,\n  style='<watercolor>',\n  size='1024*1024'\n)\nprint('response: %s' % rsp)\nif rsp.status_code == HTTPStatus.OK:\n  # 在当前目录下保存图片\n  for result in rsp.output.results:\n    file_name = PurePosixPath(unquote(urlparse(result.url).path)).parts[-1]\n    with open('./%s' % file_name, 'wb+') as f:\n      f.write(requests.get(result.url).content)\nelse:\n  print('sync_call Failed, status_code: %s, code: %s, message: %s' %\n        (rsp.status_code, rsp.code, rsp.message))"
          },
          {
            "lang": "python",
            "label": "Python - 同步调用 - 参考图生成",
            "source": "from http import HTTPStatus\nfrom urllib.parse import urlparse, unquote\nfrom pathlib import PurePosixPath\nimport requests\nfrom dashscope import ImageSynthesis\nimport os\n\nprompt = \"近景镜头，18岁的中国女孩，古代服饰，圆脸，正面看着镜头，民族优雅的服装，商业摄影，室外，电影级光照，半身特写，精致的淡妆，锐利的边缘。\"\n\n# 上传参考图方式：url链接和本地路径二选一\n# 若两者存在，ref_img参数优先级更高\n# 使用公网url链接\nref_img = \"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20241031/rguyzt/girl.png\"\n# 使用本地文件路径\nsketch_image_url = './girl.png'\n\nprint('----sync call, please wait a moment----')\nrsp = ImageSynthesis.call(\n  api_key=os.getenv(\"DASHSCOPE_API_KEY\"),\n  model=ImageSynthesis.Models.wanx_v1,\n  prompt=prompt,\n  n=1,\n  style='<auto>',\n  size='1024*1024',\n  ref_mode='repaint',\n  ref_strength=1.0,\n  # sketch_image_url=sketch_image_url,\n  ref_img=ref_img\n)\nprint(rsp)\nif rsp.status_code == HTTPStatus.OK:\n  print(rsp.output)\n  # 保留图片到当前目录\n  for result in rsp.output.results:\n    file_name = PurePosixPath(unquote(urlparse(result.url).path)).parts[-1]\n    with open('./%s' % file_name, 'wb+') as f:\n      f.write(requests.get(result.url).content)\nelse:\n  print('sync_call Failed, status_code: %s, code: %s, message: %s' %\n        (rsp.status_code, rsp.code, rsp.message))"
          },
          {
            "lang": "python",
            "label": "Python - 异步调用 - 文字作画",
            "source": "from http import HTTPStatus\nfrom urllib.parse import urlparse, unquote\nfrom pathlib import PurePosixPath\nimport requests\nfrom dashscope import ImageSynthesis\nimport os\n\nprompt = \"近景镜头，18岁的中国女孩，古代服饰，圆脸，正面看着镜头，民族优雅的服装，商业摄影，室外，电影级光照，半身特写，精致的淡妆，锐利的边缘。\"\n\n\ndef async_call():\n  print('----create task----')\n  task_info = create_async_task()\n  print('----wait task done then save image----')\n  wait_async_task(task_info)\n\n\n# 创建异步任务\ndef create_async_task():\n  rsp = ImageSynthesis.async_call(\n    api_key=os.getenv(\"DASHSCOPE_API_KEY\"),\n    model=ImageSynthesis.Models.wanx_v1,\n    prompt=prompt,\n    n=1,\n    style='<watercolor>',\n    size='1024*1024'\n  )\n  print(rsp)\n  if rsp.status_code == HTTPStatus.OK:\n    print(rsp.output)\n  else:\n    print('Failed, status_code: %s, code: %s, message: %s' %\n          (rsp.status_code, rsp.code, rsp.message))\n  return rsp\n\n\n# 等待异步任务结束\ndef wait_async_task(task):\n  rsp = ImageSynthesis.wait(task, api_key=os.getenv(\"DASHSCOPE_API_KEY\"))\n  print(rsp)\n  if rsp.status_code == HTTPStatus.OK:\n    print(rsp.output)\n    for result in rsp.output.results:\n      file_name = PurePosixPath(unquote(urlparse(result.url).path)).parts[-1]\n      with open('./%s' % file_name, 'wb+') as f:\n        f.write(requests.get(result.url).content)\n  else:\n    print('Failed, status_code: %s, code: %s, message: %s' %\n          (rsp.status_code, rsp.code, rsp.message))\n\n\n# 获取异步任务信息\ndef fetch_task_status(task):\n  status = ImageSynthesis.fetch(task, api_key=os.getenv(\"DASHSCOPE_API_KEY\"))\n  print(status)\n  if status.status_code == HTTPStatus.OK:\n    print(status.output.task_status)\n  else:\n    print('Failed, status_code: %s, code: %s, message: %s' %\n          (status.status_code, status.code, status.message))\n\n\n# 取消异步任务，只有处于PENDING状态的任务才可以取消\ndef cancel_task(task):\n  rsp = ImageSynthesis.cancel(task, api_key=os.getenv(\"DASHSCOPE_API_KEY\"))\n  print(rsp)\n  if rsp.status_code == HTTPStatus.OK:\n    print(rsp.output.task_status)\n  else:\n    print('Failed, status_code: %s, code: %s, message: %s' %\n          (rsp.status_code, rsp.code, rsp.message))\n\n\nif __name__ == '__main__':\n  async_call()"
          },
          {
            "lang": "python",
            "label": "Python - 异步调用 - 参考图生成",
            "source": "from http import HTTPStatus\nfrom urllib.parse import urlparse, unquote\nfrom pathlib import PurePosixPath\nimport requests\nfrom dashscope import ImageSynthesis\nimport os\n\n\nprompt = \"近景镜头，18岁的中国女孩，古代服饰，圆脸，正面看着镜头，民族优雅的服装，商业摄影，室外，电影级光照，半身特写，精致的淡妆，锐利的边缘。\"\n\n# 上传参考图方式：url链接和本地路径二选一\n# 若两者存在，ref_img参数优先级更高\n# 使用公网url链接\nref_img = \"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20241031/rguyzt/girl.png\"\n# 使用本地文件路径\nsketch_image_url = './girl.png'\n\ndef async_call():\n  print('----create task----')\n  task_info = create_async_task()\n  print('----wait task done then save image----')\n  wait_async_task(task_info)\n\n\n# 创建异步任务\ndef create_async_task():\n  rsp = ImageSynthesis.async_call(\n    api_key=os.getenv(\"DASHSCOPE_API_KEY\"),\n    model=ImageSynthesis.Models.wanx_v1,\n    prompt=prompt,\n    n=1,\n    style='<auto>',\n    size='1024*1024',\n    ref_mode='repaint',\n    ref_strength=1.0,\n    # sketch_image_url=sketch_image_url,\n    ref_img=ref_img\n  )\n  print(rsp)\n  if rsp.status_code == HTTPStatus.OK:\n    print(rsp.output)\n  else:\n    print('create_async_task Failed, status_code: %s, code: %s, message: %s' %\n          (rsp.status_code, rsp.code, rsp.message))\n  return rsp\n\n\n# 等待异步任务结束\ndef wait_async_task(task):\n  rsp = ImageSynthesis.wait(task, api_key=os.getenv(\"DASHSCOPE_API_KEY\"))\n  print(rsp)\n  if rsp.status_code == HTTPStatus.OK:\n    for result in rsp.output.results:\n      file_name = PurePosixPath(unquote(urlparse(result.url).path)).parts[-1]\n      with open('./%s' % file_name, 'wb+') as f:\n        f.write(requests.get(result.url).content)\n  else:\n    print('Failed, status_code: %s, code: %s, message: %s' %\n          (rsp.status_code, rsp.code, rsp.message))\n\n\nif __name__ == '__main__':\n  async_call()"
          },
          {
            "lang": "java",
            "label": "Java - 同步调用 - 文字作画",
            "source": "// Copyright (c) Alibaba, Inc. and its affiliates.\n\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesis;\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesisListResult;\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesisParam;\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesisResult;\nimport com.alibaba.dashscope.task.AsyncTaskListParam;\nimport com.alibaba.dashscope.exception.ApiException;\nimport com.alibaba.dashscope.exception.NoApiKeyException;\nimport com.alibaba.dashscope.utils.JsonUtils;\n\npublic class Main {\n    public static void basicCall() throws ApiException, NoApiKeyException {\n        String prompt = \"近景镜头，18岁的中国女孩，古代服饰，圆脸，正面看着镜头，民族优雅的服装，商业摄影，室外，电影级光照，半身特写，精致的淡妆，锐利的边缘。\";\n        ImageSynthesisParam param =\n                ImageSynthesisParam.builder()\n                        .apiKey(System.getenv(\"DASHSCOPE_API_KEY\"))\n                        .model(ImageSynthesis.Models.WANX_V1)\n                        .prompt(prompt)\n                        .style(\"<watercolor>\")\n                        .n(1)\n                        .size(\"1024*1024\")\n                        .build();\n\n        ImageSynthesis imageSynthesis = new ImageSynthesis();\n        ImageSynthesisResult result = null;\n        try {\n            System.out.println(\"---sync call, please wait a moment----\");\n            result = imageSynthesis.call(param);\n        } catch (ApiException | NoApiKeyException e){\n            throw new RuntimeException(e.getMessage());\n        }\n        System.out.println(JsonUtils.toJson(result));\n    }\n\n    public static void listTask() throws ApiException, NoApiKeyException {\n        ImageSynthesis is = new ImageSynthesis();\n        AsyncTaskListParam param = AsyncTaskListParam.builder().build();\n        ImageSynthesisListResult result = is.list(param);\n        System.out.println(result);\n    }\n\n    public void fetchTask() throws ApiException, NoApiKeyException {\n        String taskId = \"your task id\";\n        ImageSynthesis is = new ImageSynthesis();\n        // If set DASHSCOPE_API_KEY environment variable, apiKey can null.\n        ImageSynthesisResult result = is.fetch(taskId, null);\n        System.out.println(result.getOutput());\n        System.out.println(result.getUsage());\n    }\n\n    public static void main(String[] args){\n        try{\n            basicCall();\n            //listTask();\n        }catch(ApiException|NoApiKeyException e){\n            System.out.println(e.getMessage());\n        }\n    }\n}"
          },
          {
            "lang": "java",
            "label": "Java - 同步调用 - 相似图生成",
            "source": "// Copyright (c) Alibaba, Inc. and its affiliates.\n\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesis;\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesisParam;\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesisResult;\nimport com.alibaba.dashscope.exception.ApiException;\nimport com.alibaba.dashscope.exception.NoApiKeyException;\nimport com.alibaba.dashscope.utils.JsonUtils;\n\nimport java.util.HashMap;\n\npublic class Main {\n\n    public void syncCall() {\n        String prompt = \"近景镜头，18岁的中国女孩，古代服饰，圆脸，正面看着镜头，民族优雅的服装，商业摄影，室外，电影级光照，半身特写，精致的淡妆，锐利的边缘。\";\n        //使用公网url链接\n        String refImage = \"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20241031/rguyzt/girl.png\";\n        HashMap<String,Object> parameters = new HashMap<>();\n        parameters.put(\"ref_strength\", 0.5);\n        parameters.put(\"ref_mode\", \"repaint\");\n\n        ImageSynthesisParam param =\n                ImageSynthesisParam.builder()\n                        .apiKey(System.getenv(\"DASHSCOPE_API_KEY\"))\n                        .model(ImageSynthesis.Models.WANX_V1)\n                        .prompt(prompt)\n                        .style(\"<auto>\")\n                        .n(1)\n                        .size(\"1024*1024\")\n                        .refImage(refImage)\n                        .parameters(parameters)\n                        .build();\n\n        ImageSynthesis imageSynthesis = new ImageSynthesis();\n        ImageSynthesisResult result = null;\n        try {\n            System.out.println(\"---sync call, please wait a moment----\");\n            result = imageSynthesis.call(param);\n        } catch (ApiException|NoApiKeyException e){\n            throw new RuntimeException(e.getMessage());\n        }\n        System.out.println(JsonUtils.toJson(result));\n    }\n\n\n    public static void main(String[] args){\n        Main text2Image = new Main();\n        text2Image.syncCall();\n    }\n\n}"
          },
          {
            "lang": "java",
            "label": "Java - 异步调用 - 文字作画",
            "source": "// Copyright (c) Alibaba, Inc. and its affiliates.\n\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesis;\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesisParam;\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesisResult;\nimport com.alibaba.dashscope.exception.ApiException;\nimport com.alibaba.dashscope.exception.NoApiKeyException;\nimport com.alibaba.dashscope.utils.JsonUtils;\n\npublic class Main {\n\n    public void asyncCall() {\n        System.out.println(\"---create task----\");\n        String taskId = this.createAsyncTask();\n        System.out.println(\"---wait task done then return image url----\");\n        this.waitAsyncTask(taskId);\n    }\n\n\n    /**\n     * 创建异步任务\n     * @return taskId\n     */\n    public String createAsyncTask() {\n        String prompt = \"近景镜头，18岁的中国女孩，古代服饰，圆脸，正面看着镜头，民族优雅的服装，商业摄影，室外，电影级光照，半身特写，精致的淡妆，锐利的边缘。\";\n        ImageSynthesisParam param =\n                ImageSynthesisParam.builder()\n                        .apiKey(System.getenv(\"DASHSCOPE_API_KEY\"))\n                        .model(ImageSynthesis.Models.WANX_V1)\n                        .prompt(prompt)\n                        .style(\"<watercolor>\")\n                        .n(1)\n                        .size(\"1024*1024\")\n                        .build();\n\n        ImageSynthesis imageSynthesis = new ImageSynthesis();\n        ImageSynthesisResult result = null;\n        try {\n            result = imageSynthesis.asyncCall(param);\n        } catch (Exception e){\n            throw new RuntimeException(e.getMessage());\n        }\n        System.out.println(JsonUtils.toJson(result));\n        String taskId = result.getOutput().getTaskId();\n        System.out.println(\"taskId=\" + taskId);\n        return taskId;\n    }\n\n\n    /**\n     * 等待异步任务结束\n     * @param taskId 任务id\n     * */\n    public void waitAsyncTask(String taskId) {\n        ImageSynthesis imageSynthesis = new ImageSynthesis();\n        ImageSynthesisResult result = null;\n        try {\n            //环境变量配置后，可在这里将apiKey设置为null\n            result = imageSynthesis.wait(taskId, null);\n        } catch (ApiException | NoApiKeyException e){\n            throw new RuntimeException(e.getMessage());\n        }\n        System.out.println(JsonUtils.toJson(result));\n        System.out.println(JsonUtils.toJson(result.getOutput()));\n    }\n\n\n    public static void main(String[] args){\n        Main main = new Main();\n        main.asyncCall();\n    }\n}"
          },
          {
            "lang": "java",
            "label": "Java - 异步调用 - 相似图生成",
            "source": "// Copyright (c) Alibaba, Inc. and its affiliates.\n\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesis;\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesisParam;\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesisResult;\nimport com.alibaba.dashscope.exception.ApiException;\nimport com.alibaba.dashscope.exception.NoApiKeyException;\nimport com.alibaba.dashscope.utils.JsonUtils;\n\npublic class Main {\n\n    public void asyncCall() {\n        System.out.println(\"---create task----\");\n        String taskId = this.createAsyncTask();\n        System.out.println(\"---wait task done then return image url----\");\n        this.waitAsyncTask(taskId);\n    }\n\n\n    /**\n     * 创建异步任务\n     * @return taskId\n     */\n    public String createAsyncTask() {\n        String prompt = \"近景镜头，18岁的中国女孩，古代服饰，圆脸，正面看着镜头，民族优雅的服装，商业摄影，室外，电影级光照，半身特写，精致的淡妆，锐利的边缘。\";\n        String refImage = \"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20241031/rguyzt/girl.png\";\n        ImageSynthesisParam param =\n                ImageSynthesisParam.builder()\n                        .apiKey(System.getenv(\"DASHSCOPE_API_KEY\"))\n                        .model(ImageSynthesis.Models.WANX_V1)\n                        .prompt(prompt)\n                        .style(\"<auto>\")\n                        .n(1)\n                        .size(\"1024*1024\")\n                        .refImage(refImage)\n                        .build();\n\n        ImageSynthesis imageSynthesis = new ImageSynthesis();\n        ImageSynthesisResult result = null;\n        try {\n            result = imageSynthesis.asyncCall(param);\n        } catch (ApiException | NoApiKeyException e){\n            throw new RuntimeException(e.getMessage());\n        }\n        String taskId = result.getOutput().getTaskId();\n        System.out.println(\"taskId=\" + taskId);\n        return taskId;\n    }\n\n\n    /**\n     * 等待异步任务结束\n     * @param taskId 任务id\n     * */\n    public void waitAsyncTask(String taskId) {\n        ImageSynthesis imageSynthesis = new ImageSynthesis();\n        ImageSynthesisResult result = null;\n        try {\n            // If you have set the DASHSCOPE_API_KEY in the system environment variable, the apiKey can be null.\n            result = imageSynthesis.wait(taskId, null);\n        } catch (ApiException|NoApiKeyException e){\n            throw new RuntimeException(e.getMessage());\n        }\n\n        System.out.println(JsonUtils.toJson(result.getOutput()));\n    }\n\n\n    public static void main(String[] args){\n        Main text2Image = new Main();\n        text2Image.asyncCall();\n    }\n}"
          }
        ]
      }
    },
    "/tasks/{task_id}": {
      "get": {
        "operationId": "getWanxV1TaskResult",
        "summary": "查询任务结果",
        "description": "查询异步文生图任务的状态和结果。每 5 秒轮询一次，直到 `output.task_status` 为 `SUCCEEDED` 或 `FAILED`。",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "description": "任务 ID，由创建任务接口返回的 `output.task_id`。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "查询成功。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WanxV1TaskStatusResponse"
                },
                "examples": {
                  "SUCCEEDED": {
                    "summary": "任务成功",
                    "value": {
                      "request_id": "85eaba38-0185-99d7-8d16-4d9135238846",
                      "output": {
                        "task_id": "86ecf553-d340-4e21-af6e-a0c6a421c010",
                        "task_status": "SUCCEEDED",
                        "results": [
                          {
                            "url": "https://dashscope-result-bj.oss-cn-beijing.aliyuncs.com/123/a1.png"
                          },
                          {
                            "url": "https://dashscope-result-bj.oss-cn-beijing.aliyuncs.com/123/b2.png"
                          }
                        ],
                        "task_metrics": {
                          "TOTAL": 2,
                          "SUCCEEDED": 2,
                          "FAILED": 0
                        }
                      },
                      "usage": {
                        "image_count": 2
                      }
                    }
                  },
                  "SUCCEEDED_PARTIAL": {
                    "summary": "任务成功（部分图像生成失败）",
                    "value": {
                      "request_id": "85eaba38-0185-99d7-8d16-4d9135238847",
                      "output": {
                        "task_id": "86ecf553-d340-4e21-af6e-a0c6a421c010",
                        "task_status": "SUCCEEDED",
                        "results": [
                          {
                            "url": "https://dashscope-result-bj.oss-cn-beijing.aliyuncs.com/123/a1.png"
                          },
                          {
                            "code": "InternalError.Timeout",
                            "message": "An internal timeout error has occurred during execution, please try again later or contact service support."
                          }
                        ],
                        "task_metrics": {
                          "TOTAL": 2,
                          "SUCCEEDED": 1,
                          "FAILED": 1
                        }
                      },
                      "usage": {
                        "image_count": 1
                      }
                    }
                  },
                  "FAILED": {
                    "summary": "任务失败",
                    "value": {
                      "request_id": "e5d70b02-ebd3-98ce-9fe8-759d7d7b107d",
                      "output": {
                        "task_id": "86ecf553-d340-4e21-af6e-a0c6a421c010",
                        "task_status": "FAILED",
                        "code": "InvalidParameter",
                        "message": "The size is not match the allowed size ['1024*1024', '720*1280', '768*1152', '1280*720']",
                        "task_metrics": {
                          "TOTAL": 4,
                          "SUCCEEDED": 0,
                          "FAILED": 4
                        }
                      }
                    }
                  },
                  "RUNNING": {
                    "summary": "任务执行中",
                    "value": {
                      "request_id": "f3a91c2d-7b6e-4d5f-a8c2-xxxxxx",
                      "output": {
                        "task_id": "86ecf553-d340-4e21-af6e-a0c6a421c010",
                        "task_status": "RUNNING",
                        "task_metrics": {
                          "TOTAL": 4,
                          "SUCCEEDED": 0,
                          "FAILED": 0
                        }
                      }
                    }
                  },
                  "PENDING": {
                    "summary": "任务等待中",
                    "value": {
                      "request_id": "c826b6cd-e3f4-4a6f-b3b1-xxxxxx",
                      "output": {
                        "task_id": "86ecf553-d340-4e21-af6e-a0c6a421c010",
                        "task_status": "PENDING",
                        "task_metrics": {
                          "TOTAL": 4,
                          "SUCCEEDED": 0,
                          "FAILED": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashScopeErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET https://dashscope.aliyuncs.com/api/v1/tasks/86ecf553-d340-4e21-xxxxxxxxx \\\n--header \"Authorization: Bearer $DASHSCOPE_API_KEY\""
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "千问AI平台 API Key。详见[获取 API Key](/api-reference/preparation/api-key)。"
      }
    },
    "schemas": {
      "WanxV1TextToImageRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称。",
            "example": "wanx-v1"
          },
          "input": {
            "type": "object",
            "required": [
              "prompt"
            ],
            "description": "输入内容。",
            "properties": {
              "prompt": {
                "type": "string",
                "description": "正向文本描述，即期望图像中出现的内容。最大 800 个字符。",
                "maxLength": 800
              },
              "negative_prompt": {
                "type": "string",
                "description": "反向文本描述，即不希望图像中出现的内容。最大 500 个字符。",
                "maxLength": 500
              },
              "ref_img": {
                "type": "string",
                "description": "参考图像 URL。支持 JPG、PNG、BMP、TIFF、WEBP 格式，大小不超过 10 MB，分辨率在 256×256 至 4096×4096 之间，URL 不能包含中文字符。"
              }
            }
          },
          "parameters": {
            "type": "object",
            "description": "生成参数（可选）。",
            "properties": {
              "style": {
                "type": "string",
                "description": "图像风格。",
                "enum": [
                  "<auto>",
                  "<photography>",
                  "<portrait>",
                  "<3d cartoon>",
                  "<anime>",
                  "<oil painting>",
                  "<watercolor>",
                  "<sketch>",
                  "<chinese painting>",
                  "<flat illustration>"
                ],
                "default": "<auto>"
              },
              "size": {
                "type": "string",
                "description": "图像分辨率，格式为 `宽*高`。",
                "enum": [
                  "1024*1024",
                  "720*1280",
                  "768*1152",
                  "1280*720"
                ],
                "default": "1024*1024"
              },
              "n": {
                "type": "integer",
                "description": "生成图像数量。",
                "minimum": 1,
                "maximum": 4,
                "default": 4
              },
              "seed": {
                "type": "integer",
                "description": "随机种子，用于结果复现。范围 [0, 2147483647]。",
                "minimum": 0,
                "maximum": 2147483647
              },
              "ref_strength": {
                "type": "number",
                "description": "参考图强度，控制生成图像与参考图的相似程度。范围 [0.0, 1.0]，值越大越相似。",
                "minimum": 0.0,
                "maximum": 1.0
              },
              "ref_mode": {
                "type": "string",
                "description": "参考图模式。`repaint` 基于参考图内容生成，`refonly` 基于参考图风格生成。",
                "enum": [
                  "repaint",
                  "refonly"
                ],
                "default": "repaint"
              }
            }
          }
        }
      },
      "WanxV1CreateTaskResponse": {
        "type": "object",
        "properties": {
          "output": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "任务 ID，用于查询任务状态和结果。有效期 24 小时。"
              },
              "task_status": {
                "type": "string",
                "description": "任务状态。",
                "enum": [
                  "PENDING",
                  "RUNNING",
                  "SUCCEEDED",
                  "FAILED",
                  "CANCELED",
                  "UNKNOWN"
                ]
              }
            }
          },
          "request_id": {
            "type": "string",
            "description": "请求唯一标识。"
          }
        }
      },
      "WanxV1TaskStatusResponse": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "请求唯一标识。"
          },
          "output": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "任务 ID。"
              },
              "task_status": {
                "type": "string",
                "description": "任务状态：`PENDING`（等待）、`RUNNING`（运行中）、`SUCCEEDED`（成功）、`FAILED`（失败）、`CANCELED`（已取消）、`UNKNOWN`（未知）。",
                "enum": [
                  "PENDING",
                  "RUNNING",
                  "SUCCEEDED",
                  "FAILED",
                  "CANCELED",
                  "UNKNOWN"
                ]
              },
              "results": {
                "type": "array",
                "description": "生成的图像列表。任务成功后返回。",
                "items": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "图像 URL，有效期 24 小时，请及时下载。"
                    },
                    "code": {
                      "type": "string",
                      "description": "当该图像生成失败时，返回错误码。"
                    },
                    "message": {
                      "type": "string",
                      "description": "当该图像生成失败时，返回错误信息。"
                    }
                  }
                }
              },
              "task_metrics": {
                "type": "object",
                "description": "任务统计信息。",
                "properties": {
                  "TOTAL": {
                    "type": "integer",
                    "description": "图像总数。"
                  },
                  "SUCCEEDED": {
                    "type": "integer",
                    "description": "成功生成的图像数量。"
                  },
                  "FAILED": {
                    "type": "integer",
                    "description": "生成失败的图像数量。"
                  }
                }
              },
              "code": {
                "type": "string",
                "description": "任务失败时的错误码。"
              },
              "message": {
                "type": "string",
                "description": "任务失败时的错误信息。"
              }
            }
          },
          "usage": {
            "type": "object",
            "description": "资源用量统计。",
            "properties": {
              "image_count": {
                "type": "integer",
                "description": "成功生成的图像数量。"
              }
            }
          }
        }
      },
      "DashScopeErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "错误码。"
          },
          "message": {
            "type": "string",
            "description": "错误信息。"
          },
          "request_id": {
            "type": "string",
            "description": "请求唯一标识。"
          }
        }
      }
    }
  }
}
