{
  "openapi": "3.0.0",
  "info": {
    "title": "千问-图像翻译 API 参考",
    "description": "千问-图像翻译模型（Qwen-MT-Image）可精准翻译图像中的文字，并保留原始排版。该模型还支持领域提示、敏感词过滤、术语干预等自定义功能。\n\nHTTP API 采用异步模式，调用流程分两步：\n1. **创建任务获取任务 ID**：发送 POST 请求创建任务，返回 task_id。\n2. **根据任务 ID 查询结果**：使用 task_id 轮询任务状态，直到任务完成并获得图像 URL。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dashscope.aliyuncs.com/api/v1",
      "description": "DashScope API"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/services/aigc/image2image/image-synthesis": {
      "post": {
        "operationId": "createImageTranslationTask",
        "summary": "创建图像翻译任务",
        "description": "创建一个异步图像翻译任务。输入图像需包含支持语种的文字，且源语种或目标语种中至少有一项为中文或英文。",
        "parameters": [
          {
            "name": "X-DashScope-Async",
            "in": "header",
            "required": true,
            "description": "异步处理配置参数。HTTP 请求只支持异步，必须设置为 `enable`。\n\n缺少此请求头将报错：\"current user api does not support synchronous calls\"。",
            "schema": {
              "type": "string",
              "enum": [
                "enable"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageTranslationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功，返回 task_id 用于查询任务状态与结果。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncTaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数无效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashScopeErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --location 'https://dashscope.aliyuncs.com/api/v1/services/aigc/image2image/image-synthesis' \\\n--header 'X-DashScope-Async: enable' \\\n--header \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n--header 'Content-Type: application/json' \\\n--data '{\n    \"model\": \"qwen-mt-image\",\n    \"input\": {\n        \"image_url\": \"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20250916/ordhsk/1.webp\",\n        \"source_lang\": \"zh\",\n        \"target_lang\": \"en\",\n        \"ext\": {\n            \"config\": {\n                \"imageSegment\": false\n            }\n        }\n    }\n}'"
          }
        ]
      }
    },
    "/tasks/{task_id}": {
      "get": {
        "operationId": "getImageTranslationTaskStatus",
        "summary": "根据任务 ID 查询结果",
        "description": "查询图像翻译任务的状态和结果。\n\n注意事项：\n- `task_id` 有效期为 **24 小时**，若 ID 不存在或已过期，任务状态将返回 `UNKNOWN`。\n- 任务成功后返回的 `image_url` 有效期为 **24 小时**，请及时下载并保存图像。",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "description": "任务标识。由创建接口返回的 task_id。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取任务状态和结果。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageTranslationTaskStatusResponse"
                },
                "examples": {
                  "SUCCEEDED": {
                    "summary": "任务执行成功（存在可翻译内容）",
                    "value": {
                      "request_id": "5fec62eb-bf94-91f8-b9f4-f7f758e4e27e",
                      "output": {
                        "task_id": "72c52225-8444-4cab-ad0c-xxxxxx",
                        "task_status": "SUCCEEDED",
                        "submit_time": "2025-08-13 18:11:16.954",
                        "scheduled_time": "2025-08-13 18:11:17.003",
                        "end_time": "2025-08-13 18:11:23.860",
                        "image_url": "http://dashscope-result-bj.oss-cn-beijing.aliyuncs.com/xxx?Expires=xxx"
                      },
                      "usage": {
                        "image_count": 1
                      }
                    }
                  },
                  "SUCCEEDED (no text)": {
                    "summary": "任务执行成功（无可翻译内容）",
                    "value": {
                      "request_id": "0ccb84aa-e034-431d-9d54-08e14fxxxxxx",
                      "output": {
                        "task_id": "34ec4208-97d6-498b-a390-9173f7xxxxxx",
                        "task_status": "SUCCEEDED",
                        "submit_time": "2026-01-12 17:56:23.625",
                        "scheduled_time": "2026-01-12 17:56:23.656",
                        "end_time": "2026-01-12 17:56:25.324",
                        "image_url": "http://dashscope-result-bj.oss-cn-beijing.aliyuncs.com/xxx.jpg?Expires=xxx",
                        "message": "No text detected for translation"
                      },
                      "usage": {
                        "image_count": 1
                      }
                    }
                  },
                  "FAILED": {
                    "summary": "任务执行失败",
                    "value": {
                      "request_id": "daad9007-6acd-9fb3-a6bc-d55902b9c9ff",
                      "output": {
                        "task_id": "fe8aa114-d9f1-4f76-b598-xxxxxx",
                        "task_status": "FAILED",
                        "submit_time": "2025-08-20 09:54:21.911",
                        "scheduled_time": "2025-08-20 09:54:21.984",
                        "end_time": "2025-08-20 12:55:00.818",
                        "code": "InternalError",
                        "message": "xxxxxx"
                      }
                    }
                  },
                  "RUNNING": {
                    "summary": "任务处理中",
                    "value": {
                      "request_id": "c1209113-8437-424f-a386-xxxxxx",
                      "output": {
                        "task_id": "72c52225-8444-4cab-ad0c-xxxxxx",
                        "task_status": "RUNNING"
                      }
                    }
                  },
                  "PENDING": {
                    "summary": "任务排队中",
                    "value": {
                      "request_id": "4909100c-7b5a-9f92-bfe5-xxxxxx",
                      "output": {
                        "task_status": "PENDING",
                        "task_id": "0385dc79-5ff8-4d82-bcb6-xxxxxx"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求参数无效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashScopeErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL - 查询任务结果",
            "source": "# 将 86ecf553-d340-4e21-xxxxxxxxx 替换为真实的 task_id\ncurl -X GET https://dashscope.aliyuncs.com/api/v1/tasks/86ecf553-d340-4e21-xxxxxxxxx \\\n  --header \"Authorization: Bearer $DASHSCOPE_API_KEY\""
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "千问AI平台 API Key。详见[获取 API Key](/api-reference/preparation/api-key)。"
      }
    },
    "schemas": {
      "ImageTranslationRequest": {
        "type": "object",
        "description": "图像翻译请求体。使用 qwen-mt-image 模型进行图像翻译。",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "qwen-mt-image"
            ],
            "description": "模型名称，必须设置为 `qwen-mt-image`。"
          },
          "input": {
            "type": "object",
            "description": "输入参数对象。",
            "required": [
              "image_url",
              "source_lang",
              "target_lang"
            ],
            "properties": {
              "image_url": {
                "type": "string",
                "description": "图像的公网可访问 URL，支持 HTTP 和 HTTPS 协议。\n\n- **格式限制**：JPG、JPEG、PNG、BMP、PNM、PPM、TIFF、WEBP\n- **尺寸限制**：图像的宽度和高度均需在 15-8192 像素范围内，宽高比在 1:10 至 10:1 范围内\n- **大小限制**：不超过 100MB\n- URL 地址中不能包含中文字符"
              },
              "source_lang": {
                "type": "string",
                "description": "源语种。支持语种全称、语种编码或 `auto`（自动检测），对大小写不敏感。\n\n与 `target_lang` 不同，且至少有一项为中文或英文。\n\n支持的源语种：`zh`（简体中文）、`en`（英文）、`ko`（韩语）、`ja`（日语）、`ru`（俄语）、`es`（西班牙语）、`fr`（法语）、`pt`（葡萄牙语）、`it`（意大利语）、`vi`（越南语）、`de`（德语）。\n\n示例：`Chinese`、`en`、`auto`"
              },
              "target_lang": {
                "type": "string",
                "description": "目标语种。支持语种全称或语种编码，对大小写不敏感。\n\n与 `source_lang` 不同，且至少有一项为中文或英文。\n\n支持的目标语种：`zh`（简体中文）、`en`（英文）、`ko`（韩语）、`ja`（日语）、`ru`（俄语）、`es`（西班牙语）、`fr`（法语）、`pt`（葡萄牙语）、`it`（意大利语）、`vi`（越南语）、`ms`（马来语）、`th`（泰语）、`id`（印尼语）、`ar`（阿拉伯语）。\n\n注意：德语（`de`）仅支持作为源语种，不支持作为目标语种。\n\n示例：`Chinese`、`en`"
              },
              "ext": {
                "type": "object",
                "description": "可选扩展参数。",
                "properties": {
                  "domainHint": {
                    "type": "string",
                    "description": "领域提示。为使译文风格更贴合特定领域，可以使用英文描述使用场景、译文风格等需求。为确保翻译效果，建议不超过 200 个英文单词。\n\n当前只支持英文。"
                  },
                  "sensitives": {
                    "type": "array",
                    "description": "敏感词列表，用于在翻译前过滤图像中**完全匹配**的文本，**对大小写敏感**。敏感词的语种可与源语种不一致，支持全部源语种和目标语种。建议单次请求添加的敏感词不超过 50 个。\n\n示例：[\"全场9折\", \"七天无理由退换\"]",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 50
                  },
                  "terminologies": {
                    "type": "array",
                    "description": "术语干预，为特定术语设定译文，以满足特定领域的翻译需求。术语对的语种需要与 `source_lang` 和 `target_lang` 对应。\n\n示例：[{\"src\": \"应用程序接口\", \"tgt\": \"API\"}, {\"src\": \"机器学习\", \"tgt\": \"ML\"}]",
                    "items": {
                      "type": "object",
                      "required": [
                        "src",
                        "tgt"
                      ],
                      "properties": {
                        "src": {
                          "type": "string",
                          "description": "术语的源文本，语种需要与源语种 `source_lang` 一致。"
                        },
                        "tgt": {
                          "type": "string",
                          "description": "术语的目标文本，语种需要与目标语种 `target_lang` 一致。"
                        }
                      }
                    }
                  },
                  "config": {
                    "type": "object",
                    "description": "额外配置选项。",
                    "properties": {
                      "imageSegment": {
                        "type": "boolean",
                        "default": false,
                        "description": "是否开启图像主体分割。开启后，将跳过对图像中主体（如人物、商品、Logo）上文字的翻译。\n\n- `false`：（默认值）翻译图像中的所有文字\n- `true`：不翻译图像主体的文字\n\n旧版本参数名为 `skipImgSegment`，为保持兼容仍受支持，但建议使用新的 `imageSegment` 参数。"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AsyncTaskSubmitResponse": {
        "type": "object",
        "description": "异步任务成功创建时的响应。",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "请求唯一标识。可用于请求明细溯源和问题排查。"
          },
          "output": {
            "type": "object",
            "description": "任务输出信息。",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "任务 ID。查询有效期 24 小时。"
              },
              "task_status": {
                "type": "string",
                "enum": [
                  "PENDING"
                ],
                "description": "任务状态。新创建的任务始终返回 `PENDING`。"
              }
            }
          }
        }
      },
      "ImageTranslationTaskStatusResponse": {
        "type": "object",
        "description": "查询图像翻译任务状态和结果时的响应。",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "请求唯一标识。可用于请求明细溯源和问题排查。"
          },
          "output": {
            "type": "object",
            "description": "任务输出信息。",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "任务 ID。查询有效期 24 小时。"
              },
              "task_status": {
                "type": "string",
                "enum": [
                  "PENDING",
                  "RUNNING",
                  "SUCCEEDED",
                  "FAILED",
                  "CANCELED",
                  "UNKNOWN"
                ],
                "description": "任务状态。\n- PENDING：任务排队中\n- RUNNING：任务处理中\n- SUCCEEDED：任务执行成功\n- FAILED：任务执行失败\n- CANCELED：任务已取消\n- UNKNOWN：任务不存在或状态未知"
              },
              "submit_time": {
                "type": "string",
                "description": "任务提交时间。格式为 YYYY-MM-DD HH:mm:ss.SSS。"
              },
              "scheduled_time": {
                "type": "string",
                "description": "任务执行时间。格式为 YYYY-MM-DD HH:mm:ss.SSS。"
              },
              "end_time": {
                "type": "string",
                "description": "任务完成时间。格式为 YYYY-MM-DD HH:mm:ss.SSS。"
              },
              "image_url": {
                "type": "string",
                "description": "模型生成图像的 URL 地址，与原图长宽相同，JPG 格式。有效期为 24 小时，请及时下载并保存图像。"
              },
              "message": {
                "type": "string",
                "description": "附加信息。通常不会返回此参数，仅在图像中无可翻译文本时，任务仍会成功并正常计费，但会返回 `No text detected for translation` 的提示；任务失败时会返回失败详情。"
              },
              "code": {
                "type": "string",
                "description": "请求失败的错误码。请求成功时不会返回此参数。"
              }
            }
          },
          "usage": {
            "type": "object",
            "description": "输出信息统计。只对成功的结果计数。",
            "properties": {
              "image_count": {
                "type": "integer",
                "description": "模型生成图像的数量，固定为 1。"
              }
            }
          }
        }
      },
      "DashScopeErrorResponse": {
        "type": "object",
        "description": "DashScope API 错误响应。",
        "properties": {
          "code": {
            "type": "string",
            "description": "错误码（如 `InvalidApiKey`、`InvalidParameter`）。"
          },
          "message": {
            "type": "string",
            "description": "人类可读的错误描述。"
          },
          "request_id": {
            "type": "string",
            "description": "请求唯一标识。"
          }
        }
      }
    }
  }
}
