{
  "openapi": "3.1.0",
  "info": {
    "title": "爱诗 PixVerse 视频超清 API",
    "description": "爱诗 PixVerse 视频超清模型支持将输入视频进行超分辨率处理，固定输出 4K（3840×2160）分辨率视频。API 采用异步调用方式：先 POST 创建任务获取 task_id，再 GET 轮询查询任务状态与结果。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dashscope.aliyuncs.com/api/v1",
      "description": "千问AI平台"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/services/aigc/video-generation/video-synthesis": {
      "post": {
        "operationId": "createPixVerseUpscale",
        "summary": "创建视频超清任务",
        "description": "提交视频超清异步任务，返回 task_id 用于后续轮询查询。task_id 有效期为 24 小时，请勿重复创建任务。",
        "parameters": [
          {
            "name": "X-DashScope-Async",
            "in": "header",
            "required": true,
            "description": "异步处理配置参数。HTTP 请求只支持异步，必须设置为 `enable`。缺少此请求头将报错：\"current user api does not support synchronous calls\"。",
            "schema": {
              "type": "string",
              "enum": [
                "enable"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PixVerseUpscaleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncTaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashScopeErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL - 视频超清",
            "source": "curl --location 'https://dashscope.aliyuncs.com/api/v1/services/aigc/video-generation/video-synthesis' \\\n  -H 'X-DashScope-Async: enable' \\\n  -H \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"model\": \"pixverse/pixverse-upscale\",\n    \"input\": {\n        \"media\": [\n            {\n                \"type\": \"video_url\",\n                \"url\": \"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20250919/wqefue/mix_input_video.mp4\"\n            }\n        ]\n    },\n    \"parameters\": {\n        \"seed\": 12345,\n        \"watermark\": true\n    }\n}'"
          }
        ]
      }
    },
    "/tasks/{task_id}": {
      "get": {
        "operationId": "getPixVerseUpscaleTaskStatus",
        "summary": "查询任务结果",
        "description": "根据 task_id 查询任务状态与结果。建议采用轮询机制，设置合理的查询间隔（如 15 秒）来获取结果。任务状态流转：PENDING（排队中）→ RUNNING（处理中）→ SUCCEEDED（成功）/ FAILED（失败）。",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "description": "任务 ID，来自创建任务接口的返回。查询有效期 24 小时。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取任务状态",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PixVerseUpscaleTaskStatusResponse"
                },
                "examples": {
                  "SUCCEEDED": {
                    "summary": "任务执行成功",
                    "value": {
                      "request_id": "19171ea5-9efb-4d35-93a1-xxxxxx",
                      "output": {
                        "task_id": "7ed706b7-a9a9-4319-820c-xxxxxx",
                        "task_status": "SUCCEEDED",
                        "submit_time": "2026-07-14 10:34:41.630",
                        "scheduled_time": "2026-07-14 10:34:41.655",
                        "end_time": "2026-07-14 10:35:12.725",
                        "video_url": "https://media.pixverseai.cn/xxxx.mp4"
                      },
                      "usage": {
                        "duration": 6,
                        "size": "3840*2156",
                        "fps": 24,
                        "video_count": 1,
                        "SR": "4K"
                      }
                    }
                  },
                  "FAILED": {
                    "summary": "任务执行失败",
                    "value": {
                      "request_id": "e5d70b02-ebd3-98ce-9fe8-759d7d7b107d",
                      "output": {
                        "task_id": "86ecf553-d340-4e21-af6e-a0c6a421c010",
                        "task_status": "FAILED",
                        "code": "InvalidParameter",
                        "message": "Invalid field type or value. Please verify your input data."
                      }
                    }
                  },
                  "RUNNING": {
                    "summary": "任务处理中",
                    "value": {
                      "request_id": "c1209113-8437-424f-a386-xxxxxx",
                      "output": {
                        "task_id": "86ecf553-d340-4e21-af6e-a0c6a421c010",
                        "task_status": "RUNNING",
                        "submit_time": "2026-07-14 10:34:41.630",
                        "scheduled_time": "2026-07-14 10:34:41.655"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashScopeErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL - 查询任务结果",
            "source": "# 将 {task_id} 替换为创建任务接口返回的 task_id\ncurl -X GET 'https://dashscope.aliyuncs.com/api/v1/tasks/{task_id}' \\\n  -H \"Authorization: Bearer $DASHSCOPE_API_KEY\""
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "千问AI平台 API Key。详见[获取 API Key](/api-reference/preparation/api-key)。"
      }
    },
    "schemas": {
      "PixVerseUpscaleRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称。固定值：`pixverse/pixverse-upscale`。",
            "enum": [
              "pixverse/pixverse-upscale"
            ],
            "example": "pixverse/pixverse-upscale"
          },
          "input": {
            "type": "object",
            "required": [
              "media"
            ],
            "description": "输入的基本信息，包括待超分的视频。",
            "properties": {
              "media": {
                "type": "array",
                "description": "媒体资源列表。必须包含 1 个视频元素。",
                "items": {
                  "type": "object",
                  "required": [
                    "type",
                    "url"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "媒体素材类型。固定值为 `video_url`。",
                      "enum": [
                        "video_url"
                      ]
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "输入视频的 URL 地址，必须为公网可访问的 URL，支持 HTTP 或 HTTPS 协议。视频限制：格式为 MP4、MOV、WebM，分辨率不支持 4K 及以上，文件大小不超过 100MB，时长不超过 30 秒。",
                      "example": "https://xxx/xxx.mp4"
                    }
                  }
                }
              }
            }
          },
          "parameters": {
            "$ref": "#/components/schemas/PixVerseUpscaleParameters"
          }
        }
      },
      "PixVerseUpscaleParameters": {
        "type": "object",
        "description": "视频生成参数。如设置是否添加水印、随机种子等。",
        "properties": {
          "watermark": {
            "type": "boolean",
            "description": "是否添加水印标识，水印位于视频右下角，文案固定为“AI生成”。",
            "default": false,
            "enum": [
              false,
              true
            ]
          },
          "seed": {
            "type": "integer",
            "description": "随机数种子，取值范围为 [0, 2147483647]。未指定时，系统自动生成随机种子。若需提升生成结果的可复现性，建议固定 seed 值。请注意，由于模型生成具有概率性，即使使用相同 seed，也不能保证每次生成结果完全一致。",
            "minimum": 0,
            "maximum": 2147483647
          }
        }
      },
      "AsyncTaskSubmitResponse": {
        "type": "object",
        "description": "异步任务提交响应。请保存 task_id，用于查询任务状态与结果。",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "请求唯一标识。可用于请求明细溯源和问题排查。",
            "example": "4909100c-7b5a-9f92-bfe5-xxxxxx"
          },
          "output": {
            "type": "object",
            "description": "任务输出信息。",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "任务 ID。查询有效期 24 小时。",
                "example": "0385dc79-5ff8-4d82-bcb6-xxxxxx"
              },
              "task_status": {
                "type": "string",
                "description": "任务状态。初始状态通常为 `PENDING`。",
                "enum": [
                  "PENDING",
                  "RUNNING",
                  "SUCCEEDED",
                  "FAILED"
                ]
              }
            }
          }
        }
      },
      "PixVerseUpscaleTaskStatusResponse": {
        "type": "object",
        "description": "任务状态查询响应。",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "请求唯一标识。可用于请求明细溯源和问题排查。"
          },
          "output": {
            "type": "object",
            "description": "任务输出信息。",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "任务 ID。查询有效期 24 小时。"
              },
              "task_status": {
                "type": "string",
                "description": "任务状态。状态流转：PENDING（排队中）→ RUNNING（处理中）→ SUCCEEDED（成功）/ FAILED（失败）。CANCELED 表示任务已取消，UNKNOWN 表示任务不存在或状态未知。",
                "enum": [
                  "PENDING",
                  "RUNNING",
                  "SUCCEEDED",
                  "FAILED",
                  "CANCELED",
                  "UNKNOWN"
                ]
              },
              "submit_time": {
                "type": "string",
                "description": "任务提交时间。格式为 YYYY-MM-DD HH:mm:ss.SSS。"
              },
              "scheduled_time": {
                "type": "string",
                "description": "任务执行时间。格式为 YYYY-MM-DD HH:mm:ss.SSS。"
              },
              "end_time": {
                "type": "string",
                "description": "任务完成时间。格式为 YYYY-MM-DD HH:mm:ss.SSS。仅在任务状态为 SUCCEEDED 或 FAILED 时返回。"
              },
              "video_url": {
                "type": "string",
                "format": "uri",
                "description": "视频 URL。仅在 task_status 为 SUCCEEDED 时返回。视频格式为 MP4（H.264 编码）。视频链接暂无过期时间，但不建议将其作为长期存储依赖，请及时下载。",
                "example": "https://media.pixverseai.cn/xxxx.mp4"
              },
              "code": {
                "type": "string",
                "description": "请求失败的错误码。请求成功时不会返回此参数。"
              },
              "message": {
                "type": "string",
                "description": "请求失败的详细信息。请求成功时不会返回此参数。"
              }
            }
          },
          "usage": {
            "type": "object",
            "description": "输出信息统计，只对成功的结果计数。",
            "properties": {
              "duration": {
                "type": "integer",
                "description": "计费时长（秒）。为用户上传视频时长向上取整。"
              },
              "size": {
                "type": "string",
                "description": "输出视频的分辨率。固定输出 4K（3840×2160）。"
              },
              "fps": {
                "type": "integer",
                "description": "输出视频的帧率。"
              },
              "video_count": {
                "type": "integer",
                "description": "视频数量，固定为 1。"
              },
              "SR": {
                "type": "string",
                "description": "输出视频的分辨率档位。"
              }
            }
          }
        }
      },
      "DashScopeErrorResponse": {
        "type": "object",
        "description": "DashScope API 错误响应。",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "请求唯一标识。可用于问题排查。"
          },
          "code": {
            "type": "string",
            "description": "错误码。",
            "example": "InvalidParameter"
          },
          "message": {
            "type": "string",
            "description": "错误详情。",
            "example": "Invalid model name"
          }
        }
      }
    }
  }
}
