{
  "openapi": "3.1.0",
  "info": {
    "title": "爱诗 PixVerse 视频动作模仿 API",
    "description": "爱诗 PixVerse 视频动作模仿模型支持输入人物图片和动作参考视频，将视频中的动作迁移到目标角色上，生成角色复现相同动作的新视频。适用于动作模仿、编舞复刻、角色动画生成等场景。API 采用异步调用方式：先 POST 创建任务获取 task_id，再 GET 轮询查询任务状态与结果。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dashscope.aliyuncs.com/api/v1",
      "description": "千问AI平台"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/services/aigc/video-generation/video-synthesis": {
      "post": {
        "operationId": "createPixVerseMotionControl",
        "summary": "创建视频动作模仿任务",
        "description": "提交视频动作模仿异步任务，返回 task_id 用于后续轮询查询。task_id 有效期为 24 小时，请勿重复创建任务。",
        "parameters": [
          {
            "name": "X-DashScope-Async",
            "in": "header",
            "required": true,
            "description": "异步处理配置参数。HTTP 请求只支持异步，必须设置为 `enable`。缺少此请求头将报错：\"current user api does not support synchronous calls\"。",
            "schema": {
              "type": "string",
              "enum": [
                "enable"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PixVerseMotionControlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncTaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashScopeErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL - 视频动作模仿",
            "source": "curl --location 'https://dashscope.aliyuncs.com/api/v1/services/aigc/video-generation/video-synthesis' \\\n  -H 'X-DashScope-Async: enable' \\\n  -H \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"model\": \"pixverse/pixverse-motioncontrol\",\n    \"input\": {\n        \"media\": [\n            {\n                \"type\": \"image_url\",\n                \"url\": \"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20250919/adsyrp/move_input_image.jpeg\"\n            },\n            {\n                \"type\": \"video_url\",\n                \"url\": \"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20250919/kaakcn/move_input_video.mp4\"\n            }\n        ]\n    },\n    \"parameters\": {\n        \"resolution\": \"720P\",\n        \"watermark\": true\n    }\n}'"
          }
        ]
      }
    },
    "/tasks/{task_id}": {
      "get": {
        "operationId": "getPixVerseMotionControlTaskStatus",
        "summary": "查询任务结果",
        "description": "根据 task_id 查询任务状态与结果。建议采用轮询机制，设置合理的查询间隔（如 15 秒）来获取结果。任务状态流转：PENDING（排队中）→ RUNNING（处理中）→ SUCCEEDED（成功）/ FAILED（失败）。",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "description": "任务 ID，来自创建任务接口的返回。查询有效期 24 小时。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取任务状态",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PixVerseMotionControlTaskStatusResponse"
                },
                "examples": {
                  "SUCCEEDED": {
                    "summary": "任务执行成功",
                    "value": {
                      "request_id": "43aa3b9f-71c7-98e0-9529-xxxxxx",
                      "output": {
                        "task_id": "e699df60-145c-464f-ab6a-xxxxxx",
                        "task_status": "SUCCEEDED",
                        "submit_time": "2026-07-14 18:15:04.045",
                        "scheduled_time": "2026-07-14 18:15:04.093",
                        "end_time": "2026-07-14 18:16:17.412",
                        "video_url": "https://media.pixverseai.cn/xxxx.mp4"
                      },
                      "usage": {
                        "duration": 6,
                        "size": "1280*704",
                        "fps": 24,
                        "video_count": 1,
                        "SR": "720"
                      }
                    }
                  },
                  "FAILED": {
                    "summary": "任务执行失败",
                    "value": {
                      "request_id": "e5d70b02-ebd3-98ce-9fe8-759d7d7b107d",
                      "output": {
                        "task_id": "86ecf553-d340-4e21-af6e-a0c6a421c010",
                        "task_status": "FAILED",
                        "code": "InvalidParameter",
                        "message": "Invalid field type or value. Please verify your input data."
                      }
                    }
                  },
                  "RUNNING": {
                    "summary": "任务处理中",
                    "value": {
                      "request_id": "c1209113-8437-424f-a386-xxxxxx",
                      "output": {
                        "task_id": "86ecf553-d340-4e21-af6e-a0c6a421c010",
                        "task_status": "RUNNING",
                        "submit_time": "2026-07-14 18:15:04.045",
                        "scheduled_time": "2026-07-14 18:15:04.093"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashScopeErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL - 查询任务结果",
            "source": "# 将 {task_id} 替换为创建任务接口返回的 task_id\ncurl -X GET 'https://dashscope.aliyuncs.com/api/v1/tasks/{task_id}' \\\n  -H \"Authorization: Bearer $DASHSCOPE_API_KEY\""
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "千问AI平台 API Key。详见[获取 API Key](/api-reference/preparation/api-key)。"
      }
    },
    "schemas": {
      "PixVerseMotionControlRequest": {
        "type": "object",
        "required": [
          "model",
          "input",
          "parameters"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称。固定值：`pixverse/pixverse-motioncontrol`。",
            "enum": [
              "pixverse/pixverse-motioncontrol"
            ],
            "example": "pixverse/pixverse-motioncontrol"
          },
          "input": {
            "type": "object",
            "required": [
              "media"
            ],
            "description": "输入的基本信息，包括角色图片和动作视频。",
            "properties": {
              "media": {
                "type": "array",
                "description": "媒体素材列表，必须包含 1 个 `image_url` 类型的角色图片和 1 个 `video_url` 类型的动作视频。",
                "items": {
                  "type": "object",
                  "required": [
                    "type",
                    "url"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "媒体类型。",
                      "enum": [
                        "image_url",
                        "video_url"
                      ]
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "媒体资源的 URL 地址。`image_url`：角色图片的 URL，建议单人主体、画面清晰，文件大小不超过 20MB，最长边不超过 10000px，支持 PNG、JPEG、WebP 格式。`video_url`：动作视频的 URL，建议为单人主体、画面动作清晰，文件大小不超过 100MB，时长不超过 30 秒，支持 MP4、MOV 格式。"
                    }
                  }
                }
              }
            }
          },
          "parameters": {
            "$ref": "#/components/schemas/PixVerseMotionControlParameters"
          }
        }
      },
      "PixVerseMotionControlParameters": {
        "type": "object",
        "required": [
          "resolution"
        ],
        "description": "视频生成参数。如设置输出视频清晰度、是否添加水印等。",
        "properties": {
          "resolution": {
            "type": "string",
            "description": "输出视频的清晰度。实际输出分辨率会根据输入素材的宽高比自适应调整。",
            "enum": [
              "360P",
              "540P",
              "720P"
            ]
          },
          "watermark": {
            "type": "boolean",
            "description": "是否添加水印标识，水印位于视频右下角，文案固定为“AI生成”。",
            "default": false,
            "enum": [
              false,
              true
            ]
          }
        }
      },
      "AsyncTaskSubmitResponse": {
        "type": "object",
        "description": "异步任务提交响应。请保存 task_id，用于查询任务状态与结果。",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "请求唯一标识。可用于请求明细溯源和问题排查。",
            "example": "4909100c-7b5a-9f92-bfe5-xxxxxx"
          },
          "output": {
            "type": "object",
            "description": "任务输出信息。",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "任务 ID。查询有效期 24 小时。",
                "example": "0385dc79-5ff8-4d82-bcb6-xxxxxx"
              },
              "task_status": {
                "type": "string",
                "description": "任务状态。初始状态通常为 `PENDING`。",
                "enum": [
                  "PENDING",
                  "RUNNING",
                  "SUCCEEDED",
                  "FAILED"
                ]
              }
            }
          }
        }
      },
      "PixVerseMotionControlTaskStatusResponse": {
        "type": "object",
        "description": "任务状态查询响应。",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "请求唯一标识。可用于请求明细溯源和问题排查。"
          },
          "output": {
            "type": "object",
            "description": "任务输出信息。",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "任务 ID。查询有效期 24 小时。"
              },
              "task_status": {
                "type": "string",
                "description": "任务状态。状态流转：PENDING（排队中）→ RUNNING（处理中）→ SUCCEEDED（成功）/ FAILED（失败）。CANCELED 表示任务已取消，UNKNOWN 表示任务不存在或状态未知。",
                "enum": [
                  "PENDING",
                  "RUNNING",
                  "SUCCEEDED",
                  "FAILED",
                  "CANCELED",
                  "UNKNOWN"
                ]
              },
              "submit_time": {
                "type": "string",
                "description": "任务提交时间。格式为 YYYY-MM-DD HH:mm:ss.SSS。"
              },
              "scheduled_time": {
                "type": "string",
                "description": "任务执行时间。格式为 YYYY-MM-DD HH:mm:ss.SSS。"
              },
              "end_time": {
                "type": "string",
                "description": "任务完成时间。格式为 YYYY-MM-DD HH:mm:ss.SSS。仅在任务状态为 SUCCEEDED 或 FAILED 时返回。"
              },
              "video_url": {
                "type": "string",
                "format": "uri",
                "description": "视频 URL。仅在 task_status 为 SUCCEEDED 时返回。视频格式为 MP4（H.264 编码）。视频链接暂无过期时间，但不建议将其作为长期存储依赖，请及时下载。",
                "example": "https://media.pixverseai.cn/xxxx.mp4"
              },
              "code": {
                "type": "string",
                "description": "请求失败的错误码。请求成功时不会返回此参数。"
              },
              "message": {
                "type": "string",
                "description": "请求失败的详细信息。请求成功时不会返回此参数。"
              }
            }
          },
          "usage": {
            "type": "object",
            "description": "输出信息统计，只对成功的结果计数。",
            "properties": {
              "duration": {
                "type": "integer",
                "description": "计费时长（秒）。输出视频时长与输入的动作参考视频时长一致，计费按向上取整。"
              },
              "size": {
                "type": "string",
                "description": "输出视频的分辨率。"
              },
              "fps": {
                "type": "integer",
                "description": "输出视频的帧率。"
              },
              "video_count": {
                "type": "integer",
                "description": "视频数量，固定为 1。"
              },
              "SR": {
                "type": "string",
                "description": "输出视频的分辨率档位。"
              }
            }
          }
        }
      },
      "DashScopeErrorResponse": {
        "type": "object",
        "description": "DashScope API 错误响应。",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "请求唯一标识。可用于问题排查。"
          },
          "code": {
            "type": "string",
            "description": "错误码。",
            "example": "InvalidParameter"
          },
          "message": {
            "type": "string",
            "description": "错误详情。",
            "example": "Invalid model name"
          }
        }
      }
    }
  }
}
