{
  "openapi": "3.1.0",
  "info": {
    "title": "千问AI平台 声音克隆 API",
    "description": "从音频克隆声音，用于 Qwen TTS 模型的语音合成。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dashscope.aliyuncs.com/api/v1",
      "description": "中国大陆"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/services/audio/tts/customization": {
      "post": {
        "operationId": "createClonedVoice",
        "summary": "创建克隆声音",
        "description": "上传音频以创建克隆声音。立即返回声音名称，无需训练。将声音名称用于 [Qwen TTS](/api-reference/speech-synthesis/qwen-tts) 或[实时流式 TTS](/developer-guides/speech/realtime-streaming)。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClonedVoiceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "声音克隆成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateClonedVoiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "无效请求",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST https://dashscope.aliyuncs.com/api/v1/services/audio/tts/customization \\\n-H \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n-H \"Content-Type: application/json\" \\\n-d '{\n  \"model\": \"qwen-voice-enrollment\",\n  \"input\": {\n    \"action\": \"create\",\n    \"target_model\": \"qwen3-tts-vc-realtime-2026-01-15\",\n    \"preferred_name\": \"guanyu\",\n    \"audio\": {\n      \"data\": \"https://xxx.wav\"\n    }\n  }\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\nimport base64, pathlib\n\ntarget_model = \"qwen3-tts-vc-realtime-2026-01-15\"\npreferred_name = \"guanyu\"\naudio_mime_type = \"audio/mpeg\"\n\nfile_path = pathlib.Path(\"input.mp3\")\nbase64_str = base64.b64encode(file_path.read_bytes()).decode()\ndata_uri = f\"data:{audio_mime_type};base64,{base64_str}\"\n\napi_key = os.getenv(\"DASHSCOPE_API_KEY\")\nurl = \"https://dashscope.aliyuncs.com/api/v1/services/audio/tts/customization\"\n\npayload = {\n  \"model\": \"qwen-voice-enrollment\", # 请勿修改此值\n  \"input\": {\n    \"action\": \"create\",\n    \"target_model\": target_model,\n    \"preferred_name\": preferred_name,\n    \"audio\": {\n      \"data\": data_uri\n    }\n  }\n}\n\nheaders = {\n  \"Authorization\": f\"Bearer {api_key}\",\n  \"Content-Type\": \"application/json\"\n}\n\n# 发送 POST 请求\nresp = requests.post(url, json=payload, headers=headers)\n\nif resp.status_code == 200:\n  data = resp.json()\n  voice = data[\"output\"][\"voice\"]\n  print(f\"Generated voice parameter: {voice}\")\nelse:\n  print(\"Request failed:\", resp.status_code, resp.text)"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import com.google.gson.Gson;\nimport com.google.gson.JsonObject;\n\nimport java.io.*;\nimport java.net.HttpURLConnection;\nimport java.net.URL;\nimport java.nio.file.*;\nimport java.util.Base64;\n\npublic class Main {\n  private static final String TARGET_MODEL = \"qwen3-tts-vc-realtime-2026-01-15\";\n  private static final String PREFERRED_NAME = \"guanyu\";\n  private static final String AUDIO_FILE = \"input.mp3\";\n  private static final String AUDIO_MIME_TYPE = \"audio/mpeg\";\n\n  public static String toDataUrl(String filePath) throws Exception {\n    byte[] bytes = Files.readAllBytes(Paths.get(filePath));\n    String encoded = Base64.getEncoder().encodeToString(bytes);\n    return \"data:\" + AUDIO_MIME_TYPE + \";base64,\" + encoded;\n  }\n\n  public static void main(String[] args) {\n    String apiKey = System.getenv(\"DASHSCOPE_API_KEY\");\n    String apiUrl = \"https://dashscope.aliyuncs.com/api/v1/services/audio/tts/customization\";\n\n    try {\n      String jsonPayload =\n          \"{\"\n              + \"\\\"model\\\": \\\"qwen-voice-enrollment\\\",\" // 请勿修改此值\n              + \"\\\"input\\\": {\"\n              +     \"\\\"action\\\": \\\"create\\\",\"\n              +     \"\\\"target_model\\\": \\\"\" + TARGET_MODEL + \"\\\",\"\n              +     \"\\\"preferred_name\\\": \\\"\" + PREFERRED_NAME + \"\\\",\"\n              +     \"\\\"audio\\\": {\"\n              +         \"\\\"data\\\": \\\"\" + toDataUrl(AUDIO_FILE) + \"\\\"\"\n              +     \"}\"\n              + \"}\"\n              + \"}\";\n\n      HttpURLConnection con = (HttpURLConnection) new URL(apiUrl).openConnection();\n      con.setRequestMethod(\"POST\");\n      con.setRequestProperty(\"Authorization\", \"Bearer \" + apiKey);\n      con.setRequestProperty(\"Content-Type\", \"application/json\");\n      con.setDoOutput(true);\n\n      try (OutputStream os = con.getOutputStream()) {\n        os.write(jsonPayload.getBytes(\"UTF-8\"));\n      }\n\n      int status = con.getResponseCode();\n      InputStream is = (status >= 200 && status < 300)\n          ? con.getInputStream()\n          : con.getErrorStream();\n\n      StringBuilder response = new StringBuilder();\n      try (BufferedReader br = new BufferedReader(new InputStreamReader(is, \"UTF-8\"))) {\n        String line;\n        while ((line = br.readLine()) != null) {\n          response.append(line);\n        }\n      }\n\n      System.out.println(\"HTTP status code: \" + status);\n      System.out.println(\"Response content: \" + response.toString());\n\n      if (status == 200) {\n        Gson gson = new Gson();\n        JsonObject jsonObj = gson.fromJson(response.toString(), JsonObject.class);\n        String voice = jsonObj.getAsJsonObject(\"output\").get(\"voice\").getAsString();\n        System.out.println(\"Generated voice parameter: \" + voice);\n      }\n\n    } catch (Exception e) {\n      e.printStackTrace();\n    }\n  }\n}"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CreateClonedVoiceRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "声音克隆模型。固定为 `qwen-voice-enrollment`。",
            "enum": [
              "qwen-voice-enrollment"
            ],
            "example": "qwen-voice-enrollment"
          },
          "input": {
            "type": "object",
            "required": [
              "action",
              "target_model",
              "preferred_name",
              "audio"
            ],
            "properties": {
              "action": {
                "type": "string",
                "description": "操作类型。固定为 `create`。",
                "enum": [
                  "create"
                ],
                "example": "create"
              },
              "target_model": {
                "type": "string",
                "description": "克隆声音对应的语音合成模型。必须与后续合成调用中使用的模型一致。可选值：`qwen3-tts-vc-realtime-2026-01-15`、`qwen3-tts-vc-realtime-2025-11-27`（实时）、`qwen3-tts-vc-2026-01-22`（非实时）。",
                "enum": [
                  "qwen3-tts-vc-realtime-2026-01-15",
                  "qwen3-tts-vc-realtime-2025-11-27",
                  "qwen3-tts-vc-2026-01-22"
                ],
                "example": "qwen3-tts-vc-realtime-2026-01-15"
              },
              "preferred_name": {
                "type": "string",
                "description": "声音名称中的关键词（支持数字、字母、下划线，最多 16 个字符）。会出现在生成的声音名称中。示例：`guanyu` 对应生成 `qwen-tts-vc-guanyu-voice-20250812105009984-838b`。",
                "maxLength": 16,
                "pattern": "^[a-zA-Z0-9_]+$",
                "example": "guanyu"
              },
              "audio": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "用于克隆的音频。支持两种格式：**Data URL** -- `data:<mediatype>;base64,<data>`（`<mediatype>` 为 `audio/wav`、`audio/mpeg` 或 `audio/mp4`；Base64 编码后的数据需小于 10 MB）。**音频 URL** -- 可公开访问的 URL（无需鉴权）。",
                    "example": "https://xxx.wav"
                  }
                }
              },
              "text": {
                "type": "string",
                "description": "与音频内容对应的文本。服务器会验证匹配程度，若差异过大则返回 `Audio.PreprocessError`。",
                "example": "可选。与音频内容对应的文本。"
              },
              "language": {
                "type": "string",
                "description": "音频语言。指定后必须与音频实际语言一致。",
                "enum": [
                  "zh",
                  "en",
                  "de",
                  "it",
                  "pt",
                  "es",
                  "ja",
                  "ko",
                  "fr",
                  "ru"
                ],
                "example": "zh"
              }
            }
          }
        }
      },
      "CreateClonedVoiceResponse": {
        "type": "object",
        "properties": {
          "output": {
            "type": "object",
            "properties": {
              "voice": {
                "type": "string",
                "description": "生成的声音名称。在合成调用中将此值作为 `voice` 参数传入。",
                "example": "qwen-tts-vc-guanyu-voice-20250812105009984-838b"
              },
              "target_model": {
                "type": "string",
                "description": "绑定到此声音的语音合成模型。",
                "example": "qwen3-tts-vc-realtime-2026-01-15"
              },
              "fallback_mode": {
                "type": "boolean",
                "description": "当音频与模型不完全匹配时为 `true`，表示复刻效果可能不理想。",
                "example": false
              },
              "fallback_reason": {
                "type": "string",
                "description": "降级原因。可能的值：`no_merged_segments`（无法合并音频段）、`no_valid_asr_segments`（无有效语音识别段）。仅在 `fallback_mode` 为 `true` 时返回。",
                "example": ""
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer",
                "description": "计费的声音创建次数。成功创建时固定为 `1`（每次计费 $0.01）。",
                "example": 1
              }
            }
          },
          "request_id": {
            "type": "string",
            "description": "请求 ID，用于问题排查。",
            "example": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "example": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
          },
          "code": {
            "type": "string",
            "description": "错误码。",
            "example": "Audio.PreprocessError"
          },
          "message": {
            "type": "string",
            "description": "错误信息。",
            "example": "Audio preprocessing failed."
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "千问AI平台 API Key。详见[获取 API Key](/api-reference/preparation/api-key)。"
      }
    }
  }
}
