{
  "openapi": "3.1.0",
  "info": {
    "title": "Wan 文生图 V2 API",
    "description": "使用 Wan 文生图模型系列，根据文本描述生成图像。支持多种艺术风格和写实摄影效果，满足多样化的创意需求。本 API 采用异步任务模式：先通过 POST 请求提交任务，再通过 GET 请求轮询结果。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dashscope.aliyuncs.com/api/v1",
      "description": "阿里云 DashScope"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/services/aigc/multimodal-generation/generation": {
      "post": {
        "operationId": "createWanT2ISyncGeneration",
        "summary": "同步生成图像",
        "description": "使用 Wan2.6 模型同步生成图像。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Wan26TextToImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "图像生成成功。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wan26SyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数无效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashScopeErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL - wan2.6-t2i (sync)",
            "source": "curl --location 'https://dashscope.aliyuncs.com/api/v1/services/aigc/multimodal-generation/generation' \\\n--header 'Content-Type: application/json' \\\n--header \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n--data '{\n  \"model\": \"wan2.6-t2i\",\n  \"input\": {\n    \"messages\": [\n      {\n        \"role\": \"user\",\n        \"content\": [\n          {\n            \"text\": \"A flower shop with exquisite windows, a beautiful wooden door, and flowers on display\"\n          }\n        ]\n      }\n    ]\n  },\n  \"parameters\": {\n    \"prompt_extend\": true,\n    \"watermark\": false,\n    \"n\": 1,\n    \"negative_prompt\": \"\",\n    \"size\": \"1280*1280\"\n  }\n}'"
          },
          {
            "lang": "python",
            "label": "Python - wan2.6-t2i (sync, DashScope SDK)",
            "source": "import os\nimport dashscope\nfrom dashscope.aigc.image_generation import ImageGeneration\nfrom dashscope.api_entities.dashscope_response import Message\n\n# wan2.6-t2i 需要 SDK 版本 1.25.7 或更高版本\ndashscope.base_http_api_url = 'https://dashscope.aliyuncs.com/api/v1'\napi_key = os.getenv(\"DASHSCOPE_API_KEY\")\n\nmessage = Message(\n  role=\"user\",\n  content=[\n    {\n      'text': 'A flower shop with exquisite windows, a beautiful wooden door, and flowers on display'\n    }\n  ]\n)\nprint(\"----sync call, please wait a moment----\")\nrsp = ImageGeneration.call(\n  model=\"wan2.6-t2i\",\n  api_key=api_key,\n  messages=[message],\n  negative_prompt=\"\",\n  prompt_extend=True,\n  watermark=False,\n  n=1,\n  size=\"1280*1280\"\n)\nprint(rsp)"
          },
          {
            "lang": "java",
            "label": "Java - wan2.6-t2i (sync, DashScope SDK)",
            "source": "import com.alibaba.dashscope.aigc.imagegeneration.*;\nimport com.alibaba.dashscope.exception.ApiException;\nimport com.alibaba.dashscope.exception.NoApiKeyException;\nimport com.alibaba.dashscope.exception.UploadFileException;\nimport com.alibaba.dashscope.utils.Constants;\nimport com.alibaba.dashscope.utils.JsonUtils;\nimport java.util.Collections;\n\npublic class Main {\n\n  static {\n    Constants.baseHttpApiUrl = \"https://dashscope.aliyuncs.com/api/v1\";\n  }\n\n  // wan2.6-t2i 需要 SDK 版本 2.22.6 或更高版本\n  static String apiKey = System.getenv(\"DASHSCOPE_API_KEY\");\n\n  public static void basicCall() throws ApiException, NoApiKeyException, UploadFileException {\n    ImageGenerationMessage message = ImageGenerationMessage.builder()\n        .role(\"user\")\n        .content(Collections.singletonList(\n            Collections.singletonMap(\"text\", \"A flower shop with exquisite windows, a beautiful wooden door, and flowers on display\")\n        )).build();\n\n    ImageGenerationParam param = ImageGenerationParam.builder()\n        .apiKey(apiKey)\n        .model(\"wan2.6-t2i\")\n        .n(1)\n        .size(\"1280*1280\")\n        .negativePrompt(\"\")\n        .promptExtend(true)\n        .watermark(false)\n        .messages(Collections.singletonList(message))\n        .build();\n\n    ImageGeneration imageGeneration = new ImageGeneration();\n    ImageGenerationResult result = null;\n    try {\n      System.out.println(\"---sync call, please wait a moment----\");\n      result = imageGeneration.call(param);\n    } catch (ApiException | NoApiKeyException | UploadFileException e) {\n      throw new RuntimeException(e.getMessage());\n    }\n    System.out.println(JsonUtils.toJson(result));\n  }\n\n  public static void main(String[] args) {\n    try {\n      basicCall();\n    } catch (ApiException | NoApiKeyException | UploadFileException e) {\n      System.out.println(e.getMessage());\n    }\n  }\n}"
          }
        ]
      }
    },
    "/services/aigc/image-generation/generation": {
      "post": {
        "operationId": "createWanTextToImage",
        "summary": "创建文生图任务",
        "description": "创建一个文生图生成任务。",
        "parameters": [
          {
            "name": "X-DashScope-Async",
            "in": "header",
            "required": true,
            "description": "必须设置为 `enable` 以创建异步任务。",
            "schema": {
              "type": "string",
              "enum": [
                "enable"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Wan26TextToImageRequest"
                  },
                  {
                    "$ref": "#/components/schemas/WanLegacyTextToImageRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncTaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数无效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashScopeErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL - wan2.6-t2i (async)",
            "source": "curl --location 'https://dashscope.aliyuncs.com/api/v1/services/aigc/image-generation/generation' \\\n--header 'Content-Type: application/json' \\\n--header \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n--header 'X-DashScope-Async: enable' \\\n--data '{\n  \"model\": \"wan2.6-t2i\",\n  \"input\": {\n    \"messages\": [\n      {\n        \"role\": \"user\",\n        \"content\": [\n          {\n            \"text\": \"A flower shop with exquisite windows, a beautiful wooden door, and flowers on display\"\n          }\n        ]\n      }\n    ]\n  },\n  \"parameters\": {\n    \"prompt_extend\": true,\n    \"watermark\": false,\n    \"n\": 1,\n    \"negative_prompt\": \"\",\n    \"size\": \"1280*1280\"\n  }\n}'"
          },
          {
            "lang": "curl",
            "label": "cURL - wan2.5-t2i-preview (async, legacy endpoint)",
            "source": "# 注意：wan2.5 及更早版本的模型使用不同的端点路径：\n# POST /services/aigc/text2image/image-synthesis\ncurl -X POST https://dashscope.aliyuncs.com/api/v1/services/aigc/text2image/image-synthesis \\\n  -H 'X-DashScope-Async: enable' \\\n  -H \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n  \"model\": \"wan2.5-t2i-preview\",\n  \"input\": {\n    \"prompt\": \"A flower shop with exquisite windows, a beautiful wooden door, and flowers on display\"\n  },\n  \"parameters\": {\n    \"size\": \"1280*1280\",\n    \"n\": 1\n  }\n}'"
          },
          {
            "lang": "curl",
            "label": "cURL - wan2.2-t2i-flash with negative prompt (async, legacy endpoint)",
            "source": "# 注意：wan2.2 及更早版本的模型使用不同的端点路径：\n# POST /services/aigc/text2image/image-synthesis\ncurl -X POST https://dashscope.aliyuncs.com/api/v1/services/aigc/text2image/image-synthesis \\\n  -H 'X-DashScope-Async: enable' \\\n  -H \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n  \"model\": \"wan2.2-t2i-flash\",\n  \"input\": {\n    \"prompt\": \"Snowy ground, a small white chapel, aurora borealis, winter scene, soft light.\",\n    \"negative_prompt\": \"person\"\n  },\n  \"parameters\": {\n    \"size\": \"1024*1024\",\n    \"n\": 1\n  }\n}'"
          },
          {
            "lang": "python",
            "label": "Python - wan2.6-t2i (async, DashScope SDK)",
            "source": "import os\nimport dashscope\nfrom dashscope.aigc.image_generation import ImageGeneration\nfrom dashscope.api_entities.dashscope_response import Role, Message\nfrom http import HTTPStatus\n\n# wan2.6-t2i 需要 SDK 版本 1.25.7 或更高版本\ndashscope.base_http_api_url = 'https://dashscope.aliyuncs.com/api/v1'\napi_key = os.getenv(\"DASHSCOPE_API_KEY\")\n\n# 创建异步任务\ndef create_async_task():\n  print(\"Creating async task...\")\n  message = Message(\n    role=\"user\",\n    content=[{'text': 'A flower shop with exquisite windows, a beautiful wooden door, and flowers on display'}]\n  )\n  response = ImageGeneration.async_call(\n    model=\"wan2.6-t2i\",\n    api_key=api_key,\n    messages=[message],\n    negative_prompt=\"\",\n    prompt_extend=True,\n    watermark=False,\n    n=1,\n    size=\"1280*1280\"\n  )\n  \n  if response.status_code == 200:\n    print(\"Task created successfully:\", response)\n    return response\n  else:\n    raise Exception(f\"Failed to create task: {response.code} - {response.message}\")\n\n# 等待任务完成\ndef wait_for_completion(task_response):\n  print(\"Waiting for task completion...\")\n  status = ImageGeneration.wait(task=task_response, api_key=api_key)\n  \n  if status.output.task_status == \"SUCCEEDED\":\n    print(\"Task succeeded!\")\n    print(\"Response:\", status)\n  else:\n    raise Exception(f\"Task failed with status: {status.output.task_status}\")\n\n# 获取异步任务信息\ndef fetch_task_status(task):\n  print(\"Fetching task status...\")\n  status = ImageGeneration.fetch(task=task, api_key=api_key)\n  \n  if status.status_code == HTTPStatus.OK:\n    print(\"Task status:\", status.output.task_status)\n    print(\"Response details:\", status)\n  else:\n    print(f\"Failed to fetch status: {status.code} - {status.message}\")\n\n# 取消异步任务\ndef cancel_task(task):\n  print(\"Canceling task...\")\n  response = ImageGeneration.cancel(task=task, api_key=api_key)\n  \n  if response.status_code == HTTPStatus.OK:\n    print(\"Task canceled successfully:\", response.output.task_status)\n  else:\n    print(f\"Failed to cancel task: {response.code} - {response.message}\")\n\n# 主执行流程\nif __name__ == \"__main__\":\n  task = create_async_task()\n  wait_for_completion(task)"
          },
          {
            "lang": "python",
            "label": "Python - wan2.5 and earlier (sync, DashScope SDK)",
            "source": "from http import HTTPStatus\nfrom urllib.parse import urlparse, unquote\nfrom pathlib import PurePosixPath\nimport requests\nfrom dashscope import ImageSynthesis\nimport os\nimport dashscope\n\n# wan2.5 及更早版本的模型需要 SDK 版本 1.25.2 或更高版本\ndashscope.base_http_api_url = 'https://dashscope.aliyuncs.com/api/v1'\napi_key = os.getenv(\"DASHSCOPE_API_KEY\")\n\nprint('----sync call, please wait a moment----')\nrsp = ImageSynthesis.call(api_key=api_key,\n                          model=\"wan2.5-t2i-preview\",\n                          prompt=\"A flower shop with exquisite windows, a beautiful wooden door, and flowers on display\",\n                          negative_prompt=\"\",\n                          n=1,\n                          size='1280*1280',\n                          prompt_extend=True,\n                          watermark=False,\n                          seed=12345)\nprint('response: %s' % rsp)\nif rsp.status_code == HTTPStatus.OK:\n  # 将图像保存到当前目录\n  for result in rsp.output.results:\n    file_name = PurePosixPath(unquote(urlparse(result.url).path)).parts[-1]\n    with open('./%s' % file_name, 'wb+') as f:\n      f.write(requests.get(result.url).content)\nelse:\n  print('sync_call Failed, status_code: %s, code: %s, message: %s' %\n          (rsp.status_code, rsp.code, rsp.message))"
          },
          {
            "lang": "python",
            "label": "Python - wan2.5 and earlier (async, DashScope SDK)",
            "source": "from http import HTTPStatus\nfrom urllib.parse import urlparse, unquote\nfrom pathlib import PurePosixPath\nimport requests\nfrom dashscope import ImageSynthesis\nimport os\nimport dashscope\n\n# wan2.5 及更早版本的模型需要 SDK 版本 1.25.2 或更高版本\ndashscope.base_http_api_url = 'https://dashscope.aliyuncs.com/api/v1'\napi_key = os.getenv(\"DASHSCOPE_API_KEY\")\n\ndef async_call():\n  print('----create task----')\n  task_info = create_async_task()\n  print('----wait task done then save image----')\n  wait_async_task(task_info)\n\n\n# 创建异步任务\ndef create_async_task():\n  rsp = ImageSynthesis.async_call(api_key=api_key,\n                  model=\"wan2.5-t2i-preview\",\n                  prompt=\"A flower shop with exquisite windows, a beautiful wooden door, and flowers on display\",\n                  negative_prompt=\"\",\n                  n=1,\n                  size='1280*1280',\n                  prompt_extend=True,\n                  watermark=False,\n                  seed=12345)\n  print(rsp)\n  if rsp.status_code == HTTPStatus.OK:\n    print(rsp.output)\n  else:\n    print('Failed, status_code: %s, code: %s, message: %s' %\n              (rsp.status_code, rsp.code, rsp.message))\n  return rsp\n\n\n# 等待异步任务完成\ndef wait_async_task(task):\n  rsp = ImageSynthesis.wait(task=task, api_key=api_key)\n  print(rsp)\n  if rsp.status_code == HTTPStatus.OK:\n    print(rsp.output)\n    # 将文件保存到当前目录\n    for result in rsp.output.results:\n      file_name = PurePosixPath(unquote(urlparse(result.url).path)).parts[-1]\n      with open('./%s' % file_name, 'wb+') as f:\n        f.write(requests.get(result.url).content)\n  else:\n    print('Failed, status_code: %s, code: %s, message: %s' %\n              (rsp.status_code, rsp.code, rsp.message))\n\n\n# 获取异步任务信息\ndef fetch_task_status(task):\n  status = ImageSynthesis.fetch(task=task, api_key=api_key)\n  print(status)\n  if status.status_code == HTTPStatus.OK:\n    print(status.output.task_status)\n  else:\n    print('Failed, status_code: %s, code: %s, message: %s' %\n              (status.status_code, status.code, status.message))\n\n\n# 取消异步任务。只有处于 PENDING 状态的任务才能被取消。\ndef cancel_task(task):\n  rsp = ImageSynthesis.cancel(task=task, api_key=api_key)\n  print(rsp)\n  if rsp.status_code == HTTPStatus.OK:\n    print(rsp.output.task_status)\n  else:\n    print('Failed, status_code: %s, code: %s, message: %s' %\n              (rsp.status_code, rsp.code, rsp.message))\n\n\nif __name__ == '__main__':\n  async_call()"
          },
          {
            "lang": "java",
            "label": "Java - wan2.6-t2i (async, DashScope SDK)",
            "source": "import com.alibaba.dashscope.aigc.imagegeneration.*;\nimport com.alibaba.dashscope.exception.ApiException;\nimport com.alibaba.dashscope.exception.NoApiKeyException;\nimport com.alibaba.dashscope.exception.UploadFileException;\nimport com.alibaba.dashscope.utils.Constants;\nimport com.alibaba.dashscope.utils.JsonUtils;\nimport java.util.Collections;\n\npublic class Main {\n\n  static {\n    Constants.baseHttpApiUrl = \"https://dashscope.aliyuncs.com/api/v1\";\n  }\n\n  // wan2.6-t2i 需要 SDK 版本 2.22.6 或更高版本\n  static String apiKey = System.getenv(\"DASHSCOPE_API_KEY\");\n\n  public static void asyncCall() throws ApiException, NoApiKeyException, UploadFileException {\n    ImageGenerationMessage message = ImageGenerationMessage.builder()\n        .role(\"user\")\n        .content(Collections.singletonList(\n            Collections.singletonMap(\"text\", \"A flower shop with exquisite windows, a beautiful wooden door, and flowers on display\")\n        )).build();\n\n    ImageGenerationParam param = ImageGenerationParam.builder()\n        .apiKey(apiKey)\n        .model(\"wan2.6-t2i\")\n        .n(1)\n        .size(\"1280*1280\")\n        .negativePrompt(\"\")\n        .promptExtend(true)\n        .watermark(false)\n        .messages(Collections.singletonList(message))\n        .build();\n\n    ImageGeneration imageGeneration = new ImageGeneration();\n    ImageGenerationResult result = null;\n    try {\n      System.out.println(\"---async call, creating task----\");\n      result = imageGeneration.asyncCall(param);\n    } catch (ApiException | NoApiKeyException | UploadFileException e) {\n      throw new RuntimeException(e.getMessage());\n    }\n    System.out.println(JsonUtils.toJson(result));\n\n    String taskId = result.getOutput().getTaskId();\n    // 等待任务完成\n    waitTask(taskId);\n  }\n\n  public static void waitTask(String taskId) throws ApiException, NoApiKeyException {\n    ImageGeneration imageGeneration = new ImageGeneration();\n    ImageGenerationResult result = imageGeneration.wait(taskId, apiKey);\n    System.out.println(JsonUtils.toJson(result));\n  }\n\n  public static void main(String[] args) {\n    try {\n      asyncCall();\n    } catch (ApiException | NoApiKeyException | UploadFileException e) {\n      System.out.println(e.getMessage());\n    }\n  }\n}"
          },
          {
            "lang": "java",
            "label": "Java - wan2.5 and earlier (sync, DashScope SDK)",
            "source": "// Copyright (c) Alibaba, Inc. and its affiliates.\n\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesis;\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesisListResult;\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesisParam;\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesisResult;\nimport com.alibaba.dashscope.task.AsyncTaskListParam;\nimport com.alibaba.dashscope.exception.ApiException;\nimport com.alibaba.dashscope.exception.NoApiKeyException;\nimport com.alibaba.dashscope.utils.Constants;\nimport com.alibaba.dashscope.utils.JsonUtils;\n\nimport java.util.HashMap;\nimport java.util.Map;\n\npublic class Main {\n\n  static {\n     // wan2.5 及更早版本的模型需要 SDK 版本 2.22.2 或更高版本。\n     Constants.baseHttpApiUrl = \"https://dashscope.aliyuncs.com/api/v1\";\n  }\n  \n  static String apiKey = System.getenv(\"DASHSCOPE_API_KEY\");\n  \n  public static void basicCall() throws ApiException, NoApiKeyException {\n        // 设置参数\n        Map<String, Object> parameters = new HashMap<>();\n        parameters.put(\"prompt_extend\", true);\n        parameters.put(\"watermark\", false);\n        parameters.put(\"seed\", 12345);\n\n        ImageSynthesisParam param =\n                ImageSynthesisParam.builder()\n                        .apiKey(apiKey)\n                        .model(\"wan2.5-t2i-preview\")\n                        .prompt(\"A flower shop with exquisite windows, a beautiful wooden door, and flowers on display\")\n                        .n(1)\n                        .size(\"1280*1280\")\n                        .negativePrompt(\"\")\n                        .parameters(parameters)\n                        .build();\n\n        ImageSynthesis imageSynthesis = new ImageSynthesis();\n        ImageSynthesisResult result = null;\n        try {\n            System.out.println(\"---sync call, please wait a moment----\");\n            result = imageSynthesis.call(param);\n        } catch (ApiException | NoApiKeyException e){\n            throw new RuntimeException(e.getMessage());\n        }\n        System.out.println(JsonUtils.toJson(result));\n    }\n\n    public static void main(String[] args){\n        try{\n            basicCall();\n        }catch(ApiException|NoApiKeyException e){\n            System.out.println(e.getMessage());\n        }\n    }\n}"
          },
          {
            "lang": "java",
            "label": "Java - wan2.5 and earlier (async, DashScope SDK)",
            "source": "// Copyright (c) Alibaba, Inc. and its affiliates.\n\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesis;\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesisParam;\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesisResult;\nimport com.alibaba.dashscope.exception.ApiException;\nimport com.alibaba.dashscope.exception.NoApiKeyException;\nimport com.alibaba.dashscope.utils.Constants;\nimport com.alibaba.dashscope.utils.JsonUtils;\n\nimport java.util.HashMap;\nimport java.util.Map;\n\npublic class Main {\n  static {\n    // wan2.5 及更早版本的模型需要 SDK 版本 2.22.2 或更高版本。\n    Constants.baseHttpApiUrl = \"https://dashscope.aliyuncs.com/api/v1\";\n  }\n  \n  static String apiKey = System.getenv(\"DASHSCOPE_API_KEY\");\n  \n  public void asyncCall() {\n    System.out.println(\"---create task----\");\n    String taskId = this.createAsyncTask();\n    System.out.println(\"---wait task done then return image url----\");\n    this.waitAsyncTask(taskId);\n  }\n\n  /**\n     * 创建异步任务\n     * @return taskId\n     */\n  public String createAsyncTask() {\n    // 设置参数\n    Map<String, Object> parameters = new HashMap<>();\n    parameters.put(\"prompt_extend\", true);\n    parameters.put(\"watermark\", false);\n    parameters.put(\"seed\", 12345);\n\n    ImageSynthesisParam param =\n        ImageSynthesisParam.builder()\n            .apiKey(apiKey)\n            .model(\"wan2.5-t2i-preview\")\n            .prompt(\"A flower shop with exquisite windows, a beautiful wooden door, and flowers on display\")\n            .n(1)\n            .size(\"1280*1280\")\n            .negativePrompt(\"\")\n            .parameters(parameters)\n            .build();\n\n    ImageSynthesis imageSynthesis = new ImageSynthesis();\n    ImageSynthesisResult result = null;\n    try {\n      result = imageSynthesis.asyncCall(param);\n    } catch (Exception e){\n      throw new RuntimeException(e.getMessage());\n    }\n    System.out.println(JsonUtils.toJson(result));\n    String taskId = result.getOutput().getTaskId();\n    System.out.println(\"taskId=\" + taskId);\n    return taskId;\n  }\n\n  /**\n     * 等待异步任务完成\n     * @param taskId 任务 ID\n     */\n  public void waitAsyncTask(String taskId) {\n    ImageSynthesis imageSynthesis = new ImageSynthesis();\n    ImageSynthesisResult result = null;\n    try {\n      result = imageSynthesis.wait(taskId, apiKey);\n    } catch (ApiException | NoApiKeyException e){\n      throw new RuntimeException(e.getMessage());\n    }\n    System.out.println(JsonUtils.toJson(result));\n    System.out.println(JsonUtils.toJson(result.getOutput()));\n  }\n\n  public static void main(String[] args){\n    Main main = new Main();\n    main.asyncCall();\n  }\n}"
          }
        ]
      }
    },
    "/tasks/{task_id}": {
      "get": {
        "operationId": "getWanTextToImageTaskStatus",
        "summary": "查询任务结果",
        "description": "查询异步任务的状态和结果。",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "description": "文生图创建端点返回的任务标识符。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取任务状态。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStatusResponse"
                },
                "examples": {
                  "SUCCEEDED (wan2.6)": {
                    "summary": "任务成功（wan2.6-t2i 格式）",
                    "value": {
                      "request_id": "815505c6-7c3d-49d7-b197-xxxxxx",
                      "output": {
                        "task_id": "f470bbfd-d955-4165-935b-d35b8exxxxxx",
                        "task_status": "SUCCEEDED",
                        "choices": [
                          {
                            "finish_reason": "stop",
                            "message": {
                              "role": "assistant",
                              "content": [
                                {
                                  "image": "https://dashscope-463f.oss-accelerate.aliyuncs.com/xxxxxx.png?Expires=xxxxxx",
                                  "type": "image"
                                }
                              ]
                            }
                          }
                        ],
                        "finished": true,
                        "submit_time": "2026-01-09 17:18:17.901",
                        "scheduled_time": "2026-01-09 17:18:17.941",
                        "end_time": "2026-01-09 17:18:45.544"
                      },
                      "usage": {
                        "image_count": 1,
                        "input_tokens": 0,
                        "output_tokens": 0,
                        "size": "1280*1280",
                        "total_tokens": 0
                      }
                    }
                  },
                  "SUCCEEDED (wan2.5 and earlier)": {
                    "summary": "任务成功（wan2.5 及更早版本格式）",
                    "value": {
                      "request_id": "9d634fda-5fe9-9968-a908-xxxxxx",
                      "output": {
                        "task_id": "d35658e4-483f-453b-b8dc-xxxxxx",
                        "task_status": "SUCCEEDED",
                        "results": [
                          {
                            "url": "https://dashscope-result-wlcb.oss-cn-wulanchabu.aliyuncs.com/1.png",
                            "orig_prompt": "A flower shop with exquisite windows, a beautiful wooden door, and flowers on display",
                            "actual_prompt": "An exquisite flower shop, with windows decorated with elegant carvings and a beautiful wooden door with a brass handle. Inside, various colorful flowers such as roses, tulips, and lilies are on display."
                          }
                        ],
                        "submit_time": "2025-01-08 19:36:01.521",
                        "scheduled_time": "2025-01-08 19:36:01.542",
                        "end_time": "2025-01-08 19:36:13.270",
                        "task_metrics": {
                          "TOTAL": 1,
                          "SUCCEEDED": 1,
                          "FAILED": 0
                        }
                      },
                      "usage": {
                        "image_count": 1
                      }
                    }
                  },
                  "FAILED": {
                    "summary": "任务失败",
                    "value": {
                      "request_id": "7438d53d-6eb8-4596-8835-xxxxxx",
                      "output": {
                        "task_id": "966cebcd-dedc-4962-af88-xxxxxx",
                        "task_status": "FAILED",
                        "code": "InvalidParameter",
                        "message": "The specified parameter is not valid.",
                        "task_metrics": {
                          "TOTAL": 1,
                          "SUCCEEDED": 0,
                          "FAILED": 1
                        }
                      }
                    }
                  },
                  "RUNNING": {
                    "summary": "任务运行中",
                    "value": {
                      "request_id": "c1209113-8437-424f-a386-xxxxxx",
                      "output": {
                        "task_id": "966cebcd-dedc-4962-af88-xxxxxx",
                        "task_status": "RUNNING",
                        "task_metrics": {
                          "TOTAL": 1,
                          "SUCCEEDED": 0,
                          "FAILED": 0
                        }
                      }
                    }
                  },
                  "PENDING": {
                    "summary": "任务等待中",
                    "value": {
                      "request_id": "c4f11410-ea42-4996-957d-9c82f9xxxxxx",
                      "output": {
                        "task_id": "f470bbfd-d955-4165-935b-d35b8eexxxxxx",
                        "task_status": "PENDING"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求参数无效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashScopeErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL - Query task result",
            "source": "# 将 {task_id} 替换为提交响应中的实际任务 ID\ncurl -X GET 'https://dashscope.aliyuncs.com/api/v1/tasks/{task_id}' \\\n  -H \"Authorization: Bearer $DASHSCOPE_API_KEY\""
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "千问AI平台 API Key。详见[获取 API Key](/api-reference/preparation/api-key)。"
      }
    },
    "schemas": {
      "Wan26TextToImageRequest": {
        "type": "object",
        "description": "wan2.6-t2i 模型的请求体，`input` 对象中使用 `messages` 格式。",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称。wan2.6-t2i 模型请填写 `wan2.6-t2i`。",
            "enum": [
              "wan2.6-t2i"
            ],
            "example": "wan2.6-t2i"
          },
          "input": {
            "type": "object",
            "description": "包含消息数组的输入对象。",
            "required": [
              "messages"
            ],
            "properties": {
              "messages": {
                "type": "array",
                "description": "请求内容数组，仅支持单轮对话（一组 role 和 content）。",
                "items": {
                  "type": "object",
                  "required": [
                    "role",
                    "content"
                  ],
                  "properties": {
                    "role": {
                      "type": "string",
                      "description": "消息角色，必须为 `user`。",
                      "enum": [
                        "user"
                      ]
                    },
                    "content": {
                      "type": "array",
                      "description": "消息内容数组。",
                      "items": {
                        "type": "object",
                        "required": [
                          "text"
                        ],
                        "properties": {
                          "text": {
                            "type": "string",
                            "description": "正向提示词，描述生成图像的内容、风格和构图。支持中英文，最多 2,100 个字符。每次请求只允许一个 text。",
                            "example": "A flower shop with exquisite windows, a beautiful wooden door, and flowers on display"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "parameters": {
            "$ref": "#/components/schemas/Wan26Parameters"
          }
        }
      },
      "WanLegacyTextToImageRequest": {
        "type": "object",
        "description": "wan2.5 及更早版本模型的请求体，`input` 对象中使用 `prompt` 格式。**注意**：这些模型使用端点 `POST /services/aigc/text2image/image-synthesis`，而非主端点。",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称。支持以下模型：`wan2.5-t2i-preview`、`wan2.2-t2i-plus`、`wan2.2-t2i-flash`、`wan2.1-t2i-plus`、`wan2.1-t2i-turbo`。",
            "enum": [
              "wan2.5-t2i-preview",
              "wan2.2-t2i-plus",
              "wan2.2-t2i-flash",
              "wan2.1-t2i-plus",
              "wan2.1-t2i-turbo"
            ],
            "example": "wan2.5-t2i-preview"
          },
          "input": {
            "type": "object",
            "description": "包含提示词字符串的输入对象。",
            "required": [
              "prompt"
            ],
            "properties": {
              "prompt": {
                "type": "string",
                "description": "正向提示词，描述期望的图像内容。支持中英文。各模型最大长度不同：wan2.5-t2i-preview（2,000 字符）、wan2.2、wan2.1 系列（500 字符）。",
                "example": "A flower shop with exquisite windows, a beautiful wooden door, and flowers on display"
              },
              "negative_prompt": {
                "type": "string",
                "description": "可选。描述不希望出现在图像中的内容。最多 500 字符，支持中英文。",
                "example": "low resolution, low quality, deformed limbs"
              }
            }
          },
          "parameters": {
            "$ref": "#/components/schemas/WanLegacyParameters"
          }
        }
      },
      "Wan26Parameters": {
        "type": "object",
        "description": "wan2.6-t2i 模型的参数。",
        "properties": {
          "negative_prompt": {
            "type": "string",
            "description": "可选。描述不希望出现在图像中的内容，最多 500 字符，支持中英文。示例：低分辨率、低质量、肢体变形、手指变形、过度饱和、蜡质感、无面部细节、过度平滑、AI 感、构图混乱、文字模糊、文字扭曲。"
          },
          "size": {
            "type": "string",
            "description": "输出图像的分辨率，格式为 `宽*高`。默认值：`1280*1280`。总像素数须在 1280*1280 至 1440*1440 之间，宽高比须在 1:4 至 4:1 之间。推荐分辨率：1:1（1280*1280）、3:4（1104*1472）、4:3（1472*1104）、9:16（960*1696）、16:9（1696*960）。",
            "default": "1280*1280",
            "example": "1280*1280"
          },
          "n": {
            "type": "integer",
            "description": "生成图像的数量，取值范围 1 至 4，默认值 `4`。注意：按图计费（费用 = 单价 × 图像数量），测试时建议设为 1。",
            "minimum": 1,
            "maximum": 4,
            "default": 4
          },
          "prompt_extend": {
            "type": "boolean",
            "description": "是否开启提示词扩写。开启后，系统将使用大模型优化正向提示词，对较短提示词效果提升明显，但会增加几秒处理时间。默认值：`true`。\n\n注意：开启智能改写后，改写生成的提示词可能引入受版权保护的内容，从而触发内容审核，返回 `IPInfringementSuspect` 或 `DataInspectionFailed` 报错。遇到上述报错时，可将 `prompt_extend` 设置为 `false` 后重试。若提示词本身直接包含受版权保护的角色名或作品名，关闭智能改写仍会报错，需修改提示词本身。",
            "default": true
          },
          "watermark": {
            "type": "boolean",
            "description": "是否在图像右下角添加 \"AI 生成\" 水印。默认值：`false`。",
            "default": false
          },
          "seed": {
            "type": "integer",
            "description": "可选。随机数种子，取值范围 [0, 2147483647]。相同种子可获得更一致的结果，但不保证完全相同。不填时系统随机生成。",
            "minimum": 0,
            "maximum": 2147483647
          }
        }
      },
      "WanLegacyParameters": {
        "type": "object",
        "description": "wan2.5 及更早版本模型的参数。",
        "properties": {
          "size": {
            "type": "string",
            "description": "输出图像的分辨率，格式为 `宽*高`。wan2.5-t2i-preview 默认为 `1280*1280`（总像素 1280*1280 至 1440*1440，宽高比 1:4 至 4:1）。wan2.2 及更早版本默认为 `1024*1024`（边长 512 至 1440，最大 1440*1440）。wan2.5 推荐分辨率：1:1（1280*1280）、3:4（1104*1472）、4:3（1472*1104）、9:16（960*1696）、16:9（1696*960）。",
            "example": "1280*1280"
          },
          "n": {
            "type": "integer",
            "description": "生成图像的数量，取值范围 1 至 4，默认值 `4`。注意：按图计费（费用 = 单价 × 图像数量），测试时建议设为 1。",
            "minimum": 1,
            "maximum": 4,
            "default": 4
          },
          "prompt_extend": {
            "type": "boolean",
            "description": "是否开启提示词扩写。开启后，系统将使用大模型优化正向提示词，对较短提示词效果提升明显，但会增加几秒处理时间。默认值：`true`。\n\n注意：开启智能改写后，改写生成的提示词可能引入受版权保护的内容，从而触发内容审核，返回 `IPInfringementSuspect` 或 `DataInspectionFailed` 报错。遇到上述报错时，可将 `prompt_extend` 设置为 `false` 后重试。若提示词本身直接包含受版权保护的角色名或作品名，关闭智能改写仍会报错，需修改提示词本身。",
            "default": true
          },
          "watermark": {
            "type": "boolean",
            "description": "是否在图像右下角添加 \"AI 生成\" 水印。默认值：`false`。",
            "default": false
          },
          "seed": {
            "type": "integer",
            "description": "可选。随机数种子，取值范围 [0, 2147483647]。相同种子可获得更一致的结果，但不保证完全相同。不填时系统随机生成。",
            "minimum": 0,
            "maximum": 2147483647
          }
        }
      },
      "Wan26SyncResponse": {
        "type": "object",
        "description": "wan2.6-t2i 模型的同步响应。",
        "example": {
          "output": {
            "choices": [
              {
                "finish_reason": "stop",
                "message": {
                  "content": [
                    {
                      "image": "https://dashscope-463f.oss-accelerate.aliyuncs.com/xxxx.png?Expires=xxx",
                      "type": "image"
                    }
                  ],
                  "role": "assistant"
                }
              }
            ],
            "finished": true
          },
          "usage": {
            "image_count": 1,
            "input_tokens": 0,
            "output_tokens": 0,
            "size": "1280*1280",
            "total_tokens": 0
          },
          "request_id": "815505c6-7c3d-49d7-b197-xxxxxx"
        },
        "properties": {
          "output": {
            "type": "object",
            "properties": {
              "choices": {
                "type": "array",
                "description": "生成结果列表。",
                "items": {
                  "type": "object",
                  "properties": {
                    "finish_reason": {
                      "type": "string",
                      "description": "`stop` 表示正常完成。",
                      "example": "stop"
                    },
                    "message": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "description": "始终为 `assistant`。",
                          "enum": [
                            "assistant"
                          ]
                        },
                        "content": {
                          "type": "array",
                          "description": "包含生成图像 URL 的响应内容数组。",
                          "items": {
                            "type": "object",
                            "properties": {
                              "image": {
                                "type": "string",
                                "description": "生成图像的 URL（PNG 格式）。**有效期 24 小时**，请及时下载。"
                              },
                              "type": {
                                "type": "string",
                                "description": "内容类型，始终为 `image`。",
                                "enum": [
                                  "image"
                                ]
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "finished": {
                "type": "boolean",
                "description": "生成是否已完成。"
              }
            }
          },
          "usage": {
            "type": "object",
            "description": "用量统计信息。",
            "properties": {
              "image_count": {
                "type": "integer",
                "description": "已生成的图像数量。"
              },
              "input_tokens": {
                "type": "integer",
                "description": "输入 token 数量，当前固定为 0。"
              },
              "output_tokens": {
                "type": "integer",
                "description": "输出 token 数量，当前固定为 0。"
              },
              "size": {
                "type": "string",
                "description": "生成图像的分辨率。"
              },
              "total_tokens": {
                "type": "integer",
                "description": "消耗的 token 总量，当前固定为 0。"
              }
            }
          },
          "request_id": {
            "type": "string",
            "description": "唯一请求标识符，用于追踪和问题排查。"
          }
        }
      },
      "AsyncTaskSubmitResponse": {
        "type": "object",
        "description": "异步任务创建成功后返回的响应。",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "唯一请求标识符，用于问题排查。"
          },
          "output": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "任务标识符。可通过 `GET /tasks/{task_id}` 查询任务状态，有效期 24 小时。"
              },
              "task_status": {
                "type": "string",
                "description": "任务初始状态，通常为 `PENDING`。",
                "enum": [
                  "PENDING"
                ]
              }
            }
          }
        }
      },
      "TaskStatusResponse": {
        "type": "object",
        "description": "查询任务状态时返回的响应，输出格式取决于所用模型。",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "唯一请求标识符，用于问题排查。"
          },
          "output": {
            "type": "object",
            "description": "任务输出信息。",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "任务标识符。"
              },
              "task_status": {
                "type": "string",
                "description": "当前任务状态。",
                "enum": [
                  "PENDING",
                  "RUNNING",
                  "SUCCEEDED",
                  "FAILED",
                  "CANCELLED"
                ]
              },
              "choices": {
                "type": "array",
                "description": "输出内容（wan2.6-t2i 格式），当 task_status 为 SUCCEEDED 时返回。",
                "items": {
                  "type": "object",
                  "properties": {
                    "finish_reason": {
                      "type": "string",
                      "description": "任务停止原因，`stop` 表示正常完成。"
                    },
                    "message": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "description": "角色，始终为 `assistant`。"
                        },
                        "content": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "image": {
                                "type": "string",
                                "description": "生成图像的 URL，有效期 24 小时。"
                              },
                              "type": {
                                "type": "string",
                                "description": "内容类型，始终为 `image`。"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "results": {
                "type": "array",
                "description": "输出内容（wan2.5 及更早版本格式），当 task_status 为 SUCCEEDED 时返回。",
                "items": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "生成图像的 URL，有效期 24 小时。"
                    },
                    "orig_prompt": {
                      "type": "string",
                      "description": "原始输入提示词。"
                    },
                    "actual_prompt": {
                      "type": "string",
                      "description": "生成时实际使用的优化后提示词（仅在开启提示词扩写时返回）。"
                    },
                    "code": {
                      "type": "string",
                      "description": "错误码（仅当单张图像生成失败时返回）。"
                    },
                    "message": {
                      "type": "string",
                      "description": "错误信息（仅当单张图像生成失败时返回）。"
                    }
                  }
                }
              },
              "finished": {
                "type": "boolean",
                "description": "任务是否已完成（wan2.6 格式）。"
              },
              "submit_time": {
                "type": "string",
                "description": "任务提交时间。"
              },
              "scheduled_time": {
                "type": "string",
                "description": "任务调度时间。"
              },
              "end_time": {
                "type": "string",
                "description": "任务完成时间。"
              },
              "task_metrics": {
                "type": "object",
                "description": "任务结果统计信息。",
                "properties": {
                  "TOTAL": {
                    "type": "integer",
                    "description": "任务总数。"
                  },
                  "SUCCEEDED": {
                    "type": "integer",
                    "description": "成功任务数。"
                  },
                  "FAILED": {
                    "type": "integer",
                    "description": "失败任务数。"
                  }
                }
              },
              "code": {
                "type": "string",
                "description": "错误码（仅当任务失败时返回）。"
              },
              "message": {
                "type": "string",
                "description": "错误信息（仅当任务失败时返回）。"
              }
            }
          },
          "usage": {
            "type": "object",
            "description": "用量统计信息，仅统计成功结果。",
            "properties": {
              "image_count": {
                "type": "integer",
                "description": "成功生成的图像数量。计费公式：费用 = 图像数量 × 单价。"
              },
              "size": {
                "type": "string",
                "description": "生成图像的分辨率。"
              },
              "input_tokens": {
                "type": "integer",
                "description": "输入 token 数量（wan2.6 格式）。"
              },
              "output_tokens": {
                "type": "integer",
                "description": "输出 token 数量（wan2.6 格式）。"
              },
              "total_tokens": {
                "type": "integer",
                "description": "Token 总量（wan2.6 格式）。"
              }
            }
          }
        }
      },
      "DashScopeErrorResponse": {
        "type": "object",
        "description": "请求失败时返回的错误响应。",
        "properties": {
          "code": {
            "type": "string",
            "description": "错误码。"
          },
          "message": {
            "type": "string",
            "description": "详细错误信息。"
          },
          "request_id": {
            "type": "string",
            "description": "唯一请求 ID，用于问题排查。"
          }
        }
      }
    }
  }
}
