{
  "openapi": "3.1.0",
  "info": {
    "title": "万相-图像局部重绘 API",
    "description": "图像局部重绘 API。根据用户输入的原始图片、掩码图和 prompt 提示词，在涂抹区域生成与文字描述相对应的内容，而涂抹区域外的部分则基本保持不变。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dashscope.aliyuncs.com/api/v1",
      "description": "DashScope API 端点"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/services/aigc/image2image/image-synthesis": {
      "post": {
        "operationId": "createWanxXPaintingTask",
        "summary": "创建图像局部重绘任务",
        "description": "创建图像局部重绘任务，使用 wanx-x-painting 模型。根据输入的原始图片、掩码图和提示词，在掩码标记的区域内生成新的图像内容。",
        "parameters": [
          {
            "name": "X-DashScope-Async",
            "in": "header",
            "required": true,
            "description": "异步处理配置参数。HTTP 请求只支持异步，必须设置为 `enable`。\n\n**重要：** 缺少此请求头将报错：\"current user api does not support synchronous calls\"。",
            "schema": {
              "type": "string",
              "enum": [
                "enable"
              ],
              "default": "enable"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WanxXPaintingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务提交成功。使用 `task_id` 轮询获取结果。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncTaskSubmitResponse"
                },
                "example": {
                  "output": {
                    "task_status": "PENDING",
                    "task_id": "0385dc79-5ff8-4d82-bcb6-xxxxxx"
                  },
                  "request_id": "4909100c-7b5a-9f92-bfe5-xxxxxx"
                }
              }
            }
          },
          "400": {
            "description": "请求参数无效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashScopeErrorResponse"
                },
                "example": {
                  "code": "InvalidParameter",
                  "message": "Invalid request parameters.",
                  "request_id": "7438d53d-6eb8-4596-8835-xxxxxx"
                }
              }
            }
          },
          "401": {
            "description": "认证失败。API 密钥无效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashScopeErrorResponse"
                },
                "example": {
                  "code": "InvalidApiKey",
                  "message": "No API-key provided.",
                  "request_id": "7438d53d-6eb8-4596-8835-xxxxxx"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --location 'https://dashscope.aliyuncs.com/api/v1/services/aigc/image2image/image-synthesis' \\\n  --header 'X-DashScope-Async: enable' \\\n  --header \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n  \"model\": \"wanx-x-painting\",\n  \"input\": {\n    \"prompt\": \"一只狗戴着红色眼镜\",\n    \"base_image_url\": \"http://synthesis-source.oss-accelerate.aliyuncs.com/lingji/validation/mask2img/demo/source3.jpg\",\n    \"mask_image_url\": \"http://synthesis-source.oss-accelerate.aliyuncs.com/lingji/validation/mask2img/demo/glasses.png\"\n  },\n  \"parameters\": {\n    \"size\": \"1024*1024\",\n    \"n\": 1\n  }\n}'"
          },
          {
            "lang": "python",
            "label": "Python SDK - 同步调用",
            "source": "from http import HTTPStatus\nfrom urllib.parse import urlparse, unquote\nfrom pathlib import PurePosixPath\nimport requests\nfrom dashscope import ImageSynthesis\n\nprompt = \"一只狗戴着红色眼镜\"\nmodel = \"wanx-x-painting\"\ntask = \"image2image\"\nextra_input = {\n  \"base_image_url\": \"http://synthesis-source.oss-accelerate.aliyuncs.com/lingji/validation/mask2img/demo/source3.jpg\",\n  \"mask_image_url\": \"http://synthesis-source.oss-accelerate.aliyuncs.com/lingji/validation/mask2img/demo/glasses.png\"\n}\n\nprint('----sync call, please wait a moment----')\nrsp = ImageSynthesis.call(model=model,\n                          prompt=prompt,\n                          n=1,\n                          size='1024*1024',\n                          task=task,\n                          extra_input=extra_input)\nif rsp.status_code == HTTPStatus.OK:\n  print(rsp)\n  for result in rsp.output.results:\n    file_name = PurePosixPath(unquote(urlparse(result.url).path)).parts[-1]\n    with open('./%s' % file_name, 'wb+') as f:\n      f.write(requests.get(result.url).content)\nelse:\n  print('sync_call Failed, status_code: %s, code: %s, message: %s' %\n        (rsp.status_code, rsp.code, rsp.message))"
          },
          {
            "lang": "python",
            "label": "Python SDK - 异步调用",
            "source": "from http import HTTPStatus\nfrom urllib.parse import urlparse, unquote\nfrom pathlib import PurePosixPath\nimport requests\nfrom dashscope import ImageSynthesis\n\nprompt = \"一只狗戴着红色眼镜\"\nmodel = \"wanx-x-painting\"\ntask = \"image2image\"\nextra_input = {\n  \"base_image_url\": \"http://synthesis-source.oss-accelerate.aliyuncs.com/lingji/validation/mask2img/demo/source3.jpg\",\n  \"mask_image_url\": \"http://synthesis-source.oss-accelerate.aliyuncs.com/lingji/validation/mask2img/demo/glasses.png\"\n}\n\n\ndef async_call():\n  print('----create task----')\n  task_info = create_async_task()\n  print('----wait task done then save image----')\n  wait_async_task(task_info)\n\n\ndef create_async_task():\n  rsp = ImageSynthesis.async_call(model=model,\n                                  prompt=prompt,\n                                  n=1,\n                                  size='1024*1024',\n                                  task=task,\n                                  extra_input=extra_input)\n  print(rsp)\n  if rsp.status_code == HTTPStatus.OK:\n    print(rsp.output)\n  else:\n    print('create_async_task Failed, status_code: %s, code: %s, message: %s' %\n          (rsp.status_code, rsp.code, rsp.message))\n  return rsp\n\n\ndef wait_async_task(task):\n  rsp = ImageSynthesis.wait(task)\n  print(rsp)\n  if rsp.status_code == HTTPStatus.OK:\n    print(rsp.output.task_status)\n    for result in rsp.output.results:\n      file_name = PurePosixPath(unquote(urlparse(result.url).path)).parts[-1]\n      with open('./%s' % file_name, 'wb+') as f:\n        f.write(requests.get(result.url).content)\n  else:\n    print('Failed, status_code: %s, code: %s, message: %s' %\n          (rsp.status_code, rsp.code, rsp.message))\n\n\nif __name__ == '__main__':\n  async_call()"
          },
          {
            "lang": "java",
            "label": "Java SDK - 同步调用",
            "source": "// Copyright (c) Alibaba, Inc. and its affiliates.\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesis;\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesisParam;\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesisResult;\nimport com.alibaba.dashscope.exception.ApiException;\nimport com.alibaba.dashscope.exception.NoApiKeyException;\nimport com.alibaba.dashscope.utils.JsonUtils;\nimport java.util.HashMap;\n\npublic class Main {\n  public void syncCall() {\n    String task = \"image2image\";\n    ImageSynthesis imageSynthesis = new ImageSynthesis(task);\n    ImageSynthesisParam param = genImageSynthesis();\n    ImageSynthesisResult result = null;\n    try {\n      System.out.println(\"---sync call, please wait a moment----\");\n      result = imageSynthesis.call(param);\n    } catch (ApiException | NoApiKeyException e){\n      throw new RuntimeException(e.getMessage());\n    }\n    System.out.println(JsonUtils.toJson(result));\n  }\n\n  private ImageSynthesisParam genImageSynthesis(){\n    HashMap<String,Object> extraInputMap = new HashMap<>();\n    extraInputMap.put(\"base_image_url\", \"http://synthesis-source.oss-accelerate.aliyuncs.com/lingji/validation/mask2img/demo/source3.jpg\");\n    extraInputMap.put(\"mask_image_url\", \"http://synthesis-source.oss-accelerate.aliyuncs.com/lingji/validation/mask2img/demo/glasses.png\");\n    String prompt = \"一只狗戴着红色眼镜\";\n    String model = \"wanx-x-painting\";\n    return ImageSynthesisParam.builder()\n            .model(model)\n            .prompt(prompt)\n            .n(1)\n            .size(\"1024*1024\")\n            .extraInputs(extraInputMap)\n            .build();\n  }\n\n  public static void main(String[] args){\n    Main text2Image = new Main();\n    text2Image.syncCall();\n  }\n}"
          },
          {
            "lang": "java",
            "label": "Java SDK - 异步调用",
            "source": "// Copyright (c) Alibaba, Inc. and its affiliates.\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesis;\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesisParam;\nimport com.alibaba.dashscope.aigc.imagesynthesis.ImageSynthesisResult;\nimport com.alibaba.dashscope.exception.ApiException;\nimport com.alibaba.dashscope.exception.NoApiKeyException;\nimport com.alibaba.dashscope.utils.JsonUtils;\nimport java.util.HashMap;\n\npublic class Main {\n  public void asyncCall() {\n    System.out.println(\"---create task----\");\n    String taskId = this.createAsyncTask();\n    System.out.println(\"---wait task done then return image url----\");\n    this.waitAsyncTask(taskId);\n  }\n\n  public String createAsyncTask() {\n    String task = \"image2image\";\n    ImageSynthesis imageSynthesis = new ImageSynthesis(task);\n    ImageSynthesisParam param = genImageSynthesis();\n    ImageSynthesisResult result = null;\n    try {\n      result = imageSynthesis.asyncCall(param);\n    } catch (ApiException | NoApiKeyException e){\n      throw new RuntimeException(e.getMessage());\n    }\n    String taskId = result.getOutput().getTaskId();\n    System.out.println(\"taskId=\" + taskId);\n    return taskId;\n  }\n\n  private ImageSynthesisParam genImageSynthesis(){\n    String prompt = \"一只狗戴着红色眼镜\";\n    String model = \"wanx-x-painting\";\n    HashMap<String,Object> extraInputMap = new HashMap<>();\n    extraInputMap.put(\"base_image_url\", \"http://synthesis-source.oss-accelerate.aliyuncs.com/lingji/validation/mask2img/demo/source3.jpg\");\n    extraInputMap.put(\"mask_image_url\", \"http://synthesis-source.oss-accelerate.aliyuncs.com/lingji/validation/mask2img/demo/glasses.png\");\n    return ImageSynthesisParam.builder()\n            .model(model)\n            .prompt(prompt)\n            .n(1)\n            .size(\"1024*1024\")\n            .extraInputs(extraInputMap)\n            .build();\n  }\n\n  public void waitAsyncTask(String taskId) {\n    ImageSynthesis imageSynthesis = new ImageSynthesis();\n    ImageSynthesisResult result = null;\n    try {\n      result = imageSynthesis.wait(taskId, null);\n    } catch (ApiException | NoApiKeyException e){\n      throw new RuntimeException(e.getMessage());\n    }\n    System.out.println(JsonUtils.toJson(result.getOutput()));\n    System.out.println(JsonUtils.toJson(result.getUsage()));\n  }\n\n  public static void main(String[] args){\n    Main text2Image = new Main();\n    text2Image.asyncCall();\n  }\n}"
          }
        ]
      }
    },
    "/tasks/{task_id}": {
      "get": {
        "operationId": "getWanxXPaintingTaskStatus",
        "summary": "查询任务结果",
        "description": "查询图像局部重绘任务的状态和结果。任务数据（如任务状态、图像 URL 等）仅保留 24 小时，超时后会被自动清除。请务必及时保存生成的图像。",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "description": "任务标识符，由创建任务接口返回。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取任务状态。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WanxXPaintingTaskStatusResponse"
                },
                "examples": {
                  "SUCCEEDED": {
                    "summary": "任务执行成功",
                    "value": {
                      "request_id": "85eaba38-0185-99d7-8d16-4d9135238846",
                      "output": {
                        "task_id": "86ecf553-d340-4e21-af6e-a0c6a421c010",
                        "task_status": "SUCCEEDED",
                        "results": [
                          {
                            "url": "https://dashscope-result-bj.oss-cn-beijing.aliyuncs.com/123/a1.png"
                          },
                          {
                            "url": "https://dashscope-result-bj.oss-cn-beijing.aliyuncs.com/123/b2.png"
                          }
                        ],
                        "task_metrics": {
                          "TOTAL": 2,
                          "SUCCEEDED": 2,
                          "FAILED": 0
                        }
                      },
                      "usage": {
                        "image_count": 2
                      }
                    }
                  },
                  "FAILED": {
                    "summary": "任务执行失败",
                    "value": {
                      "request_id": "e5d70b02-ebd3-98ce-9fe8-759d7d7b107d",
                      "output": {
                        "task_id": "86ecf553-d340-4e21-af6e-a0c6a421c010",
                        "task_status": "FAILED",
                        "code": "InvalidParameter",
                        "message": "The size is not match the allowed size ['1024*1024', '720*1280', '1280*720']",
                        "task_metrics": {
                          "TOTAL": 4,
                          "SUCCEEDED": 0,
                          "FAILED": 4
                        }
                      }
                    }
                  },
                  "PARTIAL_FAILURE": {
                    "summary": "任务部分失败",
                    "value": {
                      "request_id": "85eaba38-0185-99d7-8d16-4d9135238846",
                      "output": {
                        "task_id": "86ecf553-d340-4e21-af6e-a0c6a421c010",
                        "task_status": "SUCCEEDED",
                        "results": [
                          {
                            "url": "https://dashscope-result-bj.oss-cn-beijing.aliyuncs.com/123/a1.png"
                          },
                          {
                            "code": "InternalError.Timeout",
                            "message": "An internal timeout error has occurred during execution, please try again later or contact service support."
                          }
                        ],
                        "task_metrics": {
                          "TOTAL": 2,
                          "SUCCEEDED": 1,
                          "FAILED": 1
                        }
                      },
                      "usage": {
                        "image_count": 1
                      }
                    }
                  },
                  "RUNNING": {
                    "summary": "任务处理中",
                    "value": {
                      "request_id": "c1209113-8437-424f-a386-xxxxxx",
                      "output": {
                        "task_id": "966cebcd-dedc-4962-af88-xxxxxx",
                        "task_status": "RUNNING",
                        "task_metrics": {
                          "TOTAL": 1,
                          "SUCCEEDED": 0,
                          "FAILED": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求参数无效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashScopeErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL - 查询任务结果",
            "source": "# 将 {task_id} 替换为创建任务接口返回的实际 task_id\ncurl -X GET 'https://dashscope.aliyuncs.com/api/v1/tasks/{task_id}' \\\n  --header \"Authorization: Bearer $DASHSCOPE_API_KEY\""
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "千问AI平台 API Key。详见[获取 API Key](/api-reference/preparation/api-key)。"
      }
    },
    "schemas": {
      "WanxXPaintingRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称。示例值：wanx-x-painting。",
            "enum": [
              "wanx-x-painting"
            ],
            "example": "wanx-x-painting"
          },
          "input": {
            "$ref": "#/components/schemas/WanxXPaintingInput"
          },
          "parameters": {
            "$ref": "#/components/schemas/WanxXPaintingParameters"
          }
        }
      },
      "WanxXPaintingInput": {
        "type": "object",
        "required": [
          "prompt",
          "base_image_url",
          "mask_image_url"
        ],
        "description": "输入的基本信息，如提示词、图像 URL 等。",
        "properties": {
          "prompt": {
            "type": "string",
            "description": "正向提示词，用来描述生成图像中期望包含的元素和视觉特点。\n\n支持中英文，长度不超过 75 个字符，超过部分会自动截断。",
            "maxLength": 75,
            "example": "一只狗戴着红色眼镜"
          },
          "base_image_url": {
            "type": "string",
            "description": "输入图像 URL 地址，不支持填写图像 Base64 数据。\n\nURL 需为公网可访问的地址，并支持 HTTP 或 HTTPS 协议。\n\n**图像限制：**\n- 图像格式：JPG、JPEG、PNG、BMP。\n- 图像分辨率：大于 256×256 像素，小于 4096×4096 像素。\n- 图像大小：不超过 10 MB。\n- URL 地址中不能包含中文字符。",
            "example": "http://synthesis-source.oss-accelerate.aliyuncs.com/lingji/validation/mask2img/demo/source3.jpg"
          },
          "mask_image_url": {
            "type": "string",
            "description": "用户标记涂抹区域的图像 URL 地址，需要和 base_image_url 图像分辨率保持一致。不支持填写图像 Base64 数据。\n\nURL 需为公网可访问的地址，并支持 HTTP 或 HTTPS 协议。\n\n**图像限制：**\n- 图像格式：JPG、JPEG、PNG、BMP。\n- 图像分辨率：大于 256×256 像素，小于 4096×4096 像素。\n- 图像大小：不超过 10 MB。\n- URL 地址中不能包含中文字符。",
            "example": "http://synthesis-source.oss-accelerate.aliyuncs.com/lingji/validation/mask2img/demo/glasses.png"
          }
        }
      },
      "WanxXPaintingParameters": {
        "type": "object",
        "description": "图像处理参数。",
        "properties": {
          "style": {
            "type": "string",
            "description": "输出图像的风格。目前支持以下风格取值：\n- `<auto>`：默认。\n- `<3d cartoon>`：3D 卡通。\n- `<anime>`：动画。\n- `<oil painting>`：油画。\n- `<watercolor>`：水彩。\n- `<sketch>`：素描。\n- `<chinese painting>`：中国画。\n- `<flat illustration>`：扁平插画。",
            "enum": [
              "<auto>",
              "<3d cartoon>",
              "<anime>",
              "<oil painting>",
              "<watercolor>",
              "<sketch>",
              "<chinese painting>",
              "<flat illustration>"
            ],
            "default": "<auto>",
            "example": "<auto>"
          },
          "size": {
            "type": "string",
            "description": "输出图像的分辨率。目前支持 3 种图像分辨率：\n- `1024*1024`：默认值。\n- `720*1280`\n- `1280*720`",
            "enum": [
              "1024*1024",
              "720*1280",
              "1280*720"
            ],
            "default": "1024*1024",
            "example": "1024*1024"
          },
          "n": {
            "type": "integer",
            "description": "生成图片的数量。取值范围为 1~4 张，默认为 1。",
            "minimum": 1,
            "maximum": 4,
            "default": 1,
            "example": 1
          },
          "mask_color": {
            "type": "array",
            "description": "RGB 颜色数值列表，用于指定掩码图片中表示涂抹区域的颜色。默认值为 []。\n\n当该字段为空，默认对掩码图片进行二值化处理（处理后白色代表涂抹区域）。当该字段非空时，表示 RGB 颜色数值列表，代表一种或多种颜色。这些 RGB 颜色所描绘的区域即为涂抹区域，如 [0,0,0] 和 [134,134,134]，而未被指定的颜色则视为背景色。\n\n示例值：[[0, 0, 0], [134, 134, 134]]。",
            "items": {
              "type": "array",
              "items": {
                "type": "integer",
                "minimum": 0,
                "maximum": 255
              },
              "minItems": 3,
              "maxItems": 3
            },
            "example": [
              [
                0,
                0,
                0
              ],
              [
                134,
                134,
                134
              ]
            ]
          }
        }
      },
      "AsyncTaskSubmitResponse": {
        "type": "object",
        "properties": {
          "output": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "任务 ID。查询有效期 24 小时。"
              },
              "task_status": {
                "type": "string",
                "description": "任务状态。",
                "enum": [
                  "PENDING",
                  "RUNNING",
                  "SUCCEEDED",
                  "FAILED",
                  "CANCELED",
                  "UNKNOWN"
                ]
              }
            }
          },
          "request_id": {
            "type": "string",
            "description": "请求唯一标识。可用于请求明细溯源和问题排查。"
          }
        }
      },
      "WanxXPaintingTaskStatusResponse": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "请求唯一标识。可用于请求明细溯源和问题排查。"
          },
          "output": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "任务 ID。查询有效期 24 小时。"
              },
              "task_status": {
                "type": "string",
                "description": "任务状态。\n- PENDING：任务排队中\n- RUNNING：任务处理中\n- SUCCEEDED：任务执行成功\n- FAILED：任务执行失败\n- CANCELED：任务已取消\n- UNKNOWN：任务不存在或状态未知",
                "enum": [
                  "PENDING",
                  "RUNNING",
                  "SUCCEEDED",
                  "FAILED",
                  "CANCELED",
                  "UNKNOWN"
                ]
              },
              "results": {
                "type": "array",
                "description": "任务结果列表，包括图像 URL、部分任务执行失败报错信息等。",
                "items": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "生成的图像 URL。有效期 24 小时。"
                    },
                    "code": {
                      "type": "string",
                      "description": "该条结果请求失败的错误码。请求成功时不会返回此参数。"
                    },
                    "message": {
                      "type": "string",
                      "description": "该条结果请求失败的详细信息。请求成功时不会返回此参数。"
                    }
                  }
                }
              },
              "task_metrics": {
                "type": "object",
                "description": "任务结果统计。",
                "properties": {
                  "TOTAL": {
                    "type": "integer",
                    "description": "总的任务数。"
                  },
                  "SUCCEEDED": {
                    "type": "integer",
                    "description": "任务状态为成功的任务数。"
                  },
                  "FAILED": {
                    "type": "integer",
                    "description": "任务状态为失败的任务数。"
                  }
                }
              },
              "code": {
                "type": "string",
                "description": "请求失败的错误码。请求成功时不会返回此参数，详情请参见错误信息文档。"
              },
              "message": {
                "type": "string",
                "description": "请求失败的详细信息。请求成功时不会返回此参数，详情请参见错误信息文档。"
              }
            }
          },
          "usage": {
            "type": "object",
            "description": "输出信息统计。只对成功的结果计数。",
            "properties": {
              "image_count": {
                "type": "integer",
                "description": "模型成功生成图片的数量。计费公式：费用 = 图片数量 × 单价。"
              }
            }
          }
        }
      },
      "DashScopeErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "标识错误类型的错误码。"
          },
          "message": {
            "type": "string",
            "description": "详细的错误信息。"
          },
          "request_id": {
            "type": "string",
            "description": "用于排查问题的请求唯一标识。"
          }
        }
      }
    }
  }
}
