{
  "openapi": "3.1.0",
  "info": {
    "title": "Wan 2.7 图像转视频 API",
    "description": "基于 Wan 2.7 模型，从图片、音频和视频片段生成视频。以异步方式提交任务，然后通过 `GET /tasks/{task_id}` 轮询获取结果。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dashscope.aliyuncs.com/api/v1",
      "description": "千问AI平台"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/services/aigc/video-generation/video-synthesis": {
      "post": {
        "operationId": "createWan27ImageToVideo",
        "summary": "创建图像转视频任务",
        "description": "提交图像转视频任务，返回用于轮询的 `task_id`。",
        "parameters": [
          {
            "name": "X-DashScope-Async",
            "in": "header",
            "required": true,
            "description": "必须设置为 `enable`，表示以异步方式提交任务。",
            "schema": {
              "type": "string",
              "enum": [
                "enable"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Wan27ImageToVideoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务提交成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncTaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数无效",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashScopeErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL - 首帧 + 音频",
            "source": "curl --location 'https://dashscope.aliyuncs.com/api/v1/services/aigc/video-generation/video-synthesis' \\\n  -H 'X-DashScope-Async: enable' \\\n  -H \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n  \"model\": \"wan2.7-i2v\",\n  \"input\": {\n    \"prompt\": \"A scene of urban fantasy art. A dynamic graffiti art character. A boy made of spray paint comes to life on a concrete wall. He sings an English rap song at high speed while striking a classic, energetic rapper pose. The scene is set under an urban railway bridge at night. The light comes from a single street lamp, creating a cinematic atmosphere full of high energy and amazing detail. The audio of the video consists entirely of the rap, with no other dialogue or noise.\",\n    \"media\": [\n      {\n        \"type\": \"first_frame\",\n        \"url\": \"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20250925/wpimhv/rap.png\"\n      },\n      {\n        \"type\": \"driving_audio\",\n        \"url\": \"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20250925/ozwpvi/rap.mp3\"\n      }\n    ]\n  },\n  \"parameters\": {\n    \"resolution\": \"720P\",\n    \"duration\": 10,\n    \"prompt_extend\": true,\n    \"watermark\": true\n  }\n}'"
          },
          {
            "lang": "curl",
            "label": "cURL - 首帧与尾帧",
            "source": "curl --location 'https://dashscope.aliyuncs.com/api/v1/services/aigc/video-generation/video-synthesis' \\\n  -H 'X-DashScope-Async: enable' \\\n  -H \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n  \"model\": \"wan2.7-i2v\",\n  \"input\": {\n    \"prompt\": \"Realistic style, a small black cat looks up at the sky curiously. The camera angle gradually rises from eye level, finally capturing its curious gaze from a top-down view.\",\n    \"media\": [\n      {\n        \"type\": \"first_frame\",\n        \"url\": \"https://wanx.alicdn.com/material/20250318/first_frame.png\"\n      },\n      {\n        \"type\": \"last_frame\",\n        \"url\": \"https://wanx.alicdn.com/material/20250318/last_frame.png\"\n      }\n    ]\n  },\n  \"parameters\": {\n    \"resolution\": \"720P\",\n    \"duration\": 10,\n    \"prompt_extend\": false,\n    \"watermark\": true\n  }\n}'"
          },
          {
            "lang": "curl",
            "label": "cURL - 视频续生",
            "source": "curl --location 'https://dashscope.aliyuncs.com/api/v1/services/aigc/video-generation/video-synthesis' \\\n  -H 'X-DashScope-Async: enable' \\\n  -H \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n  \"model\": \"wan2.7-i2v\",\n  \"input\": {\n    \"prompt\": \"A girl takes a selfie in the mirror, then leaves with her backpack.\",\n    \"media\": [\n      {\n        \"type\": \"first_clip\",\n        \"url\": \"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20260129/hfugmr/wan-r2v-role1.mp4\"\n      }\n    ]\n  },\n  \"parameters\": {\n    \"resolution\": \"720P\",\n    \"duration\": 10,\n    \"prompt_extend\": true,\n    \"watermark\": true\n  }\n}'"
          },
          {
            "lang": "python",
            "label": "Python - 同步调用",
            "source": "# -*- coding: utf-8 -*-\nfrom http import HTTPStatus\nfrom dashscope import VideoSynthesis\nimport dashscope\nimport os\ndashscope.base_http_api_url = 'https://dashscope.aliyuncs.com/api/v1'\n# 若没有配置环境变量，请用API Key将下行替换为：api_key=\"sk-xxx\"\napi_key = os.getenv(\"DASHSCOPE_API_KEY\")\nmedia = [\n    {\n        \"type\": \"first_frame\",\n        \"url\": \"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20250925/wpimhv/rap.png\"\n    },\n    {\n        \"type\": \"driving_audio\",\n        \"url\": \"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20250925/ozwpvi/rap.mp3\"\n    }\n]\ndef sample_sync_call():\n    print('----sync call, please wait a moment----')\n    rsp = VideoSynthesis.call(\n        api_key=api_key,\n        model=\"wan2.7-i2v-2026-04-25\",\n        media=media,\n        resolution=\"720P\",\n        duration=10,\n        watermark=True,\n        prompt=\"一幅都市奇幻艺术的场景。一个充满动感的涂鸦艺术角色。一个由喷漆所画成的少年，正从一面混凝土墙上活过来。他一边用极快的语速演唱一首英文rap，一边摆着一个经典的、充满活力的说唱歌手姿势。场景设定在夜晚一个充满都市感的铁路桥下。灯光来自一盏孤零零的街灯，营造出电影般的氛围，充满高能量和惊人的细节。视频的音频部分完全由rap构成，没有其他对话或杂音。\",\n    )\n    if rsp.status_code == HTTPStatus.OK:\n        print(rsp.output.video_url)\n    else:\n        print('Failed, status_code: %s, code: %s, message: %s' %\n              (rsp.status_code, rsp.code, rsp.message))\nif __name__ == '__main__':\n    sample_sync_call()"
          },
          {
            "lang": "python",
            "label": "Python - 异步调用",
            "source": "# -*- coding: utf-8 -*-\nfrom http import HTTPStatus\nfrom dashscope import VideoSynthesis\nimport dashscope\nimport os\ndashscope.base_http_api_url = 'https://dashscope.aliyuncs.com/api/v1'\n# 若没有配置环境变量，请用API Key将下行替换为：api_key=\"sk-xxx\"\napi_key = os.getenv(\"DASHSCOPE_API_KEY\")\nmedia = [\n    {\n        \"type\": \"first_frame\",\n        \"url\": \"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20250925/wpimhv/rap.png\"\n    },\n    {\n        \"type\": \"driving_audio\",\n        \"url\": \"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20250925/ozwpvi/rap.mp3\"\n    }\n]\ndef sample_async_call():\n    # 提交异步任务，立即返回任务信息\n    rsp = VideoSynthesis.async_call(\n        api_key=api_key,\n        model=\"wan2.7-i2v-2026-04-25\",\n        media=media,\n        resolution=\"720P\",\n        duration=10,\n        watermark=True,\n        prompt=\"一幅都市奇幻艺术的场景。一个充满动感的涂鸦艺术角色。一个由喷漆所画成的少年，正从一面混凝土墙上活过来。他一边用极快的语速演唱一首英文rap，一边摆着一个经典的、充满活力的说唱歌手姿势。场景设定在夜晚一个充满都市感的铁路桥下。灯光来自一盏孤零零的街灯，营造出电影般的氛围，充满高能量和惊人的细节。视频的音频部分完全由rap构成，没有其他对话或杂音。\",\n    )\n    print(rsp)\n    if rsp.status_code == HTTPStatus.OK:\n        print(\"task_id: %s\" % rsp.output.task_id)\n    else:\n        print('Failed, status_code: %s, code: %s, message: %s' %\n              (rsp.status_code, rsp.code, rsp.message))\n    # 查询任务状态\n    status = VideoSynthesis.fetch(task=rsp, api_key=api_key)\n    if status.status_code == HTTPStatus.OK:\n        print(status.output.task_status)\n    else:\n        print('Failed, status_code: %s, code: %s, message: %s' %\n              (status.status_code, status.code, status.message))\n    # 等待任务完成\n    rsp = VideoSynthesis.wait(task=rsp, api_key=api_key)\n    print(rsp)\n    if rsp.status_code == HTTPStatus.OK:\n        print(rsp.output.video_url)\n    else:\n        print('Failed, status_code: %s, code: %s, message: %s' %\n              (rsp.status_code, rsp.code, rsp.message))\nif __name__ == '__main__':\n    sample_async_call()"
          },
          {
            "lang": "java",
            "label": "Java - 同步调用",
            "source": "// Copyright (c) Alibaba, Inc. and its affiliates.\nimport com.alibaba.dashscope.aigc.videosynthesis.VideoSynthesis;\nimport com.alibaba.dashscope.aigc.videosynthesis.VideoSynthesisParam;\nimport com.alibaba.dashscope.aigc.videosynthesis.VideoSynthesisResult;\nimport com.alibaba.dashscope.exception.ApiException;\nimport com.alibaba.dashscope.exception.InputRequiredException;\nimport com.alibaba.dashscope.exception.NoApiKeyException;\nimport com.alibaba.dashscope.utils.Constants;\nimport com.alibaba.dashscope.utils.JsonUtils;\nimport java.util.ArrayList;\nimport java.util.List;\npublic class Image2Video {\n    static {\n                Constants.baseHttpApiUrl = \"https://dashscope.aliyuncs.com/api/v1\";\n    }\n    // 若没有配置环境变量，请用API Key将下行替换为：apiKey=\"sk-xxx\"\n        static String apiKey = System.getenv(\"DASHSCOPE_API_KEY\");\n    public static void syncCall() {\n        VideoSynthesis videoSynthesis = new VideoSynthesis();\n        final String prompt = \"一幅都市奇幻艺术的场景。一个充满动感的涂鸦艺术角色。一个由喷漆所画成的少年，正从一面混凝土墙上活过来。他一边用极快的语速演唱一首英文rap，一边摆着一个经典的、充满活力的说唱歌手姿势。场景设定在夜晚一个充满都市感的铁路桥下。灯光来自一盏孤零零的街灯，营造出电影般的氛围，充满高能量和惊人的细节。视频的音频部分完全由他的rap构成，没有其他对话或杂音。\";\n        List<VideoSynthesisParam.Media> media = new ArrayList<VideoSynthesisParam.Media>(){{\n            add(VideoSynthesisParam.Media.builder()\n                    .url(\"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20250925/wpimhv/rap.png\")\n                    .type(\"first_frame\")\n                    .build());\n            add(VideoSynthesisParam.Media.builder()\n                    .url(\"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20250925/ozwpvi/rap.mp3\")\n                    .type(\"driving_audio\")\n                    .build());\n        }};\n        VideoSynthesisParam param =\n                VideoSynthesisParam.builder()\n                        .apiKey(apiKey)\n                        .model(\"wan2.7-i2v-2026-04-25\")\n                        .prompt(prompt)\n                        .media(media)\n                        .watermark(true)\n                        .duration(10)\n                        .resolution(\"720P\")\n                        .build();\n        VideoSynthesisResult result = null;\n        try {\n            System.out.println(\"---sync call, please wait a moment----\");\n            result = videoSynthesis.call(param);\n        } catch (ApiException | NoApiKeyException e){\n            throw new RuntimeException(e.getMessage());\n        } catch (InputRequiredException e) {\n            throw new RuntimeException(e);\n        }\n        System.out.println(JsonUtils.toJson(result));\n    }\n    public static void main(String[] args) {\n        syncCall();\n    }\n}"
          },
          {
            "lang": "java",
            "label": "Java - 异步调用",
            "source": "// Copyright (c) Alibaba, Inc. and its affiliates.\nimport com.alibaba.dashscope.aigc.videosynthesis.VideoSynthesis;\nimport com.alibaba.dashscope.aigc.videosynthesis.VideoSynthesisParam;\nimport com.alibaba.dashscope.aigc.videosynthesis.VideoSynthesisResult;\nimport com.alibaba.dashscope.exception.ApiException;\nimport com.alibaba.dashscope.exception.InputRequiredException;\nimport com.alibaba.dashscope.exception.NoApiKeyException;\nimport com.alibaba.dashscope.utils.Constants;\nimport com.alibaba.dashscope.utils.JsonUtils;\nimport java.util.ArrayList;\nimport java.util.List;\npublic class Image2Video {\n    static {\n                Constants.baseHttpApiUrl = \"https://dashscope.aliyuncs.com/api/v1\";\n    }\n    // 若没有配置环境变量，请用API Key将下行替换为：apiKey=\"sk-xxx\"\n        static String apiKey = System.getenv(\"DASHSCOPE_API_KEY\");\n    public static void asyncCall() {\n        VideoSynthesis videoSynthesis = new VideoSynthesis();\n        final String prompt = \"一幅都市奇幻艺术的场景。一个充满动感的涂鸦艺术角色。一个由喷漆所画成的少年，正从一面混凝土墙上活过来。他一边用极快的语速演唱一首英文rap，一边摆着一个经典的、充满活力的说唱歌手姿势。场景设定在夜晚一个充满都市感的铁路桥下。灯光来自一盏孤零零的街灯，营造出电影般的氛围，充满高能量和惊人的细节。视频的音频部分完全由他的rap构成，没有其他对话或杂音。\";\n        List<VideoSynthesisParam.Media> media = new ArrayList<VideoSynthesisParam.Media>(){{\n            add(VideoSynthesisParam.Media.builder()\n                    .url(\"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20250925/wpimhv/rap.png\")\n                    .type(\"first_frame\")\n                    .build());\n            add(VideoSynthesisParam.Media.builder()\n                    .url(\"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20250925/ozwpvi/rap.mp3\")\n                    .type(\"driving_audio\")\n                    .build());\n        }};\n        VideoSynthesisParam param =\n                VideoSynthesisParam.builder()\n                        .apiKey(apiKey)\n                        .model(\"wan2.7-i2v-2026-04-25\")\n                        .prompt(prompt)\n                        .media(media)\n                        .watermark(true)\n                        .duration(10)\n                        .resolution(\"720P\")\n                        .build();\n        VideoSynthesisResult result = null;\n        try {\n            System.out.println(\"---async call, please wait a moment----\");\n            result = videoSynthesis.asyncCall(param);\n        } catch (ApiException | NoApiKeyException e){\n            throw new RuntimeException(e.getMessage());\n        } catch (InputRequiredException e) {\n            throw new RuntimeException(e);\n        }\n        System.out.println(JsonUtils.toJson(result));\n        String taskId = result.getOutput().getTaskId();\n        System.out.println(\"taskId=\" + taskId);\n        try {\n            result = videoSynthesis.wait(taskId, apiKey);\n        } catch (ApiException | NoApiKeyException e){\n            throw new RuntimeException(e.getMessage());\n        }\n        System.out.println(JsonUtils.toJson(result));\n        System.out.println(JsonUtils.toJson(result.getOutput()));\n    }\n    public static void main(String[] args) {\n        asyncCall();\n    }\n}"
          }
        ]
      }
    },
    "/tasks/{task_id}": {
      "get": {
        "operationId": "getWan27ImageToVideoTaskStatus",
        "summary": "查询任务结果",
        "description": "轮询已提交任务的状态，任务完成后获取视频链接。",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "description": "POST 响应中返回的任务 ID。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取任务状态",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wan27I2VTaskStatusResponse"
                },
                "examples": {
                  "SUCCEEDED": {
                    "summary": "任务成功",
                    "value": {
                      "request_id": "2ca1c497-f9e0-449d-9a3f-xxxxxx",
                      "output": {
                        "task_id": "af6efbc0-4bef-4194-8246-xxxxxx",
                        "task_status": "SUCCEEDED",
                        "submit_time": "2025-09-25 11:07:28.590",
                        "scheduled_time": "2025-09-25 11:07:35.349",
                        "end_time": "2025-09-25 11:17:11.650",
                        "orig_prompt": "A scene of urban fantasy art. A dynamic graffiti art character. A boy made of spray paint comes to life on a concrete wall. He sings an English rap song at high speed while striking a classic, energetic rapper pose. The scene is set under an urban railway bridge at night. The light comes from a single street lamp, creating a cinematic atmosphere full of high energy and amazing detail. The audio of the video consists entirely of his rap, with no other dialogue or noise.",
                        "video_url": "https://dashscope-result-sh.oss-accelerate.aliyuncs.com/xxx.mp4?Expires=xxx"
                      },
                      "usage": {
                        "duration": 15,
                        "input_video_duration": 0,
                        "output_video_duration": 15,
                        "video_count": 1,
                        "SR": 720
                      }
                    }
                  },
                  "FAILED": {
                    "summary": "任务失败",
                    "value": {
                      "request_id": "e5d70b02-ebd3-98ce-9fe8-759d7d7b107d",
                      "output": {
                        "task_id": "86ecf553-d340-4e21-af6e-a0c6a421c010",
                        "task_status": "FAILED",
                        "code": "InvalidParameter",
                        "message": "The size does not match xxxxxx"
                      }
                    }
                  },
                  "RUNNING": {
                    "summary": "任务运行中",
                    "value": {
                      "request_id": "c1209113-8437-424f-a386-xxxxxx",
                      "output": {
                        "task_id": "86ecf553-d340-4e21-af6e-a0c6a421c010",
                        "task_status": "RUNNING",
                        "submit_time": "2025-09-25 11:07:28.590",
                        "scheduled_time": "2025-09-25 11:07:35.349"
                      }
                    }
                  },
                  "UNKNOWN": {
                    "summary": "任务已过期",
                    "value": {
                      "request_id": "a4de7c32-7057-9f82-8581-xxxxxx",
                      "output": {
                        "task_id": "502a00b1-19d9-4839-a82f-xxxxxx",
                        "task_status": "UNKNOWN"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求参数无效",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashScopeErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL - 查询任务结果",
            "source": "# 将 {task_id} 替换为提交任务时返回的实际任务 ID\ncurl -X GET 'https://dashscope.aliyuncs.com/api/v1/tasks/{task_id}' \\\n  -H \"Authorization: Bearer $DASHSCOPE_API_KEY\""
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "千问AI平台 API Key。详见[获取 API Key](/api-reference/preparation/api-key)。"
      }
    },
    "schemas": {
      "Wan27ImageToVideoRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型标识符。可选值：`wan2.7-i2v`（主线版本，持续更新）、`wan2.7-i2v-2026-04-25`（快照版本，能力与主线一致）。",
            "enum": [
              "wan2.7-i2v",
              "wan2.7-i2v-2026-04-25"
            ],
            "example": "wan2.7-i2v"
          },
          "input": {
            "type": "object",
            "required": [
              "media"
            ],
            "description": "视频生成的输入数据。",
            "properties": {
              "prompt": {
                "type": "string",
                "description": "描述希望生成的视频内容，支持中英文，最多 5,000 个字符（超出自动截断）。",
                "example": "A kitten runs on the grass."
              },
              "negative_prompt": {
                "type": "string",
                "description": "描述不希望出现在视频中的内容（如 `低质量、模糊、多余手指`），支持中英文，最多 500 个字符（超出自动截断）。",
                "example": "low resolution, error, worst quality, low quality, deformed, extra fingers, bad proportions"
              },
              "media": {
                "type": "array",
                "description": "视频生成所需的参考素材，每个元素指定 `type` 和 `url`，每种 `type` 最多出现一次。\n\n支持的组合：\n- `first_frame`\n- `first_frame` + `driving_audio`\n- `first_frame` + `last_frame`\n- `first_frame` + `last_frame` + `driving_audio`\n- `first_clip`\n- `first_clip` + `last_frame`",
                "items": {
                  "type": "object",
                  "required": [
                    "type",
                    "url"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "素材类型。\n\n- `first_frame`：首帧图片，支持 JPEG/JPG/PNG/BMP/WEBP，每边 240-8000 px，宽高比 1:8 至 8:1，最大 20 MB。\n- `last_frame`：尾帧图片，限制与 `first_frame` 相同。\n- `driving_audio`：用于口型同步或语音驱动动画的音频，支持 WAV/MP3，时长 2-30 秒，最大 15 MB。若不提供，模型将自动生成配套音效。\n- `first_clip`：用于续生的输入视频，支持 MP4/MOV，时长 2-10 秒，每边 240-4096 px，宽高比 1:8 至 8:1，最大 100 MB。",
                      "enum": [
                        "first_frame",
                        "last_frame",
                        "driving_audio",
                        "first_clip"
                      ]
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "素材的公开访问 URL（HTTP/HTTPS）。"
                    }
                  }
                }
              }
            }
          },
          "parameters": {
            "$ref": "#/components/schemas/Wan27ImageToVideoParameters"
          }
        }
      },
      "Wan27ImageToVideoParameters": {
        "type": "object",
        "description": "视频生成参数。",
        "properties": {
          "resolution": {
            "type": "string",
            "description": "视频清晰度档位。模型会自动缩放输出分辨率并保持输入素材的宽高比，分辨率越高费用越高。",
            "enum": [
              "720P",
              "1080P"
            ],
            "default": "1080P"
          },
          "duration": {
            "type": "integer",
            "description": "视频时长（秒），取整数，范围 2-15，时长越长费用越高，按秒计费。对于视频续生（`first_clip`），此参数为包含输入片段的总输出时长。例如，若 `duration=15` 而输入视频为 3 秒，则模型将生成 12 秒的新内容。",
            "minimum": 2,
            "maximum": 15,
            "default": 5
          },
          "prompt_extend": {
            "type": "boolean",
            "description": "在生成前使用大语言模型对提示词进行扩写优化，适合简短或模糊的提示词，但会增加耗时。设置为 `false` 则按原始提示词生成。",
            "default": true
          },
          "watermark": {
            "type": "boolean",
            "description": "在视频右下角添加 \"AI 生成\" 水印。",
            "default": false
          },
          "seed": {
            "type": "integer",
            "description": "随机种子，用于生成可复现的结果。相同种子和参数会产生相似（但不完全相同）的输出。",
            "minimum": 0,
            "maximum": 2147483647
          }
        }
      },
      "AsyncTaskSubmitResponse": {
        "type": "object",
        "description": "异步任务提交的响应结果。",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "请求的唯一标识符，用于追踪和排查问题。",
            "example": "4909100c-7b5a-9f92-bfe5-xxxxxx"
          },
          "output": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "用于轮询任务状态的任务 ID，配合 `GET /tasks/{task_id}` 使用。",
                "example": "0385dc79-5ff8-4d82-bcb6-xxxxxx"
              },
              "task_status": {
                "type": "string",
                "description": "任务的初始状态，通常为 `PENDING`。",
                "enum": [
                  "PENDING",
                  "RUNNING",
                  "SUCCEEDED",
                  "FAILED"
                ]
              }
            }
          }
        }
      },
      "Wan27I2VTaskStatusResponse": {
        "type": "object",
        "description": "wan2.7 图像转视频任务的状态响应。",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "请求 ID，用于排查问题。联系支持时请提供此 ID。",
            "example": "2ca1c497-f9e0-449d-9a3f-xxxxxx"
          },
          "output": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "任务 ID，提交后 24 小时内可查询。",
                "example": "af6efbc0-4bef-4194-8246-xxxxxx"
              },
              "task_status": {
                "type": "string",
                "description": "任务生命周期：`PENDING` → `RUNNING` → `SUCCEEDED` 或 `FAILED`。主动停止时为 `CANCELED`，过期后为 `UNKNOWN`。",
                "enum": [
                  "PENDING",
                  "RUNNING",
                  "SUCCEEDED",
                  "FAILED",
                  "CANCELED",
                  "UNKNOWN"
                ]
              },
              "submit_time": {
                "type": "string",
                "description": "任务提交时间（UTC+8，格式：`YYYY-MM-DD HH:mm:ss.SSS`）。",
                "example": "2025-09-25 11:07:28.590"
              },
              "scheduled_time": {
                "type": "string",
                "description": "任务开始执行时间（UTC+8，格式：`YYYY-MM-DD HH:mm:ss.SSS`）。",
                "example": "2025-09-25 11:07:35.349"
              },
              "end_time": {
                "type": "string",
                "description": "任务结束时间（UTC+8，格式：`YYYY-MM-DD HH:mm:ss.SSS`），仅在 `SUCCEEDED` 或 `FAILED` 状态下出现。",
                "example": "2025-09-25 11:17:11.650"
              },
              "orig_prompt": {
                "type": "string",
                "description": "原始提示词文本，对应请求参数 `prompt`。"
              },
              "video_url": {
                "type": "string",
                "format": "uri",
                "description": "生成视频的 URL（MP4，H.264 编码），仅在 `task_status` 为 `SUCCEEDED` 时出现。**有效期 24 小时**，请及时下载。",
                "example": "https://dashscope-result-sh.oss-accelerate.aliyuncs.com/xxx.mp4?Expires=xxx"
              },
              "code": {
                "type": "string",
                "description": "错误码，仅在 `task_status` 为 `FAILED` 时出现。"
              },
              "message": {
                "type": "string",
                "description": "错误信息，仅在 `task_status` 为 `FAILED` 时出现。"
              }
            }
          },
          "usage": {
            "type": "object",
            "description": "资源消耗信息，仅在 `task_status` 为 `SUCCEEDED` 时出现。",
            "properties": {
              "duration": {
                "type": "integer",
                "description": "计费视频时长（秒）。"
              },
              "input_video_duration": {
                "type": "integer",
                "description": "输入视频时长（秒），首帧任务时为 `0`。"
              },
              "output_video_duration": {
                "type": "integer",
                "description": "输出视频时长（秒）。"
              },
              "video_count": {
                "type": "integer",
                "description": "生成的视频数量，固定为 `1`。"
              },
              "SR": {
                "type": "integer",
                "description": "所用分辨率档位（例如，`720` 对应 720P，`1080` 对应 1080P）。"
              }
            }
          }
        }
      },
      "DashScopeErrorResponse": {
        "type": "object",
        "description": "DashScope API 错误响应。",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "请求的唯一标识符，用于追踪和支持。"
          },
          "code": {
            "type": "string",
            "description": "机器可读的错误码（如 `InvalidParameter`、`Throttling`、`Unauthorized`）。",
            "example": "InvalidParameter"
          },
          "message": {
            "type": "string",
            "description": "人类可读的错误信息。",
            "example": "Invalid model name"
          }
        }
      }
    }
  }
}