{
  "openapi": "3.1.0",
  "info": {
    "title": "千问AI平台 语音设计 API — 删除音色",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dashscope.aliyuncs.com/api/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/services/audio/tts/customization": {
      "post": {
        "operationId": "deleteVoice",
        "summary": "删除音色",
        "description": "删除指定音色并释放其配额。每个账号最多可创建 1,000 个音色。超过一年未用于合成的音色将被自动删除。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteVoiceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "音色删除成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteVoiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "音色不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST https://dashscope.aliyuncs.com/api/v1/services/audio/tts/customization \\\n-H \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n-H \"Content-Type: application/json\" \\\n-d '{\n  \"model\": \"qwen-voice-design\",\n  \"input\": {\n    \"action\": \"delete\",\n    \"voice\": \"qwen-tts-vd-announcer-voice-20251210145409-a1b2\"\n  }\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\napi_key = os.getenv(\"DASHSCOPE_API_KEY\")\nurl = \"https://dashscope.aliyuncs.com/api/v1/services/audio/tts/customization\"\n\nvoice_to_delete = \"qwen-tts-vd-announcer-voice-20251210145409-a1b2\"  # 替换为实际音色名称\n\npayload = {\n  \"model\": \"qwen-voice-design\",  # 此值固定，请勿修改\n  \"input\": {\n    \"action\": \"delete\",\n    \"voice\": voice_to_delete\n  }\n}\n\nheaders = {\n  \"Authorization\": f\"Bearer {api_key}\",\n  \"Content-Type\": \"application/json\"\n}\n\nresponse = requests.post(url, json=payload, headers=headers)\n\nprint(\"HTTP 状态码：\", response.status_code)\n\nif response.status_code == 200:\n  data = response.json()\n  output = data[\"output\"]\n  print(\"已删除音色：\", output[\"voice\"])\nelse:\n  print(\"请求失败：\", response.text)"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.io.BufferedReader;\nimport java.io.InputStreamReader;\nimport java.io.OutputStream;\nimport java.net.HttpURLConnection;\nimport java.net.URL;\n\npublic class Main {\n  public static void main(String[] args) {\n    String apiKey = System.getenv(\"DASHSCOPE_API_KEY\");\n    String apiUrl = \"https://dashscope.aliyuncs.com/api/v1/services/audio/tts/customization\";\n    String voiceToDelete = \"qwen-tts-vd-announcer-voice-20251210145409-a1b2\"; // 替换为实际音色名称\n\n    String jsonPayload =\n        \"{\"\n            + \"\\\"model\\\": \\\"qwen-voice-design\\\",\" // 此值固定，请勿修改\n            + \"\\\"input\\\": {\"\n            +     \"\\\"action\\\": \\\"delete\\\",\"\n            +     \"\\\"voice\\\": \\\"\" + voiceToDelete + \"\\\"\"\n            + \"}\"\n            + \"}\";\n\n    try {\n      HttpURLConnection con = (HttpURLConnection) new URL(apiUrl).openConnection();\n      con.setRequestMethod(\"POST\");\n      con.setRequestProperty(\"Authorization\", \"Bearer \" + apiKey);\n      con.setRequestProperty(\"Content-Type\", \"application/json\");\n      con.setDoOutput(true);\n\n      try (OutputStream os = con.getOutputStream()) {\n        os.write(jsonPayload.getBytes(\"UTF-8\"));\n      }\n\n      int status = con.getResponseCode();\n      BufferedReader br = new BufferedReader(new InputStreamReader(\n          status >= 200 && status < 300 ? con.getInputStream() : con.getErrorStream(), \"UTF-8\"));\n\n      StringBuilder response = new StringBuilder();\n      String line;\n      while ((line = br.readLine()) != null) {\n        response.append(line);\n      }\n      br.close();\n\n      System.out.println(\"HTTP 状态码：\" + status);\n      System.out.println(\"响应内容：\" + response.toString());\n    } catch (Exception e) {\n      e.printStackTrace();\n    }\n  }\n}"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "DeleteVoiceRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "语音设计模型，固定值为 `qwen-voice-design`。",
            "enum": [
              "qwen-voice-design"
            ],
            "example": "qwen-voice-design"
          },
          "input": {
            "type": "object",
            "required": [
              "action",
              "voice"
            ],
            "properties": {
              "action": {
                "type": "string",
                "description": "操作类型，固定值为 `delete`。",
                "enum": [
                  "delete"
                ],
                "example": "delete"
              },
              "voice": {
                "type": "string",
                "description": "要删除的音色名称，可通过[获取音色列表](/api-reference/speech-synthesis/voice-design/list-voices)接口查询。",
                "example": "qwen-tts-vd-announcer-voice-20251210145409-a1b2"
              }
            }
          }
        }
      },
      "DeleteVoiceResponse": {
        "type": "object",
        "properties": {
          "output": {
            "type": "object",
            "properties": {
              "voice": {
                "type": "string",
                "description": "已删除的音色名称。",
                "example": "qwen-tts-vd-announcer-voice-20251210145409-a1b2"
              }
            }
          },
          "usage": {
            "type": "object",
            "description": "用量信息（删除操作时为空）。"
          },
          "request_id": {
            "type": "string",
            "description": "请求 ID，用于问题排查。",
            "example": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "example": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
          },
          "code": {
            "type": "string",
            "description": "错误码。",
            "example": "VoiceNotFound"
          },
          "message": {
            "type": "string",
            "description": "错误信息。",
            "example": "Voice not found: qwen-tts-vd-announcer-voice-xxxx"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "千问AI平台 API Key。详见[获取 API Key](/api-reference/preparation/api-key)。"
      }
    }
  }
}
