{
  "openapi": "3.1.0",
  "info": {
    "title": "Qwen-ASR 音频文件识别 API",
    "description": "Qwen-ASR 音频文件识别 API 参考文档，支持 OpenAI 兼容协议、DashScope 同步协议和 DashScope 异步协议。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dashscope.aliyuncs.com",
      "description": "DashScope API 服务器"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "paths": {
    "/compatible-mode/v1/chat/completions": {
      "post": {
        "operationId": "asrOpenAICompatible",
        "summary": "识别音频（OpenAI 兼容）",
        "description": "通过 OpenAI 兼容的 Chat Completions API 识别音频文件，支持 Qwen3-ASR-Flash。接受 URL 或 Base64 编码数据格式的音频输入。",
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAIASRRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIASRResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Audio URL",
            "source": "from openai import OpenAI\nimport os\n\ntry:\n  client = OpenAI(\n    # 如果您尚未配置环境变量，请将以下代码行替换为您的 API Key：api_key = \"sk-xxx\",\n    api_key=os.getenv(\"DASHSCOPE_API_KEY\"),\n    base_url=\"https://dashscope.aliyuncs.com/compatible-mode/v1\",\n  )\n  \n\n  stream_enabled = False  # 是否启用流式输出\n  completion = client.chat.completions.create(\n    model=\"qwen3-asr-flash\",\n    messages=[\n      {\n        \"content\": [\n          {\n            \"type\": \"input_audio\",\n            \"input_audio\": {\n              \"data\": \"https://dashscope.oss-cn-beijing.aliyuncs.com/audios/welcome.mp3\"\n            }\n          }\n        ],\n        \"role\": \"user\"\n      }\n    ],\n    stream=stream_enabled,\n    # 当 stream 设置为 False 时，不能设置 stream_options 参数\n    # stream_options={\"include_usage\": True},\n    extra_body={\n      \"asr_options\": {\n        # \"language\": \"zh\",\n        \"enable_itn\": False\n      }\n    }\n  )\n  if stream_enabled:\n    full_content = \"\"\n    print(\"流式输出内容为：\")\n    for chunk in completion:\n      # 若 stream_options.include_usage 为 True，最后一个 chunk 的 choices 字段为空列表，应跳过（可通过 chunk.usage 获取 token 用量）\n      print(chunk)\n      if chunk.choices and chunk.choices[0].delta.content:\n        full_content += chunk.choices[0].delta.content\n    print(f\"完整内容为：{full_content}\")\n  else:\n    print(f\"非流式输出内容为：{completion.choices[0].message.content}\")\nexcept Exception as e:\n  print(f\"错误信息：{e}\")"
          },
          {
            "lang": "python",
            "label": "Base64-encoded audio",
            "source": "import base64\nfrom openai import OpenAI\nimport os\nimport pathlib\n\ntry:\n  # 替换为您的音频文件实际路径\n  file_path = \"welcome.mp3\"\n  # 替换为您的音频文件的实际 MIME 类型\n  audio_mime_type = \"audio/mpeg\"\n\n  file_path_obj = pathlib.Path(file_path)\n  if not file_path_obj.exists():\n    raise FileNotFoundError(f\"未找到音频文件：{file_path}\")\n\n  base64_str = base64.b64encode(file_path_obj.read_bytes()).decode()\n  data_uri = f\"data:{audio_mime_type};base64,{base64_str}\"\n\n  client = OpenAI(\n    # 如果您尚未配置环境变量，请将以下代码行替换为您的 API Key：api_key = \"sk-xxx\",\n    api_key=os.getenv(\"DASHSCOPE_API_KEY\"),\n    base_url=\"https://dashscope.aliyuncs.com/compatible-mode/v1\",\n  )\n  \n\n  stream_enabled = False  # 是否启用流式输出\n  completion = client.chat.completions.create(\n    model=\"qwen3-asr-flash\",\n    messages=[\n      {\n        \"content\": [\n          {\n            \"type\": \"input_audio\",\n            \"input_audio\": {\n              \"data\": data_uri\n            }\n          }\n        ],\n        \"role\": \"user\"\n      }\n    ],\n    stream=stream_enabled,\n    # 当 stream 设置为 False 时，不能设置 stream_options 参数\n    # stream_options={\"include_usage\": True},\n    extra_body={\n      \"asr_options\": {\n        # \"language\": \"zh\",\n        \"enable_itn\": False\n      }\n    }\n  )\n  if stream_enabled:\n    full_content = \"\"\n    print(\"流式输出内容为：\")\n    for chunk in completion:\n      # 若 stream_options.include_usage 为 True，最后一个 chunk 的 choices 字段为空列表，应跳过（可通过 chunk.usage 获取 token 用量）\n      print(chunk)\n      if chunk.choices and chunk.choices[0].delta.content:\n        full_content += chunk.choices[0].delta.content\n    print(f\"完整内容为：{full_content}\")\n  else:\n    print(f\"非流式输出内容为：{completion.choices[0].message.content}\")\nexcept Exception as e:\n  print(f\"错误信息：{e}\")"
          },
          {
            "lang": "javascript",
            "label": "Audio URL",
            "source": "// 运行前准备：\n// 适用于 Windows/Mac/Linux：\n// 1. 确保已安装 Node.js（建议版本 >= 14）\n// 2. 运行以下命令安装必要的依赖项：npm install openai\n\nimport OpenAI from \"openai\";\n\nconst client = new OpenAI({\n  // 如果您尚未配置环境变量，请将以下代码行替换为您的 API Key：apiKey: \"sk-xxx\",\n  apiKey: process.env.DASHSCOPE_API_KEY,\n  baseURL: \"https://dashscope.aliyuncs.com/compatible-mode/v1\", \n});\n\nasync function main() {\n  try {\n    const streamEnabled = false; // 是否启用流式输出\n    const completion = await client.chat.completions.create({\n      model: \"qwen3-asr-flash\",\n      messages: [\n        {\n          role: \"user\",\n          content: [\n            {\n              type: \"input_audio\",\n              input_audio: {\n                data: \"https://dashscope.oss-cn-beijing.aliyuncs.com/audios/welcome.mp3\"\n              }\n            }\n          ]\n        }\n      ],\n      stream: streamEnabled,\n      // 当 stream 设置为 false 时，不能设置 stream_options 参数\n      // stream_options: {\n      //   \"include_usage\": true\n      // },\n      extra_body: {\n        asr_options: {\n          // language: \"zh\",\n          enable_itn: false\n        }\n      }\n    });\n\n    if (streamEnabled) {\n      let fullContent = \"\";\n      console.log(\"流式输出内容为：\");\n      for await (const chunk of completion) {\n        console.log(JSON.stringify(chunk));\n        if (chunk.choices && chunk.choices.length > 0) {\n          const delta = chunk.choices[0].delta;\n          if (delta && delta.content) {\n            fullContent += delta.content;\n          }\n        }\n      }\n      console.log(`完整内容为：${fullContent}`);\n    } else {\n      console.log(`非流式输出内容为：${completion.choices[0].message.content}`);\n    }\n  } catch (err) {\n    console.error(`错误信息：${err}`);\n  }\n}\n\nmain();"
          },
          {
            "lang": "javascript",
            "label": "Base64-encoded audio",
            "source": "// 运行前准备：\n// 适用于 Windows/Mac/Linux：\n// 1. 确保已安装 Node.js（建议版本 >= 14）\n// 2. 运行以下命令安装必要的依赖项：npm install openai\n\nimport OpenAI from \"openai\";\nimport { readFileSync } from 'fs';\n\nconst client = new OpenAI({\n  // 如果您尚未配置环境变量，请将以下代码行替换为您的 API Key：apiKey: \"sk-xxx\",\n  apiKey: process.env.DASHSCOPE_API_KEY,\n  baseURL: \"https://dashscope.aliyuncs.com/compatible-mode/v1\", \n});\n\nconst encodeAudioFile = (audioFilePath) => {\n    const audioFile = readFileSync(audioFilePath);\n    return audioFile.toString('base64');\n};\n\n// 替换为您的音频文件实际路径\nconst dataUri = `data:audio/mpeg;base64,${encodeAudioFile(\"welcome.mp3\")}`;\n\nasync function main() {\n  try {\n    const streamEnabled = false; // 是否启用流式输出\n    const completion = await client.chat.completions.create({\n      model: \"qwen3-asr-flash\",\n      messages: [\n        {\n          role: \"user\",\n          content: [\n            {\n              type: \"input_audio\",\n              input_audio: {\n                data: dataUri\n              }\n            }\n          ]\n        }\n      ],\n      stream: streamEnabled,\n      // 当 stream 设置为 false 时，不能设置 stream_options 参数\n      // stream_options: {\n      //   \"include_usage\": true\n      // },\n      extra_body: {\n        asr_options: {\n          // language: \"zh\",\n          enable_itn: false\n        }\n      }\n    });\n\n    if (streamEnabled) {\n      let fullContent = \"\";\n      console.log(\"流式输出内容为：\");\n      for await (const chunk of completion) {\n        console.log(JSON.stringify(chunk));\n        if (chunk.choices && chunk.choices.length > 0) {\n          const delta = chunk.choices[0].delta;\n          if (delta && delta.content) {\n            fullContent += delta.content;\n          }\n        }\n      }\n      console.log(`完整内容为：${fullContent}`);\n    } else {\n      console.log(`非流式输出内容为：${completion.choices[0].message.content}`);\n    }\n  } catch (err) {\n    console.error(`错误信息：${err}`);\n  }\n}\n\nmain();"
          },
          {
            "lang": "bash",
            "label": "Audio URL",
            "source": "curl -X POST 'https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions' \\\n-H \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n-H \"Content-Type: application/json\" \\\n-d '{\n  \"model\": \"qwen3-asr-flash\",\n  \"messages\": [\n    {\n      \"content\": [\n        {\n          \"type\": \"input_audio\",\n          \"input_audio\": {\n            \"data\": \"https://dashscope.oss-cn-beijing.aliyuncs.com/audios/welcome.mp3\"\n          }\n        }\n      ],\n      \"role\": \"user\"\n    }\n  ],\n  \"stream\":false,\n  \"asr_options\": {\n    \"enable_itn\": false\n  }\n}'"
          }
        ]
      }
    },
    "/api/v1/services/aigc/multimodal-generation/generation": {
      "post": {
        "operationId": "asrDashScopeSync",
        "summary": "识别音频（DashScope 同步）",
        "description": "通过 DashScope 同步 API 识别音频文件，支持 Qwen3-ASR-Flash。接受 URL、Base64 编码数据或本地文件路径（仅限 SDK）格式的音频输入。",
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashScopeASRRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashScopeASRResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST \"https://dashscope.aliyuncs.com/api/v1/services/aigc/multimodal-generation/generation\" \\\n-H \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n-H \"Content-Type: application/json\" \\\n-d '{\n  \"model\": \"qwen3-asr-flash\",\n  \"input\": {\n    \"messages\": [\n      {\n        \"content\": [\n          {\n            \"text\": \"\"\n          }\n        ],\n        \"role\": \"system\"\n      },\n      {\n        \"content\": [\n          {\n            \"audio\": \"https://dashscope.oss-cn-beijing.aliyuncs.com/audios/welcome.mp3\"\n          }\n        ],\n        \"role\": \"user\"\n      }\n    ]\n  },\n  \"parameters\": {\n    \"asr_options\": {\n      \"enable_itn\": false\n    }\n  }\n}'"
          },
          {
            "lang": "java",
            "label": "Java SDK",
            "source": "import java.util.Arrays;\nimport java.util.Collections;\nimport java.util.HashMap;\nimport java.util.Map;\n\nimport com.alibaba.dashscope.aigc.multimodalconversation.MultiModalConversation;\nimport com.alibaba.dashscope.aigc.multimodalconversation.MultiModalConversationParam;\nimport com.alibaba.dashscope.aigc.multimodalconversation.MultiModalConversationResult;\nimport com.alibaba.dashscope.common.MultiModalMessage;\nimport com.alibaba.dashscope.common.Role;\nimport com.alibaba.dashscope.exception.ApiException;\nimport com.alibaba.dashscope.exception.NoApiKeyException;\nimport com.alibaba.dashscope.exception.UploadFileException;\nimport com.alibaba.dashscope.utils.Constants;\nimport com.alibaba.dashscope.utils.JsonUtils;\n\npublic class Main {\n  public static void simpleMultiModalConversationCall()\n      throws ApiException, NoApiKeyException, UploadFileException {\n    MultiModalConversation conv = new MultiModalConversation();\n    MultiModalMessage userMessage = MultiModalMessage.builder()\n        .role(Role.USER.getValue())\n        .content(Arrays.asList(\n            Collections.singletonMap(\"audio\", \"https://dashscope.oss-cn-beijing.aliyuncs.com/audios/welcome.mp3\")))\n        .build();\n\n    MultiModalMessage sysMessage = MultiModalMessage.builder().role(Role.SYSTEM.getValue())\n        // 在此处配置自定义识别的上下文\n        .content(Arrays.asList(Collections.singletonMap(\"text\", \"\")))\n        .build();\n\n    Map<String, Object> asrOptions = new HashMap<>();\n    asrOptions.put(\"enable_itn\", false);\n    // asrOptions.put(\"language\", \"zh\"); // 可选。若已知音频语言，可指定此参数以提高识别准确率。\n    MultiModalConversationParam param = MultiModalConversationParam.builder()\n        // 如果您尚未配置环境变量，请将以下代码行替换为您的 API Key：.apiKey(\"sk-xxx\")\n        .apiKey(System.getenv(\"DASHSCOPE_API_KEY\"))\n        .model(\"qwen3-asr-flash\")\n        .message(sysMessage)\n        .message(userMessage)\n        .parameter(\"asr_options\", asrOptions)\n        .build();\n    MultiModalConversationResult result = conv.call(param);\n    System.out.println(JsonUtils.toJson(result));\n  }\n  public static void main(String[] args) {\n    try {\n      Constants.baseHttpApiUrl = \"https://dashscope.aliyuncs.com/api/v1\";\n      simpleMultiModalConversationCall();\n    } catch (ApiException | NoApiKeyException | UploadFileException e) {\n      System.out.println(e.getMessage());\n    }\n    System.exit(0);\n  }\n}"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "import os\nimport dashscope\n\ndashscope.base_http_api_url = 'https://dashscope.aliyuncs.com/api/v1'\n\nmessages = [\n  {\"role\": \"system\", \"content\": [{\"text\": \"\"}]},  # 在此处配置自定义识别的上下文\n  {\"role\": \"user\", \"content\": [{\"audio\": \"https://dashscope.oss-cn-beijing.aliyuncs.com/audios/welcome.mp3\"}]}\n]\n\nresponse = dashscope.MultiModalConversation.call(\n  # 如果您尚未配置环境变量，请将以下代码行替换为您的 API Key：api_key = \"sk-xxx\"\n  api_key=os.getenv(\"DASHSCOPE_API_KEY\"),\n  model=\"qwen3-asr-flash\",\n  messages=messages,\n  result_format=\"message\",\n  asr_options={\n    #\"language\": \"zh\", # 可选。若已知音频语言，可指定此参数以提高识别准确率。\n    \"enable_itn\":False\n  }\n)\nprint(response)"
          }
        ]
      }
    },
    "/api/v1/services/audio/asr/transcription": {
      "post": {
        "operationId": "asrDashScopeAsync",
        "summary": "创建转录任务",
        "description": "创建异步音频转录任务。",
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "X-DashScope-Async",
            "in": "header",
            "required": true,
            "description": "必须设置为 `enable`，用于异步任务提交。",
            "schema": {
              "type": "string",
              "enum": [
                "enable"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncASRRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncASRSubmitResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --location --request POST 'https://dashscope.aliyuncs.com/api/v1/services/audio/asr/transcription' \\\n--header \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n--header \"Content-Type: application/json\" \\\n--header \"X-DashScope-Async: enable\" \\\n--data '{\n  \"model\": \"qwen3-asr-flash-filetrans\",\n  \"input\": {\n    \"file_url\": \"https://dashscope.oss-cn-beijing.aliyuncs.com/audios/welcome.mp3\"\n  },\n  \"parameters\": {\n    \"channel_id\":[\n      0\n    ], \n    \"enable_itn\": false\n  }\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nimport json\nimport os\n\nurl = \"https://dashscope.aliyuncs.com/api/v1/services/audio/asr/transcription\"\n\n# 如果您尚未配置环境变量，请将以下代码行替换为您的 API Key：DASHSCOPE_API_KEY = \"sk-xxx\"\nDASHSCOPE_API_KEY = os.getenv(\"DASHSCOPE_API_KEY\")\n\nheaders = {\n  \"Authorization\": f\"Bearer {DASHSCOPE_API_KEY}\",\n  \"Content-Type\": \"application/json\",\n  \"X-DashScope-Async\": \"enable\"\n}\n\npayload = {\n  \"model\": \"qwen3-asr-flash-filetrans\",\n  \"input\": {\n    \"file_url\": \"https://dashscope.oss-cn-beijing.aliyuncs.com/audios/welcome.mp3\"\n  },\n  \"parameters\": {\n    \"channel_id\": [0],\n    # \"language\": \"zh\",\n    \"enable_itn\": False\n  }\n}\n\nresponse = requests.post(url, headers=headers, data=json.dumps(payload))\nif response.status_code == 200:\n  print(f\"task_id: {response.json()['output']['task_id']}\")\nelse:\n  print(\"任务失败！\")\n  print(response.json())"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import com.google.gson.Gson;\nimport com.google.gson.annotations.SerializedName;\nimport okhttp3.*;\n\nimport java.io.IOException;\n\npublic class Main {\n  private static final String API_URL = \"https://dashscope.aliyuncs.com/api/v1/services/audio/asr/transcription\";\n\n  public static void main(String[] args) {\n    // 如果您尚未配置环境变量，请将以下代码行替换为您的 API Key：String apiKey = \"sk-xxx\"\n    String apiKey = System.getenv(\"DASHSCOPE_API_KEY\");\n\n    OkHttpClient client = new OkHttpClient();\n    Gson gson = new Gson();\n\n    String payloadJson = \"\"\"\n        {\n          \"model\": \"qwen3-asr-flash-filetrans\",\n          \"input\": {\n            \"file_url\": \"https://dashscope.oss-cn-beijing.aliyuncs.com/audios/welcome.mp3\"\n          },\n          \"parameters\": {\n            \"channel_id\": [0],\n            \"enable_itn\": false\n          }\n        }\n        \"\"\";\n\n    RequestBody body = RequestBody.create(payloadJson, MediaType.get(\"application/json; charset=utf-8\"));\n    Request request = new Request.Builder()\n        .url(API_URL)\n        .addHeader(\"Authorization\", \"Bearer \" + apiKey)\n        .addHeader(\"Content-Type\", \"application/json\")\n        .addHeader(\"X-DashScope-Async\", \"enable\")\n        .post(body)\n        .build();\n\n    try (Response response = client.newCall(request).execute()) {\n      if (response.isSuccessful() && response.body() != null) {\n        String respBody = response.body().string();\n        // 使用 Gson 解析 JSON。\n        ApiResponse apiResp = gson.fromJson(respBody, ApiResponse.class);\n        if (apiResp.output != null) {\n          System.out.println(\"task_id: \" + apiResp.output.taskId);\n        } else {\n          System.out.println(respBody);\n        }\n      } else {\n        System.out.println(\"任务失败！HTTP 状态码：\" + response.code());\n        if (response.body() != null) {\n          System.out.println(response.body().string());\n        }\n      }\n    } catch (IOException e) {\n      e.printStackTrace();\n    }\n  }\n\n  static class ApiResponse {\n    @SerializedName(\"request_id\")\n    String requestId;\n\n    Output output;\n  }\n\n  static class Output {\n    @SerializedName(\"task_id\")\n    String taskId;\n\n    @SerializedName(\"task_status\")\n    String taskStatus;\n  }\n}"
          }
        ]
      }
    },
    "/api/v1/tasks/{task_id}": {
      "get": {
        "operationId": "asrGetTaskStatus",
        "summary": "查询任务结果",
        "description": "查询转录任务的状态和结果。",
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "description": "[提交转录任务](/api-reference/speech-recognition/qwen-asr/dashscope-async) 操作返回的任务 ID。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "任务状态响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncASRGetResponse"
                },
                "examples": {
                  "SUCCEEDED": {
                    "summary": "任务成功",
                    "value": {
                      "request_id": "1dca6c0a-0ed1-4662-aa39-xxxxxxxxxxxx",
                      "output": {
                        "task_id": "8fab76d0-0eed-4d20-929f-xxxxxxxxxxxx",
                        "task_status": "SUCCEEDED",
                        "submit_time": "2025-10-27 13:57:45.948",
                        "scheduled_time": "2025-10-27 13:57:46.018",
                        "end_time": "2025-10-27 13:57:47.079",
                        "result": {
                          "transcription_url": "https://dashscope-result.oss-cn-beijing.aliyuncs.com/result.json?Expires=1761631066&OSSAccessKeyId=LTAIxxxx&Signature=xxxx"
                        }
                      },
                      "usage": {
                        "seconds": 3
                      }
                    }
                  },
                  "RUNNING": {
                    "summary": "任务进行中",
                    "value": {
                      "request_id": "6769df07-2768-4fb0-ad59-xxxxxxxxxxxx",
                      "output": {
                        "task_id": "9be1700a-0f8e-4778-be74-xxxxxxxxxxxx",
                        "task_status": "RUNNING",
                        "submit_time": "2025-10-27 14:19:31.150",
                        "scheduled_time": "2025-10-27 14:19:31.233",
                        "task_metrics": {
                          "TOTAL": 1,
                          "SUCCEEDED": 0,
                          "FAILED": 0
                        }
                      }
                    }
                  },
                  "FAILED": {
                    "summary": "任务失败",
                    "value": {
                      "request_id": "3d141841-858a-466a-9ff9-xxxxxxxxxxxx",
                      "output": {
                        "task_id": "c58c7951-7789-4557-9ea3-xxxxxxxxxxxx",
                        "task_status": "FAILED",
                        "submit_time": "2025-10-27 15:06:06.915",
                        "scheduled_time": "2025-10-27 15:06:06.967",
                        "end_time": "2025-10-27 15:06:07.584",
                        "code": "FILE_403_FORBIDDEN",
                        "message": "FILE_403_FORBIDDEN"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --location --request GET 'https://dashscope.aliyuncs.com/api/v1/tasks/{task_id}' \\\n--header \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n--header \"Content-Type: application/json\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\n\n# 如果您尚未配置环境变量，请将以下代码行替换为您的 API Key：DASHSCOPE_API_KEY = \"sk-xxx\"\nDASHSCOPE_API_KEY = os.getenv(\"DASHSCOPE_API_KEY\")\n\n# 替换为实际的 task_id。\ntask_id = \"xxx\"\nurl = f\"https://dashscope.aliyuncs.com/api/v1/tasks/{task_id}\"\n\nheaders = {\n  \"Authorization\": f\"Bearer {DASHSCOPE_API_KEY}\",\n  \"Content-Type\": \"application/json\"\n}\n\nresponse = requests.get(url, headers=headers)\nprint(response.json())"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import okhttp3.*;\n\nimport java.io.IOException;\n\npublic class Main {\n  public static void main(String[] args) {\n    // 替换为实际的 task_id。\n    String taskId = \"xxx\";\n    // 如果您尚未配置环境变量，请将以下代码行替换为您的 API Key：String apiKey = \"sk-xxx\"\n    String apiKey = System.getenv(\"DASHSCOPE_API_KEY\");\n\n    String apiUrl = \"https://dashscope.aliyuncs.com/api/v1/tasks/\" + taskId;\n\n    OkHttpClient client = new OkHttpClient();\n\n    Request request = new Request.Builder()\n        .url(apiUrl)\n        .addHeader(\"Authorization\", \"Bearer \" + apiKey)\n        .addHeader(\"Content-Type\", \"application/json\")\n        .get()\n        .build();\n\n    try (Response response = client.newCall(request).execute()) {\n      if (response.body() != null) {\n        System.out.println(response.body().string());\n      }\n    } catch (IOException e) {\n      e.printStackTrace();\n    }\n  }\n}"
          },
          {
            "lang": "json",
            "label": "Response (SUCCEEDED)",
            "source": "{\n  \"request_id\": \"1dca6c0a-0ed1-4662-aa39-xxxxxxxxxxxx\",\n  \"output\": {\n    \"task_id\": \"8fab76d0-0eed-4d20-929f-xxxxxxxxxxxx\",\n    \"task_status\": \"SUCCEEDED\",\n    \"submit_time\": \"2025-10-27 13:57:45.948\",\n    \"scheduled_time\": \"2025-10-27 13:57:46.018\",\n    \"end_time\": \"2025-10-27 13:57:47.079\",\n    \"result\": {\n      \"transcription_url\": \"https://dashscope-result.oss-cn-beijing.aliyuncs.com/result.json?Expires=1761631066&OSSAccessKeyId=LTAIxxxx&Signature=xxxx\"\n    }\n  },\n  \"usage\": {\n    \"seconds\": 3\n  }\n}"
          },
          {
            "lang": "json",
            "label": "Response (RUNNING)",
            "source": "{\n  \"request_id\": \"6769df07-2768-4fb0-ad59-xxxxxxxxxxxx\",\n  \"output\": {\n    \"task_id\": \"9be1700a-0f8e-4778-be74-xxxxxxxxxxxx\",\n    \"task_status\": \"RUNNING\",\n    \"submit_time\": \"2025-10-27 14:19:31.150\",\n    \"scheduled_time\": \"2025-10-27 14:19:31.233\",\n    \"task_metrics\": {\n      \"TOTAL\": 1,\n      \"SUCCEEDED\": 0,\n      \"FAILED\": 0\n    }\n  }\n}"
          },
          {
            "lang": "json",
            "label": "Response (FAILED)",
            "source": "{\n  \"request_id\": \"3d141841-858a-466a-9ff9-xxxxxxxxxxxx\",\n  \"output\": {\n    \"task_id\": \"c58c7951-7789-4557-9ea3-xxxxxxxxxxxx\",\n    \"task_status\": \"FAILED\",\n    \"submit_time\": \"2025-10-27 15:06:06.915\",\n    \"scheduled_time\": \"2025-10-27 15:06:06.967\",\n    \"end_time\": \"2025-10-27 15:06:07.584\",\n    \"code\": \"FILE_403_FORBIDDEN\",\n    \"message\": \"FILE_403_FORBIDDEN\"\n  }\n}"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "千问AI平台 API Key。详见[获取 API Key](/api-reference/preparation/api-key)。"
      }
    },
    "schemas": {
      "OpenAIASRRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称。仅支持 Qwen3-ASR-Flash。",
            "examples": [
              "qwen3-asr-flash"
            ]
          },
          "messages": {
            "type": "array",
            "description": "消息列表。",
            "items": {
              "type": "object",
              "required": [
                "role",
                "content"
              ],
              "properties": {
                "role": {
                  "type": "string",
                  "description": "消息发送者的角色。",
                  "enum": [
                    "system",
                    "user"
                  ]
                },
                "content": {
                  "type": "array",
                  "description": "消息内容。",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "音频输入时设置为 `input_audio`。",
                        "enum": [
                          "input_audio"
                        ]
                      },
                      "input_audio": {
                        "type": "object",
                        "description": "音频输入对象。",
                        "properties": {
                          "data": {
                            "type": "string",
                            "description": "待识别的音频。支持互联网可访问文件的 URL 和 Base64 编码数据（Data URL 格式：`data:<mediatype>;base64,<data>`）。"
                          }
                        }
                      },
                      "text": {
                        "type": "string",
                        "description": "自定义识别的上下文（仅限系统消息）。提供背景文本、实体词汇表及其他参考信息。长度限制：10,000 个 token。"
                      }
                    }
                  }
                }
              }
            }
          },
          "asr_options": {
            "type": "object",
            "description": "是否启用特定功能。非标准 OpenAI 参数——使用 OpenAI SDK 时请通过 `extra_body` 传递。",
            "properties": {
              "language": {
                "type": "string",
                "description": "若已知音频语言，可指定该参数以提高识别准确率。只能指定一种语言。若音频包含多种语言，请勿设置此参数。",
                "enum": [
                  "zh",
                  "yue",
                  "en",
                  "ja",
                  "de",
                  "ko",
                  "ru",
                  "fr",
                  "pt",
                  "ar",
                  "it",
                  "es",
                  "hi",
                  "id",
                  "th",
                  "tr",
                  "uk",
                  "vi",
                  "cs",
                  "da",
                  "fil",
                  "fi",
                  "is",
                  "ms",
                  "no",
                  "pl",
                  "sv"
                ]
              },
              "enable_itn": {
                "type": "boolean",
                "description": "是否启用逆文本规范化（ITN）。仅适用于中文和英文音频。",
                "default": false
              }
            }
          },
          "stream": {
            "type": "boolean",
            "description": "是否使用流式输出。建议设置为 `true` 以提高响应速度并降低超时风险。",
            "default": false
          },
          "stream_options": {
            "type": "object",
            "description": "流式输出配置。仅在 `stream` 为 `true` 时生效。",
            "properties": {
              "include_usage": {
                "type": "boolean",
                "description": "是否在响应的最后一个数据块中包含 token 消耗信息。",
                "default": false
              }
            }
          }
        }
      },
      "OpenAIASRResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "本次调用的唯一标识符。",
            "example": "chatcmpl-487abe5f-d4f2-9363-a877-xxxxxxx"
          },
          "choices": {
            "type": "array",
            "description": "模型的输出信息。",
            "items": {
              "type": "object",
              "properties": {
                "finish_reason": {
                  "type": "string",
                  "description": "生成中为 `null`，自然结束时为 `stop`，超出最大长度时为 `length`。",
                  "enum": [
                    "stop",
                    "length",
                    null
                  ],
                  "example": "stop"
                },
                "index": {
                  "type": "integer",
                  "description": "`choices` 数组中当前对象的索引。",
                  "example": 0
                },
                "message": {
                  "type": "object",
                  "description": "模型输出的消息对象。",
                  "properties": {
                    "role": {
                      "type": "string",
                      "description": "输出消息的角色，始终为 `assistant`。",
                      "example": "assistant"
                    },
                    "content": {
                      "type": "string",
                      "description": "语音识别结果文本。",
                      "example": "欢迎使用千问AI平台。"
                    },
                    "annotations": {
                      "type": "array",
                      "description": "输出的注释信息，例如语言和情绪。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "固定为 `audio_info`。",
                            "example": "audio_info"
                          },
                          "language": {
                            "type": "string",
                            "description": "识别音频所用的语言。",
                            "enum": [
                              "zh",
                              "yue",
                              "en",
                              "ja",
                              "de",
                              "ko",
                              "ru",
                              "fr",
                              "pt",
                              "ar",
                              "it",
                              "es",
                              "hi",
                              "id",
                              "th",
                              "tr",
                              "uk",
                              "vi",
                              "cs",
                              "da",
                              "fil",
                              "fi",
                              "is",
                              "ms",
                              "no",
                              "pl",
                              "sv"
                            ],
                            "example": "zh"
                          },
                          "emotion": {
                            "type": "string",
                            "description": "识别音频中的情绪。",
                            "enum": [
                              "surprised",
                              "neutral",
                              "happy",
                              "sad",
                              "disgusted",
                              "angry",
                              "fearful"
                            ],
                            "example": "neutral"
                          }
                        }
                      },
                      "example": [
                        {
                          "emotion": "neutral",
                          "language": "zh",
                          "type": "audio_info"
                        }
                      ]
                    }
                  }
                }
              }
            },
            "example": [
              {
                "finish_reason": "stop",
                "index": 0,
                "message": {
                  "annotations": [
                    {
                      "emotion": "neutral",
                      "language": "zh",
                      "type": "audio_info"
                    }
                  ],
                  "content": "欢迎使用千问AI平台。",
                  "role": "assistant"
                }
              }
            ]
          },
          "created": {
            "type": "integer",
            "description": "请求创建时的 UNIX 时间戳（秒）。",
            "example": 1767683986
          },
          "model": {
            "type": "string",
            "description": "本次请求使用的模型。",
            "example": "qwen3-asr-flash"
          },
          "object": {
            "type": "string",
            "description": "始终为 `chat.completion`。",
            "example": "chat.completion"
          },
          "usage": {
            "type": "object",
            "description": "Token 消耗信息。",
            "properties": {
              "completion_tokens": {
                "type": "integer",
                "description": "模型输出的 token 数量。",
                "example": 12
              },
              "completion_tokens_details": {
                "type": "object",
                "properties": {
                  "text_tokens": {
                    "type": "integer",
                    "description": "模型输出文本的 token 数量。",
                    "example": 12
                  }
                }
              },
              "prompt_tokens": {
                "type": "integer",
                "description": "输入的 token 数量。",
                "example": 42
              },
              "prompt_tokens_details": {
                "type": "object",
                "properties": {
                  "audio_tokens": {
                    "type": "integer",
                    "description": "输入音频的 token 长度。每秒音频折算为 25 个 token，不足 1 秒按 1 秒计算。",
                    "example": 42
                  },
                  "text_tokens": {
                    "type": "integer",
                    "description": "忽略此参数。",
                    "example": 0
                  }
                }
              },
              "seconds": {
                "type": "integer",
                "description": "音频时长（秒）。",
                "example": 1
              },
              "total_tokens": {
                "type": "integer",
                "description": "输入和输出的 token 总量。",
                "example": 54
              }
            }
          }
        },
        "examples": [
          {
            "summary": "非流式响应",
            "value": {
              "choices": [
                {
                  "finish_reason": "stop",
                  "index": 0,
                  "message": {
                    "annotations": [
                      {
                        "emotion": "neutral",
                        "language": "zh",
                        "type": "audio_info"
                      }
                    ],
                    "content": "欢迎使用千问AI平台。",
                    "role": "assistant"
                  }
                }
              ],
              "created": 1767683986,
              "id": "chatcmpl-487abe5f-d4f2-9363-a877-xxxxxxx",
              "model": "qwen3-asr-flash",
              "object": "chat.completion",
              "usage": {
                "completion_tokens": 12,
                "completion_tokens_details": {
                  "text_tokens": 12
                },
                "prompt_tokens": 42,
                "prompt_tokens_details": {
                  "audio_tokens": 42,
                  "text_tokens": 0
                },
                "seconds": 1,
                "total_tokens": 54
              }
            }
          }
        ]
      },
      "DashScopeASRRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称。仅支持 Qwen3-ASR-Flash。",
            "examples": [
              "qwen3-asr-flash"
            ]
          },
          "input": {
            "type": "object",
            "required": [
              "messages"
            ],
            "description": "输入对象。",
            "properties": {
              "messages": {
                "type": "array",
                "description": "消息列表。",
                "items": {
                  "type": "object",
                  "required": [
                    "role",
                    "content"
                  ],
                  "properties": {
                    "role": {
                      "type": "string",
                      "description": "消息发送者的角色。",
                      "enum": [
                        "system",
                        "user"
                      ]
                    },
                    "content": {
                      "type": "array",
                      "description": "消息内容。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "audio": {
                            "type": "string",
                            "description": "待识别的音频（用户消息）。支持 URL、Base64 编码数据和本地文件路径（仅限 SDK）。"
                          },
                          "text": {
                            "type": "string",
                            "description": "自定义识别的上下文（系统消息）。长度限制：10,000 个 token。"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "parameters": {
            "type": "object",
            "description": "附加参数。",
            "properties": {
              "asr_options": {
                "type": "object",
                "description": "是否启用特定功能。仅 Qwen3-ASR-Flash 支持。",
                "properties": {
                  "language": {
                    "type": "string",
                    "description": "若已知音频语言，可指定该参数以提高识别准确率。只能指定一种语言。若音频包含多种语言，请勿设置此参数。",
                    "enum": [
                      "zh",
                      "yue",
                      "en",
                      "ja",
                      "de",
                      "ko",
                      "ru",
                      "fr",
                      "pt",
                      "ar",
                      "it",
                      "es",
                      "hi",
                      "id",
                      "th",
                      "tr",
                      "uk",
                      "vi",
                      "cs",
                      "da",
                      "fil",
                      "fi",
                      "is",
                      "ms",
                      "no",
                      "pl",
                      "sv"
                    ]
                  },
                  "enable_itn": {
                    "type": "boolean",
                    "description": "是否启用逆文本规范化（ITN）。仅适用于中文和英文音频。",
                    "default": false
                  }
                }
              }
            }
          }
        }
      },
      "DashScopeASRResponse": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "本次调用的唯一标识符。Java SDK 中返回为 `requestId`。",
            "example": "568e2bf0-d6f2-97f8-9f15-a57b11dc6977"
          },
          "output": {
            "type": "object",
            "description": "调用结果。",
            "properties": {
              "choices": {
                "type": "array",
                "description": "模型输出，当 `result_format` 为 `message` 时返回。",
                "items": {
                  "type": "object",
                  "properties": {
                    "finish_reason": {
                      "type": "string",
                      "description": "生成中为 `null`，自然结束时为 `stop`，超出最大长度时为 `length`。",
                      "enum": [
                        "stop",
                        "length",
                        null
                      ],
                      "example": "stop"
                    },
                    "message": {
                      "type": "object",
                      "description": "模型输出的消息对象。",
                      "properties": {
                        "role": {
                          "type": "string",
                          "description": "输出消息的角色，始终为 `assistant`。",
                          "example": "assistant"
                        },
                        "content": {
                          "type": "array",
                          "description": "输出消息内容。",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "description": "语音识别结果文本。",
                                "example": "欢迎使用千问AI平台。"
                              }
                            }
                          },
                          "example": [
                            {
                              "text": "欢迎使用千问AI平台。"
                            }
                          ]
                        },
                        "annotations": {
                          "type": "array",
                          "description": "输出的注释信息。",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "固定为 `audio_info`。",
                                "example": "audio_info"
                              },
                              "language": {
                                "type": "string",
                                "description": "识别音频所用的语言。",
                                "enum": [
                                  "zh",
                                  "yue",
                                  "en",
                                  "ja",
                                  "de",
                                  "ko",
                                  "ru",
                                  "fr",
                                  "pt",
                                  "ar",
                                  "it",
                                  "es",
                                  "hi",
                                  "id",
                                  "th",
                                  "tr",
                                  "uk",
                                  "vi",
                                  "cs",
                                  "da",
                                  "fil",
                                  "fi",
                                  "is",
                                  "ms",
                                  "no",
                                  "pl",
                                  "sv"
                                ],
                                "example": "zh"
                              },
                              "emotion": {
                                "type": "string",
                                "description": "识别音频中的情绪。",
                                "enum": [
                                  "surprised",
                                  "neutral",
                                  "happy",
                                  "sad",
                                  "disgusted",
                                  "angry",
                                  "fearful"
                                ],
                                "example": "neutral"
                              }
                            }
                          },
                          "example": [
                            {
                              "language": "zh",
                              "type": "audio_info",
                              "emotion": "neutral"
                            }
                          ]
                        }
                      }
                    }
                  }
                },
                "example": [
                  {
                    "finish_reason": "stop",
                    "message": {
                      "annotations": [
                        {
                          "language": "zh",
                          "type": "audio_info",
                          "emotion": "neutral"
                        }
                      ],
                      "content": [
                        {
                          "text": "欢迎使用千问AI平台。"
                        }
                      ],
                      "role": "assistant"
                    }
                  }
                ]
              }
            }
          },
          "usage": {
            "type": "object",
            "description": "Token 消耗信息。",
            "properties": {
              "input_tokens_details": {
                "type": "object",
                "properties": {
                  "text_tokens": {
                    "type": "integer",
                    "description": "忽略此参数。",
                    "example": 0
                  }
                }
              },
              "output_tokens_details": {
                "type": "object",
                "properties": {
                  "text_tokens": {
                    "type": "integer",
                    "description": "识别文本输出的 token 长度。",
                    "example": 6
                  }
                }
              },
              "seconds": {
                "type": "integer",
                "description": "音频时长（秒）。",
                "example": 1
              }
            }
          }
        },
        "examples": [
          {
            "summary": "DashScope 同步响应",
            "value": {
              "output": {
                "choices": [
                  {
                    "finish_reason": "stop",
                    "message": {
                      "annotations": [
                        {
                          "language": "zh",
                          "type": "audio_info",
                          "emotion": "neutral"
                        }
                      ],
                      "content": [
                        {
                          "text": "欢迎使用千问AI平台。"
                        }
                      ],
                      "role": "assistant"
                    }
                  }
                ]
              },
              "usage": {
                "input_tokens_details": {
                  "text_tokens": 0
                },
                "output_tokens_details": {
                  "text_tokens": 6
                },
                "seconds": 1
              },
              "request_id": "568e2bf0-d6f2-97f8-9f15-a57b11dc6977"
            }
          }
        ]
      },
      "AsyncASRRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称。仅支持 Qwen3-ASR-Flash-Filetrans。",
            "examples": [
              "qwen3-asr-flash-filetrans"
            ]
          },
          "input": {
            "type": "object",
            "required": [
              "file_url"
            ],
            "description": "输入对象。",
            "properties": {
              "file_url": {
                "type": "string",
                "description": "待识别音频文件的 URL，必须可通过互联网访问。"
              }
            }
          },
          "parameters": {
            "type": "object",
            "description": "附加参数。",
            "properties": {
              "language": {
                "type": "string",
                "description": "若已知音频语言，可指定该参数以提高识别准确率。",
                "enum": [
                  "zh",
                  "yue",
                  "en",
                  "ja",
                  "de",
                  "ko",
                  "ru",
                  "fr",
                  "pt",
                  "ar",
                  "it",
                  "es",
                  "hi",
                  "id",
                  "th",
                  "tr",
                  "uk",
                  "vi",
                  "cs",
                  "da",
                  "fil",
                  "fi",
                  "is",
                  "ms",
                  "no",
                  "pl",
                  "sv"
                ]
              },
              "enable_itn": {
                "type": "boolean",
                "description": "是否启用逆文本规范化（ITN）。仅适用于中文和英文音频。",
                "default": false
              },
              "enable_words": {
                "type": "boolean",
                "description": "是否返回词级时间戳。设置为 `false` 时返回句级时间戳；设置为 `true` 时返回词级时间戳（支持中文、英文、日语、韩语、德语、法语、西班牙语、意大利语、葡萄牙语和俄语）。同时影响断句方式：`false` 基于 VAD 断句，`true` 基于 VAD 和标点符号断句。",
                "default": false
              },
              "text": {
                "type": "string",
                "description": "自定义识别的上下文。提供背景文本、实体词汇表及其他参考信息。长度限制：10,000 个 token。"
              },
              "channel_id": {
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "description": "多轨音频文件中需要识别的音轨索引，从 0 开始。默认值：`[0]`。每个指定轨道单独计费。",
                "default": [
                  0
                ]
              }
            }
          }
        }
      },
      "AsyncASRSubmitResponse": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "本次调用的唯一标识符。",
            "example": "92e3decd-0c69-47a8-xxxxxxxxxxxx"
          },
          "output": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "任务 ID，用于查询任务结果。",
                "example": "8fab76d0-0eed-4d20-929f-xxxxxxxxxxxx"
              },
              "task_status": {
                "type": "string",
                "description": "任务状态。",
                "enum": [
                  "PENDING",
                  "RUNNING",
                  "SUCCEEDED",
                  "FAILED",
                  "UNKNOWN"
                ],
                "example": "PENDING"
              }
            }
          }
        },
        "examples": [
          {
            "summary": "任务已提交",
            "value": {
              "request_id": "92e3decd-0c69-47a8-xxxxxxxxxxxx",
              "output": {
                "task_id": "8fab76d0-0eed-4d20-929f-xxxxxxxxxxxx",
                "task_status": "PENDING"
              }
            }
          }
        ]
      },
      "AsyncASRGetResponse": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "本次调用的唯一标识符。",
            "example": "1dca6c0a-0ed1-4662-aa39-xxxxxxxxxxxx"
          },
          "output": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "任务 ID。",
                "example": "8fab76d0-0eed-4d20-929f-xxxxxxxxxxxx"
              },
              "task_status": {
                "type": "string",
                "description": "任务状态。",
                "enum": [
                  "PENDING",
                  "RUNNING",
                  "SUCCEEDED",
                  "FAILED",
                  "UNKNOWN"
                ],
                "example": "SUCCEEDED"
              },
              "result": {
                "type": "object",
                "description": "识别结果（任务状态为 SUCCEEDED 时返回）。",
                "properties": {
                  "transcription_url": {
                    "type": "string",
                    "description": "识别结果 JSON 文件的下载链接，有效期 24 小时。",
                    "example": "https://dashscope-result.oss-cn-beijing.aliyuncs.com/result.json?Expires=1761631066&OSSAccessKeyId=LTAIxxxx&Signature=xxxx"
                  }
                }
              },
              "submit_time": {
                "type": "string",
                "description": "任务提交时间。",
                "example": "2025-10-27 13:57:45.948"
              },
              "scheduled_time": {
                "type": "string",
                "description": "任务调度时间（执行开始时间）。",
                "example": "2025-10-27 13:57:46.018"
              },
              "end_time": {
                "type": "string",
                "description": "任务结束时间。",
                "example": "2025-10-27 13:57:47.079"
              },
              "task_metrics": {
                "type": "object",
                "description": "任务指标，包含子任务状态统计。",
                "properties": {
                  "TOTAL": {
                    "type": "integer",
                    "description": "子任务总数。",
                    "example": 1
                  },
                  "SUCCEEDED": {
                    "type": "integer",
                    "description": "成功的子任务数。",
                    "example": 0
                  },
                  "FAILED": {
                    "type": "integer",
                    "description": "失败的子任务数。",
                    "example": 0
                  }
                }
              },
              "code": {
                "type": "string",
                "description": "错误码，仅在任务失败时返回。",
                "example": "FILE_403_FORBIDDEN"
              },
              "message": {
                "type": "string",
                "description": "错误信息，仅在任务失败时返回。",
                "example": "FILE_403_FORBIDDEN"
              }
            }
          },
          "usage": {
            "type": "object",
            "description": "Token 消耗信息。",
            "properties": {
              "seconds": {
                "type": "integer",
                "description": "音频时长（秒）。",
                "example": 3
              }
            }
          }
        },
        "examples": [
          {
            "summary": "SUCCEEDED",
            "value": {
              "request_id": "1dca6c0a-0ed1-4662-aa39-xxxxxxxxxxxx",
              "output": {
                "task_id": "8fab76d0-0eed-4d20-929f-xxxxxxxxxxxx",
                "task_status": "SUCCEEDED",
                "submit_time": "2025-10-27 13:57:45.948",
                "scheduled_time": "2025-10-27 13:57:46.018",
                "end_time": "2025-10-27 13:57:47.079",
                "result": {
                  "transcription_url": "https://dashscope-result.oss-cn-beijing.aliyuncs.com/result.json?Expires=1761631066&OSSAccessKeyId=LTAIxxxx&Signature=xxxx"
                }
              },
              "usage": {
                "seconds": 3
              }
            }
          },
          {
            "summary": "RUNNING",
            "value": {
              "request_id": "6769df07-2768-4fb0-ad59-xxxxxxxxxxxx",
              "output": {
                "task_id": "9be1700a-0f8e-4778-be74-xxxxxxxxxxxx",
                "task_status": "RUNNING",
                "submit_time": "2025-10-27 14:19:31.150",
                "scheduled_time": "2025-10-27 14:19:31.233",
                "task_metrics": {
                  "TOTAL": 1,
                  "SUCCEEDED": 0,
                  "FAILED": 0
                }
              }
            }
          },
          {
            "summary": "FAILED",
            "value": {
              "request_id": "3d141841-858a-466a-9ff9-xxxxxxxxxxxx",
              "output": {
                "task_id": "c58c7951-7789-4557-9ea3-xxxxxxxxxxxx",
                "task_status": "FAILED",
                "submit_time": "2025-10-27 15:06:06.915",
                "scheduled_time": "2025-10-27 15:06:06.967",
                "end_time": "2025-10-27 15:06:07.584",
                "code": "FILE_403_FORBIDDEN",
                "message": "FILE_403_FORBIDDEN"
              }
            }
          }
        ]
      }
    }
  }
}
