{
  "openapi": "3.1.0",
  "info": {
    "title": "千问AI平台声音克隆 API — 删除声音",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dashscope.aliyuncs.com/api/v1",
      "description": "DashScope API 服务器"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/services/audio/tts/customization": {
      "post": {
        "operationId": "deleteClonedVoice",
        "summary": "删除克隆声音",
        "description": "删除指定的克隆声音并释放其占用的配额。每个账号最多可创建 1,000 个声音。超过一年未用于合成的声音将被自动删除。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteClonedVoiceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "声音删除成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteClonedVoiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "声音不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST https://dashscope.aliyuncs.com/api/v1/services/audio/tts/customization \\\n-H \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n-H \"Content-Type: application/json\" \\\n-d '{\n  \"model\": \"qwen-voice-enrollment\",\n  \"input\": {\n    \"action\": \"delete\",\n    \"voice\": \"yourVoice\"\n  }\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\napi_key = os.getenv(\"DASHSCOPE_API_KEY\")\nurl = \"https://dashscope.aliyuncs.com/api/v1/services/audio/tts/customization\"\n\nvoice_to_delete = \"yourVoice\"  # 要删除的声音名称（替换为实际值）\n\npayload = {\n  \"model\": \"qwen-voice-enrollment\", # 请勿修改此值\n  \"input\": {\n    \"action\": \"delete\",\n    \"voice\": voice_to_delete\n  }\n}\n\nheaders = {\n  \"Authorization\": f\"Bearer {api_key}\",\n  \"Content-Type\": \"application/json\"\n}\n\nresponse = requests.post(url, json=payload, headers=headers)\n\nprint(\"HTTP 状态码：\", response.status_code)\n\nif response.status_code == 200:\n  data = response.json()\n  request_id = data[\"request_id\"]\n\n  print(f\"删除成功\")\n  print(f\"请求 ID：{request_id}\")\nelse:\n  print(\"请求失败：\", response.text)"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import com.google.gson.Gson;\nimport com.google.gson.JsonObject;\n\nimport java.io.BufferedReader;\nimport java.io.InputStreamReader;\nimport java.io.OutputStream;\nimport java.net.HttpURLConnection;\nimport java.net.URL;\n\npublic class Main {\n  public static void main(String[] args) {\n    String apiKey = System.getenv(\"DASHSCOPE_API_KEY\");\n    String apiUrl = \"https://dashscope.aliyuncs.com/api/v1/services/audio/tts/customization\";\n    String voiceToDelete = \"yourVoice\"; // 要删除的声音名称（替换为实际值）\n\n    String jsonPayload =\n        \"{\"\n            + \"\\\"model\\\": \\\"qwen-voice-enrollment\\\",\" // 请勿修改此值\n            + \"\\\"input\\\": {\"\n            +     \"\\\"action\\\": \\\"delete\\\",\"\n            +     \"\\\"voice\\\": \\\"\" + voiceToDelete + \"\\\"\"\n            + \"}\"\n            + \"}\";\n\n    try {\n      HttpURLConnection con = (HttpURLConnection) new URL(apiUrl).openConnection();\n      con.setRequestMethod(\"POST\");\n      con.setRequestProperty(\"Authorization\", \"Bearer \" + apiKey);\n      con.setRequestProperty(\"Content-Type\", \"application/json\");\n      con.setDoOutput(true);\n\n      try (OutputStream os = con.getOutputStream()) {\n        os.write(jsonPayload.getBytes(\"UTF-8\"));\n      }\n\n      int status = con.getResponseCode();\n      BufferedReader br = new BufferedReader(new InputStreamReader(\n          status >= 200 && status < 300 ? con.getInputStream() : con.getErrorStream(), \"UTF-8\"));\n\n      StringBuilder response = new StringBuilder();\n      String line;\n      while ((line = br.readLine()) != null) {\n        response.append(line);\n      }\n      br.close();\n\n      System.out.println(\"HTTP 状态码：\" + status);\n      System.out.println(\"响应内容：\" + response.toString());\n\n      if (status == 200) {\n        Gson gson = new Gson();\n        JsonObject jsonObj = gson.fromJson(response.toString(), JsonObject.class);\n        String requestId = jsonObj.get(\"request_id\").getAsString();\n\n        System.out.println(\"删除成功\");\n        System.out.println(\"请求 ID：\" + requestId);\n      }\n\n    } catch (Exception e) {\n      e.printStackTrace();\n    }\n  }\n}"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "DeleteClonedVoiceRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "声音克隆模型，固定为 `qwen-voice-enrollment`。",
            "enum": [
              "qwen-voice-enrollment"
            ],
            "example": "qwen-voice-enrollment"
          },
          "input": {
            "type": "object",
            "required": [
              "action",
              "voice"
            ],
            "properties": {
              "action": {
                "type": "string",
                "description": "操作类型，固定为 `delete`。",
                "enum": [
                  "delete"
                ],
                "example": "delete"
              },
              "voice": {
                "type": "string",
                "description": "要删除的声音名称。可通过[查询克隆声音列表](/api-reference/speech-synthesis/voice-cloning/list-voices)接口获取声音名称。",
                "example": "qwen-tts-vc-guanyu-voice-20250812105009984-838b"
              }
            }
          }
        }
      },
      "DeleteClonedVoiceResponse": {
        "type": "object",
        "properties": {
          "output": {
            "type": "object",
            "properties": {
              "voice": {
                "type": "string",
                "description": "已删除的声音名称。",
                "example": "qwen-tts-vc-guanyu-voice-20250812105009984-838b"
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer",
                "description": "始终为 `0`。删除声音不计费。",
                "example": 0
              }
            }
          },
          "request_id": {
            "type": "string",
            "description": "请求 ID，用于问题排查。",
            "example": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "example": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
          },
          "code": {
            "type": "string",
            "description": "错误码。",
            "example": "BadRequest.VoiceNotFound"
          },
          "message": {
            "type": "string",
            "description": "错误信息。",
            "example": "Voice not found: yourVoice"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "千问AI平台 API Key。详见[获取 API Key](/api-reference/preparation/api-key)。"
      }
    }
  }
}
