{
  "openapi": "3.1.0",
  "info": {
    "title": "AnimateAnyone Image Detection API",
    "description": "AnimateAnyone 图像检测 API。检测输入图像是否符合 AnimateAnyone 视频生成模型的人物图像规格要求。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dashscope.aliyuncs.com/api/v1",
      "description": "千问AI平台"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/services/aigc/image2video/aa-detect": {
      "post": {
        "operationId": "detectAnimateAnyonePortrait",
        "summary": "检测人物图像",
        "description": "检测输入图像是否符合 AnimateAnyone 视频生成模型的人物图像规格要求。返回图像是否通过检测以及人物体型（半身/全身）。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AADetectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "检测成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AADetectResponse"
                },
                "examples": {
                  "pass": {
                    "summary": "检测通过",
                    "value": {
                      "output": {
                        "check_pass": true,
                        "bodystyle": "full"
                      },
                      "usage": {
                        "image_count": 1
                      },
                      "request_id": "76df937d-6eb6-40aa-9ccf-xxxxxx"
                    }
                  },
                  "fail": {
                    "summary": "检测未通过",
                    "value": {
                      "output": {
                        "check_pass": false,
                        "reason": "The input image has no human body. Please upload other image with single person.",
                        "bodystyle": ""
                      },
                      "usage": {
                        "image_count": 1
                      },
                      "request_id": "c56f62df-724e-9c19-96bd-xxxxxx"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求参数无效",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashScopeErrorResponse"
                },
                "examples": {
                  "InvalidParameter": {
                    "summary": "参数缺失或无效",
                    "value": {
                      "code": "InvalidParameter",
                      "message": "Required parameter(s) missing or invalid, please check the request parameters.",
                      "request_id": "fb53c4ec-1c12-4fc4-a580-cdb7c3261fc1"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "认证失败 — API Key 无效或缺失",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashScopeErrorResponse"
                },
                "examples": {
                  "InvalidApiKey": {
                    "summary": "API Key 无效",
                    "value": {
                      "code": "InvalidApiKey",
                      "message": "No API-key provided.",
                      "request_id": "7438d53d-6eb8-4596-8835-xxxxxx"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "超出速率限制",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashScopeErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端内部错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashScopeErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --location --request POST 'https://dashscope.aliyuncs.com/api/v1/services/aigc/image2video/aa-detect' \\\n--header \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n  \"model\": \"animate-anyone-detect-gen2\",\n  \"input\": {\n    \"image_url\": \"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20251224/pkswoc/p883941.png\"\n  }\n}'"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "千问AI平台 API Key。详见[获取 API Key](/api-reference/preparation/api-key)。"
      }
    },
    "schemas": {
      "AADetectRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称，固定为 `animate-anyone-detect-gen2`。",
            "enum": [
              "animate-anyone-detect-gen2"
            ],
            "example": "animate-anyone-detect-gen2"
          },
          "input": {
            "type": "object",
            "required": [
              "image_url"
            ],
            "description": "输入图像参数。",
            "properties": {
              "image_url": {
                "type": "string",
                "format": "uri",
                "description": "待检测图像的公网可访问 URL。必须为 HTTP 或 HTTPS 协议的公网可访问地址。\n\n<Tip>如需将本地图像上传获取临时 URL，请参考[上传文件获取临时URL](/api-reference/platform-api/file/upload-file)。</Tip>",
                "example": "https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20251224/pkswoc/p883941.png"
              }
            }
          }
        }
      },
      "AADetectResponse": {
        "type": "object",
        "description": "AnimateAnyone 人物图像检测响应。",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "请求唯一标识符，用于链路追踪和问题排查。",
            "example": "76df937d-6eb6-40aa-9ccf-xxxxxx"
          },
          "output": {
            "type": "object",
            "description": "检测结果。",
            "properties": {
              "check_pass": {
                "type": "boolean",
                "description": "图像是否通过检测。`true` 表示图像符合 AnimateAnyone 视频生成模型的人物图像规格要求，`false` 表示不符合。",
                "example": true
              },
              "bodystyle": {
                "type": "string",
                "description": "人物体型类别。`half` 表示半身图，`full` 表示全身图。检测未通过时返回空字符串。",
                "enum": [
                  "half",
                  "full",
                  ""
                ],
                "example": "full"
              },
              "reason": {
                "type": "string",
                "description": "检测未通过时的原因说明。仅当 `check_pass` 为 `false` 时返回此字段。"
              }
            }
          },
          "usage": {
            "type": "object",
            "description": "使用量统计。",
            "properties": {
              "image_count": {
                "type": "integer",
                "description": "本次检测的图像数量，固定为 `1`。用于计费。",
                "example": 1
              }
            }
          }
        }
      },
      "DashScopeErrorResponse": {
        "type": "object",
        "description": "DashScope API 错误响应。",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "请求唯一标识符。",
            "example": "fb53c4ec-1c12-4fc4-a580-cdb7c3261fc1"
          },
          "code": {
            "type": "string",
            "description": "错误码。",
            "example": "InvalidParameter"
          },
          "message": {
            "type": "string",
            "description": "错误描述信息。",
            "example": "Required parameter(s) missing or invalid, please check the request parameters."
          }
        }
      }
    }
  }
}
