{
  "openapi": "3.1.0",
  "info": {
    "title": "声音复刻 API — 删除克隆音色（CosyVoice）",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dashscope.aliyuncs.com/api/v1"
    }
  ],
  "security": [{ "BearerAuth": [] }],
  "paths": {
    "/services/audio/tts/customization": {
      "post": {
        "operationId": "deleteVoiceCloningCosyVoice",
        "summary": "删除克隆音色（CosyVoice）",
        "description": "删除指定的 CosyVoice 克隆音色。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DeleteRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "删除成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeleteResponse" }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST https://dashscope.aliyuncs.com/api/v1/services/audio/tts/customization \\\n-H \"Authorization: Bearer $DASHSCOPE_API_KEY\" \\\n-H \"Content-Type: application/json\" \\\n-d '{\n  \"model\": \"voice-enrollment\",\n  \"input\": {\n    \"action\": \"delete_voice\",\n    \"voice_id\": \"cosyvoice-v3.5-plus-myvoice-xxxxxx\"\n  }\n}'"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "DeleteRequest": {
        "type": "object",
        "required": ["model", "input"],
        "properties": {
          "model": {
            "type": "string",
            "description": "固定为 `voice-enrollment`。",
            "enum": ["voice-enrollment"],
            "example": "voice-enrollment"
          },
          "input": {
            "type": "object",
            "required": ["action", "voice_id"],
            "properties": {
              "action": {
                "type": "string",
                "description": "固定为 `delete_voice`。",
                "enum": ["delete_voice"],
                "example": "delete_voice"
              },
              "voice_id": {
                "type": "string",
                "description": "要删除的音色 ID。",
                "example": "cosyvoice-v3.5-plus-myvoice-xxxxxx"
              }
            }
          }
        }
      },
      "DeleteResponse": {
        "type": "object",
        "properties": {
          "output": {
            "type": "object",
            "description": "删除操作返回空对象。"
          },
          "usage": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer",
                "description": "固定为 `1`。",
                "example": 1
              }
            }
          },
          "request_id": {
            "type": "string",
            "description": "请求 ID，用于问题排查。",
            "example": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "DashScope API Key。前往[获取 API Key](/api-reference/preparation/api-key)。"
      }
    }
  }
}
